lib/puppet/util/network_device/wsdl/ASM.WebApplicationGroup.wsdl

<?xml version="1.0" ?>
<!--
Copyright (c) 1996-2012, F5 Networks, Inc., Seattle, Washington. All rights reserved.  

F5, F5 Networks, the F5 logo, BIG-IP, 3-DNS, iControl, GLOBAL-SITE, SEE-IT, EDGE-FX, FireGuard, Internet Control Architecture, IP Application Switch, iRules, PACKET VELOCITY, SYN Check, CONTROL YOUR WORLD, OneConnect, ZoneRunner, uRoam, FirePass, and TrafficShield are registered trademarks or trademarks of F5 Networks, Inc., in the U.S. and certain other countries. 

All other trademarks mentioned in this document are the property of their respective owners. F5 Networks' trademarks may not be used in connection with any product or service except as permitted in writing by F5.

-->
<definitions name="ASM.WebApplicationGroup"
	targetNamespace="urn:iControl"
	xmlns:tns="urn:iControl"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns="http://schemas.xmlsoap.org/wsdl/">

<!-- types -->

<types>
	<xsd:schema targetNamespace='urn:iControl'
		xmlns='http://www.w3.org/2001/XMLSchema'
		xmlns:SOAP-ENC='http://schemas.xmlsoap.org/soap/encoding/'
		xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>
		<xsd:complexType name="Common.StringSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:string[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:complexType name="ASM.WebApplicationGroupDefinitionSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='tns:ASM.WebApplicationGroupDefinition[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:complexType name="Common.StringSequenceSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='tns:Common.StringSequence[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:complexType name="ASM.WebApplicationGroupDefinition">
			<xsd:sequence>
				<xsd:element name="value" type="xsd:string"/>
				<xsd:element name="ungrouped_flag" type="xsd:boolean"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:schema>
</types>

<!-- message -->

<message name="ASM.WebApplicationGroup.get_listRequest">
</message>
<message name="ASM.WebApplicationGroup.get_listResponse">
	<part name="return" type="tns:ASM.WebApplicationGroupDefinitionSequence"/>
</message>

<message name="ASM.WebApplicationGroup.createRequest">
	<part name="group_names" type="tns:Common.StringSequence"/>
</message>
<message name="ASM.WebApplicationGroup.createResponse">
</message>

<message name="ASM.WebApplicationGroup.delete_groupRequest">
	<part name="group_names" type="tns:Common.StringSequence"/>
</message>
<message name="ASM.WebApplicationGroup.delete_groupResponse">
</message>

<message name="ASM.WebApplicationGroup.delete_all_groupsRequest">
</message>
<message name="ASM.WebApplicationGroup.delete_all_groupsResponse">
</message>

<message name="ASM.WebApplicationGroup.add_webappRequest">
	<part name="group_names" type="tns:Common.StringSequence"/>
	<part name="webapp_names" type="tns:Common.StringSequenceSequence"/>
</message>
<message name="ASM.WebApplicationGroup.add_webappResponse">
</message>

<message name="ASM.WebApplicationGroup.remove_webappRequest">
	<part name="group_names" type="tns:Common.StringSequence"/>
	<part name="webapp_names" type="tns:Common.StringSequenceSequence"/>
</message>
<message name="ASM.WebApplicationGroup.remove_webappResponse">
</message>

<message name="ASM.WebApplicationGroup.remove_all_webappsRequest">
	<part name="group_names" type="tns:Common.StringSequence"/>
</message>
<message name="ASM.WebApplicationGroup.remove_all_webappsResponse">
</message>

<message name="ASM.WebApplicationGroup.get_webapp_listRequest">
	<part name="group_names" type="tns:ASM.WebApplicationGroupDefinitionSequence"/>
</message>
<message name="ASM.WebApplicationGroup.get_webapp_listResponse">
	<part name="return" type="tns:Common.StringSequenceSequence"/>
</message>

<message name="ASM.WebApplicationGroup.get_versionRequest">
</message>
<message name="ASM.WebApplicationGroup.get_versionResponse">
	<part name="return" type="xsd:string"/>
</message>

<!-- portType -->

<portType name="ASM.WebApplicationGroupPortType">
	<operation name="get_list">
 	<documentation>
 Gets a list of all policy groups.
 
        	</documentation>
		<input message="tns:ASM.WebApplicationGroup.get_listRequest"/>
		<output message="tns:ASM.WebApplicationGroup.get_listResponse"/>
	</operation>
	<operation name="create">
	<documentation>
 Creates a new policy group.
 
        	</documentation>
		<input message="tns:ASM.WebApplicationGroup.createRequest"/>
		<output message="tns:ASM.WebApplicationGroup.createResponse"/>
	</operation>
	<operation name="delete_group">
	<documentation>
 Deletes the specified policy group.
 
        	</documentation>
		<input message="tns:ASM.WebApplicationGroup.delete_groupRequest"/>
		<output message="tns:ASM.WebApplicationGroup.delete_groupResponse"/>
	</operation>
	<operation name="delete_all_groups">
	<documentation>
 Deletes all policy groups.
 
        	</documentation>
		<input message="tns:ASM.WebApplicationGroup.delete_all_groupsRequest"/>
		<output message="tns:ASM.WebApplicationGroup.delete_all_groupsResponse"/>
	</operation>
	<operation name="add_webapp">
	<documentation>
 Adds security policies to the specified policy group.
 
        	</documentation>
		<input message="tns:ASM.WebApplicationGroup.add_webappRequest"/>
		<output message="tns:ASM.WebApplicationGroup.add_webappResponse"/>
	</operation>
	<operation name="remove_webapp">
	<documentation>
 Removes security policies from the specified policy group.
 
        	</documentation>
		<input message="tns:ASM.WebApplicationGroup.remove_webappRequest"/>
		<output message="tns:ASM.WebApplicationGroup.remove_webappResponse"/>
	</operation>
	<operation name="remove_all_webapps">
	<documentation>
 Removes all security policies from the specified policy group.
 
        	</documentation>
		<input message="tns:ASM.WebApplicationGroup.remove_all_webappsRequest"/>
		<output message="tns:ASM.WebApplicationGroup.remove_all_webappsResponse"/>
	</operation>
	<operation name="get_webapp_list">
	<documentation>
 Returns a list of the security policies associated with the specified policy group.
 
        	</documentation>
		<input message="tns:ASM.WebApplicationGroup.get_webapp_listRequest"/>
		<output message="tns:ASM.WebApplicationGroup.get_webapp_listResponse"/>
	</operation>
	<operation name="get_version">
	<documentation>
 Gets the version information for this interface.


        	</documentation>
		<input message="tns:ASM.WebApplicationGroup.get_versionRequest"/>
		<output message="tns:ASM.WebApplicationGroup.get_versionResponse"/>
	</operation>
</portType>

<!-- binding -->

<binding name="ASM.WebApplicationGroupBinding" type="tns:ASM.WebApplicationGroupPortType">
	<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
	<operation name="get_list">
	<documentation>
 Gets a list of all policy groups.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:ASM/WebApplicationGroup"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/WebApplicationGroup"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/WebApplicationGroup"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="create">
	<documentation>
 Creates a new policy group.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:ASM/WebApplicationGroup"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/WebApplicationGroup"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/WebApplicationGroup"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="delete_group">
	<documentation>
 Deletes the specified policy group.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:ASM/WebApplicationGroup"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/WebApplicationGroup"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/WebApplicationGroup"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="delete_all_groups">
	<documentation>
 Deletes all policy groups.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:ASM/WebApplicationGroup"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/WebApplicationGroup"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/WebApplicationGroup"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="add_webapp">
	<documentation>
 Adds security policies to the specified policy group.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:ASM/WebApplicationGroup"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/WebApplicationGroup"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/WebApplicationGroup"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="remove_webapp">
	<documentation>
 Removes security policies from the specified policy group.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:ASM/WebApplicationGroup"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/WebApplicationGroup"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/WebApplicationGroup"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="remove_all_webapps">
	<documentation>
 Removes all security policies from the specified policy group.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:ASM/WebApplicationGroup"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/WebApplicationGroup"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/WebApplicationGroup"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_webapp_list">
	<documentation>
 Returns a list of the security policies associated with the specified policy group.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:ASM/WebApplicationGroup"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/WebApplicationGroup"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/WebApplicationGroup"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_version">
	<documentation>
 Gets the version information for this interface.


        	</documentation>
		<soap:operation soapAction="urn:iControl:ASM/WebApplicationGroup"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/WebApplicationGroup"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/WebApplicationGroup"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>
</binding>

<!-- service -->

<service name="ASM.WebApplicationGroup">
	<documentation>
 The WebApplicationGroup interface enables you to manipulate a group of ASM Policies.

 This interface does not support transactions.

        	</documentation>
	<port name="ASM.WebApplicationGroupPort" binding="tns:ASM.WebApplicationGroupBinding">
		<soap:address location="https://url_to_service"/>
	</port>
</service>
</definitions>
