lib/puppet/util/network_device/wsdl/GlobalLB.Region.wsdl

<?xml version="1.0" ?>
<!--
Copyright (c) 1996-2012, F5 Networks, Inc., Seattle, Washington. All rights reserved.  

F5, F5 Networks, the F5 logo, BIG-IP, 3-DNS, iControl, GLOBAL-SITE, SEE-IT, EDGE-FX, FireGuard, Internet Control Architecture, IP Application Switch, iRules, PACKET VELOCITY, SYN Check, CONTROL YOUR WORLD, OneConnect, ZoneRunner, uRoam, FirePass, and TrafficShield are registered trademarks or trademarks of F5 Networks, Inc., in the U.S. and certain other countries. 

All other trademarks mentioned in this document are the property of their respective owners. F5 Networks' trademarks may not be used in connection with any product or service except as permitted in writing by F5.

-->
<definitions name="GlobalLB.Region"
	targetNamespace="urn:iControl"
	xmlns:tns="urn:iControl"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns="http://schemas.xmlsoap.org/wsdl/">

<!-- types -->

<types>
	<xsd:schema targetNamespace='urn:iControl'
		xmlns='http://www.w3.org/2001/XMLSchema'
		xmlns:SOAP-ENC='http://schemas.xmlsoap.org/soap/encoding/'
		xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>
		<xsd:complexType name="GlobalLB.Region.RegionDefinitionSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='tns:GlobalLB.Region.RegionDefinition[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:complexType name="GlobalLB.Region.RegionDefinition">
			<xsd:sequence>
				<xsd:element name="name" type="xsd:string"/>
				<xsd:element name="db_type" type="tns:GlobalLB.RegionDBType"/>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:complexType name="GlobalLB.Region.RegionItemSequenceSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='tns:GlobalLB.Region.RegionItemSequence[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:complexType name="GlobalLB.Region.RegionItem">
			<xsd:sequence>
				<xsd:element name="content" type="xsd:string"/>
				<xsd:element name="type" type="tns:GlobalLB.RegionType"/>
				<xsd:element name="negate" type="xsd:boolean"/>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:complexType name="Common.StringSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:string[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:simpleType name="GlobalLB.RegionDBType">
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="REGION_DB_TYPE_USER_DEFINED">
					<xsd:annotation>
						<xsd:documentation>REGION_DB_TYPE_USER_DEFINED</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="REGION_DB_TYPE_ACL">
					<xsd:annotation>
						<xsd:documentation>REGION_DB_TYPE_ACL</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="REGION_DB_TYPE_ISP">
					<xsd:annotation>
						<xsd:documentation>REGION_DB_TYPE_ISP</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
			</xsd:restriction>
		</xsd:simpleType>
		<xsd:complexType name="GlobalLB.Region.RegionItemSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='tns:GlobalLB.Region.RegionItem[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:simpleType name="GlobalLB.RegionType">
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="REGION_TYPE_CIDR">
					<xsd:annotation>
						<xsd:documentation>REGION_TYPE_CIDR</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="REGION_TYPE_REGION">
					<xsd:annotation>
						<xsd:documentation>REGION_TYPE_REGION</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="REGION_TYPE_CONTINENT">
					<xsd:annotation>
						<xsd:documentation>REGION_TYPE_CONTINENT</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="REGION_TYPE_COUNTRY">
					<xsd:annotation>
						<xsd:documentation>REGION_TYPE_COUNTRY</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="REGION_TYPE_STATE">
					<xsd:annotation>
						<xsd:documentation>REGION_TYPE_STATE</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="REGION_TYPE_POOL">
					<xsd:annotation>
						<xsd:documentation>REGION_TYPE_POOL</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="REGION_TYPE_DATA_CENTER">
					<xsd:annotation>
						<xsd:documentation>REGION_TYPE_DATA_CENTER</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="REGION_TYPE_ISP_REGION">
					<xsd:annotation>
						<xsd:documentation>REGION_TYPE_ISP_REGION</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="REGION_TYPE_GEOIP_ISP">
					<xsd:annotation>
						<xsd:documentation>REGION_TYPE_GEOIP_ISP</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:schema>
</types>

<!-- message -->

<message name="GlobalLB.Region.get_listRequest">
</message>
<message name="GlobalLB.Region.get_listResponse">
	<part name="return" type="tns:GlobalLB.Region.RegionDefinitionSequence"/>
</message>

<message name="GlobalLB.Region.createRequest">
	<part name="regions" type="tns:GlobalLB.Region.RegionDefinitionSequence"/>
	<part name="items" type="tns:GlobalLB.Region.RegionItemSequenceSequence"/>
</message>
<message name="GlobalLB.Region.createResponse">
</message>

<message name="GlobalLB.Region.delete_region_definitionRequest">
	<part name="regions" type="tns:GlobalLB.Region.RegionDefinitionSequence"/>
</message>
<message name="GlobalLB.Region.delete_region_definitionResponse">
</message>

<message name="GlobalLB.Region.delete_all_region_definitionsRequest">
</message>
<message name="GlobalLB.Region.delete_all_region_definitionsResponse">
</message>

<message name="GlobalLB.Region.get_descriptionRequest">
	<part name="regions" type="tns:GlobalLB.Region.RegionDefinitionSequence"/>
</message>
<message name="GlobalLB.Region.get_descriptionResponse">
	<part name="return" type="tns:Common.StringSequence"/>
</message>

<message name="GlobalLB.Region.set_descriptionRequest">
	<part name="regions" type="tns:GlobalLB.Region.RegionDefinitionSequence"/>
	<part name="descriptions" type="tns:Common.StringSequence"/>
</message>
<message name="GlobalLB.Region.set_descriptionResponse">
</message>

<message name="GlobalLB.Region.get_region_itemRequest">
	<part name="regions" type="tns:GlobalLB.Region.RegionDefinitionSequence"/>
</message>
<message name="GlobalLB.Region.get_region_itemResponse">
	<part name="return" type="tns:GlobalLB.Region.RegionItemSequenceSequence"/>
</message>

<message name="GlobalLB.Region.add_region_itemRequest">
	<part name="regions" type="tns:GlobalLB.Region.RegionDefinitionSequence"/>
	<part name="items" type="tns:GlobalLB.Region.RegionItemSequenceSequence"/>
</message>
<message name="GlobalLB.Region.add_region_itemResponse">
</message>

<message name="GlobalLB.Region.remove_region_itemRequest">
	<part name="regions" type="tns:GlobalLB.Region.RegionDefinitionSequence"/>
	<part name="items" type="tns:GlobalLB.Region.RegionItemSequenceSequence"/>
</message>
<message name="GlobalLB.Region.remove_region_itemResponse">
</message>

<message name="GlobalLB.Region.remove_all_region_itemsRequest">
	<part name="regions" type="tns:GlobalLB.Region.RegionDefinitionSequence"/>
</message>
<message name="GlobalLB.Region.remove_all_region_itemsResponse">
</message>

<message name="GlobalLB.Region.get_versionRequest">
</message>
<message name="GlobalLB.Region.get_versionResponse">
	<part name="return" type="xsd:string"/>
</message>

<!-- portType -->

<portType name="GlobalLB.RegionPortType">
	<operation name="get_list">
 	<documentation>
 Gets a list of of region definitions.


        	</documentation>
		<input message="tns:GlobalLB.Region.get_listRequest"/>
		<output message="tns:GlobalLB.Region.get_listResponse"/>
	</operation>
	<operation name="create">
	<documentation>
 Creates the specified region definitions with the specified region items.
 

        	</documentation>
		<input message="tns:GlobalLB.Region.createRequest"/>
		<output message="tns:GlobalLB.Region.createResponse"/>
	</operation>
	<operation name="delete_region_definition">
	<documentation>
 Deletes the specified region definitions.
 

        	</documentation>
		<input message="tns:GlobalLB.Region.delete_region_definitionRequest"/>
		<output message="tns:GlobalLB.Region.delete_region_definitionResponse"/>
	</operation>
	<operation name="delete_all_region_definitions">
	<documentation>
 Deletes all region definitions.
 

        	</documentation>
		<input message="tns:GlobalLB.Region.delete_all_region_definitionsRequest"/>
		<output message="tns:GlobalLB.Region.delete_all_region_definitionsResponse"/>
	</operation>
	<operation name="get_description">
	<documentation>
 Gets the description of the given region definitions.

        	</documentation>
		<input message="tns:GlobalLB.Region.get_descriptionRequest"/>
		<output message="tns:GlobalLB.Region.get_descriptionResponse"/>
	</operation>
	<operation name="set_description">
	<documentation>
 Sets the description of the given region definitions.

 This is an arbitrary field which can be used for any purpose.

        	</documentation>
		<input message="tns:GlobalLB.Region.set_descriptionRequest"/>
		<output message="tns:GlobalLB.Region.set_descriptionResponse"/>
	</operation>
	<operation name="get_region_item">
	<documentation>
 Gets the list of region items that define the specified regions.
 

        	</documentation>
		<input message="tns:GlobalLB.Region.get_region_itemRequest"/>
		<output message="tns:GlobalLB.Region.get_region_itemResponse"/>
	</operation>
	<operation name="add_region_item">
	<documentation>
 Adds the specified region items to the specified region definitions.
 

        	</documentation>
		<input message="tns:GlobalLB.Region.add_region_itemRequest"/>
		<output message="tns:GlobalLB.Region.add_region_itemResponse"/>
	</operation>
	<operation name="remove_region_item">
	<documentation>
 Removes the specified region items from the specified region definitions.
 

        	</documentation>
		<input message="tns:GlobalLB.Region.remove_region_itemRequest"/>
		<output message="tns:GlobalLB.Region.remove_region_itemResponse"/>
	</operation>
	<operation name="remove_all_region_items">
	<documentation>
 Removes any and all region items in the specified regions.
 

        	</documentation>
		<input message="tns:GlobalLB.Region.remove_all_region_itemsRequest"/>
		<output message="tns:GlobalLB.Region.remove_all_region_itemsResponse"/>
	</operation>
	<operation name="get_version">
	<documentation>
 Gets the version information for this interface.


        	</documentation>
		<input message="tns:GlobalLB.Region.get_versionRequest"/>
		<output message="tns:GlobalLB.Region.get_versionResponse"/>
	</operation>
</portType>

<!-- binding -->

<binding name="GlobalLB.RegionBinding" type="tns:GlobalLB.RegionPortType">
	<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
	<operation name="get_list">
	<documentation>
 Gets a list of of region definitions.


        	</documentation>
		<soap:operation soapAction="urn:iControl:GlobalLB/Region"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:GlobalLB/Region"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:GlobalLB/Region"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="create">
	<documentation>
 Creates the specified region definitions with the specified region items.
 

        	</documentation>
		<soap:operation soapAction="urn:iControl:GlobalLB/Region"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:GlobalLB/Region"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:GlobalLB/Region"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="delete_region_definition">
	<documentation>
 Deletes the specified region definitions.
 

        	</documentation>
		<soap:operation soapAction="urn:iControl:GlobalLB/Region"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:GlobalLB/Region"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:GlobalLB/Region"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="delete_all_region_definitions">
	<documentation>
 Deletes all region definitions.
 

        	</documentation>
		<soap:operation soapAction="urn:iControl:GlobalLB/Region"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:GlobalLB/Region"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:GlobalLB/Region"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_description">
	<documentation>
 Gets the description of the given region definitions.

        	</documentation>
		<soap:operation soapAction="urn:iControl:GlobalLB/Region"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:GlobalLB/Region"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:GlobalLB/Region"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_description">
	<documentation>
 Sets the description of the given region definitions.

 This is an arbitrary field which can be used for any purpose.

        	</documentation>
		<soap:operation soapAction="urn:iControl:GlobalLB/Region"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:GlobalLB/Region"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:GlobalLB/Region"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_region_item">
	<documentation>
 Gets the list of region items that define the specified regions.
 

        	</documentation>
		<soap:operation soapAction="urn:iControl:GlobalLB/Region"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:GlobalLB/Region"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:GlobalLB/Region"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="add_region_item">
	<documentation>
 Adds the specified region items to the specified region definitions.
 

        	</documentation>
		<soap:operation soapAction="urn:iControl:GlobalLB/Region"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:GlobalLB/Region"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:GlobalLB/Region"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="remove_region_item">
	<documentation>
 Removes the specified region items from the specified region definitions.
 

        	</documentation>
		<soap:operation soapAction="urn:iControl:GlobalLB/Region"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:GlobalLB/Region"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:GlobalLB/Region"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="remove_all_region_items">
	<documentation>
 Removes any and all region items in the specified regions.
 

        	</documentation>
		<soap:operation soapAction="urn:iControl:GlobalLB/Region"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:GlobalLB/Region"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:GlobalLB/Region"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_version">
	<documentation>
 Gets the version information for this interface.


        	</documentation>
		<soap:operation soapAction="urn:iControl:GlobalLB/Region"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:GlobalLB/Region"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:GlobalLB/Region"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>
</binding>

<!-- service -->

<service name="GlobalLB.Region">
	<documentation>
 The Region interface enables you to work with user-defined region definitions.  

        	</documentation>
	<port name="GlobalLB.RegionPort" binding="tns:GlobalLB.RegionBinding">
		<soap:address location="https://url_to_service"/>
	</port>
</service>
</definitions>
