lib/puppet/util/network_device/wsdl/iCall.Script.wsdl

<?xml version="1.0" ?>
<!--
Copyright (c) 1996-2012, F5 Networks, Inc., Seattle, Washington. All rights reserved.  

F5, F5 Networks, the F5 logo, BIG-IP, 3-DNS, iControl, GLOBAL-SITE, SEE-IT, EDGE-FX, FireGuard, Internet Control Architecture, IP Application Switch, iRules, PACKET VELOCITY, SYN Check, CONTROL YOUR WORLD, OneConnect, ZoneRunner, uRoam, FirePass, and TrafficShield are registered trademarks or trademarks of F5 Networks, Inc., in the U.S. and certain other countries. 

All other trademarks mentioned in this document are the property of their respective owners. F5 Networks' trademarks may not be used in connection with any product or service except as permitted in writing by F5.

-->
<definitions name="iCall.Script"
	targetNamespace="urn:iControl"
	xmlns:tns="urn:iControl"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns="http://schemas.xmlsoap.org/wsdl/">

<!-- types -->

<types>
	<xsd:schema targetNamespace='urn:iControl'
		xmlns='http://www.w3.org/2001/XMLSchema'
		xmlns:SOAP-ENC='http://schemas.xmlsoap.org/soap/encoding/'
		xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>
		<xsd:complexType name="Common.StringSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:string[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:schema>
</types>

<!-- message -->

<message name="iCall.Script.get_listRequest">
</message>
<message name="iCall.Script.get_listResponse">
	<part name="return" type="tns:Common.StringSequence"/>
</message>

<message name="iCall.Script.createRequest">
	<part name="scripts" type="tns:Common.StringSequence"/>
	<part name="definitions" type="tns:Common.StringSequence"/>
</message>
<message name="iCall.Script.createResponse">
</message>

<message name="iCall.Script.delete_scriptRequest">
	<part name="scripts" type="tns:Common.StringSequence"/>
</message>
<message name="iCall.Script.delete_scriptResponse">
</message>

<message name="iCall.Script.delete_all_scriptsRequest">
</message>
<message name="iCall.Script.delete_all_scriptsResponse">
</message>

<message name="iCall.Script.set_definitionRequest">
	<part name="scripts" type="tns:Common.StringSequence"/>
	<part name="definitions" type="tns:Common.StringSequence"/>
</message>
<message name="iCall.Script.set_definitionResponse">
</message>

<message name="iCall.Script.get_definitionRequest">
	<part name="scripts" type="tns:Common.StringSequence"/>
</message>
<message name="iCall.Script.get_definitionResponse">
	<part name="return" type="tns:Common.StringSequence"/>
</message>

<message name="iCall.Script.set_descriptionRequest">
	<part name="scripts" type="tns:Common.StringSequence"/>
	<part name="descriptions" type="tns:Common.StringSequence"/>
</message>
<message name="iCall.Script.set_descriptionResponse">
</message>

<message name="iCall.Script.get_descriptionRequest">
	<part name="scripts" type="tns:Common.StringSequence"/>
</message>
<message name="iCall.Script.get_descriptionResponse">
	<part name="return" type="tns:Common.StringSequence"/>
</message>

<message name="iCall.Script.get_versionRequest">
</message>
<message name="iCall.Script.get_versionResponse">
	<part name="return" type="xsd:string"/>
</message>

<!-- portType -->

<portType name="iCall.ScriptPortType">
	<operation name="get_list">
    	<documentation>
 Gets the list of scripts.

        	</documentation>
		<input message="tns:iCall.Script.get_listRequest"/>
		<output message="tns:iCall.Script.get_listResponse"/>
	</operation>
	<operation name="create">
	<documentation>
 Creates new scripts.

        	</documentation>
		<input message="tns:iCall.Script.createRequest"/>
		<output message="tns:iCall.Script.createResponse"/>
	</operation>
	<operation name="delete_script">
	<documentation>
 Deletes the specified scripts.

        	</documentation>
		<input message="tns:iCall.Script.delete_scriptRequest"/>
		<output message="tns:iCall.Script.delete_scriptResponse"/>
	</operation>
	<operation name="delete_all_scripts">
	<documentation>
 Deletes all user-defined (non-root) scripts.  

        	</documentation>
		<input message="tns:iCall.Script.delete_all_scriptsRequest"/>
		<output message="tns:iCall.Script.delete_all_scriptsResponse"/>
	</operation>
	<operation name="set_definition">
	<documentation>
 Sets the definition for a set of scripts.

        	</documentation>
		<input message="tns:iCall.Script.set_definitionRequest"/>
		<output message="tns:iCall.Script.set_definitionResponse"/>
	</operation>
	<operation name="get_definition">
	<documentation>
 Gets the definitions for a set of scripts.

        	</documentation>
		<input message="tns:iCall.Script.get_definitionRequest"/>
		<output message="tns:iCall.Script.get_definitionResponse"/>
	</operation>
	<operation name="set_description">
	<documentation>
 Sets the description for a set of scripts.

 This is an arbitrary field which can be used for any purpose.

        	</documentation>
		<input message="tns:iCall.Script.set_descriptionRequest"/>
		<output message="tns:iCall.Script.set_descriptionResponse"/>
	</operation>
	<operation name="get_description">
	<documentation>
 Gets the descriptions for a set of scripts.

        	</documentation>
		<input message="tns:iCall.Script.get_descriptionRequest"/>
		<output message="tns:iCall.Script.get_descriptionResponse"/>
	</operation>
	<operation name="get_version">
	<documentation>
 Gets the version information for this interface.

        	</documentation>
		<input message="tns:iCall.Script.get_versionRequest"/>
		<output message="tns:iCall.Script.get_versionResponse"/>
	</operation>
</portType>

<!-- binding -->

<binding name="iCall.ScriptBinding" type="tns:iCall.ScriptPortType">
	<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
	<operation name="get_list">
	<documentation>
 Gets the list of scripts.

        	</documentation>
		<soap:operation soapAction="urn:iControl:iCall/Script"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:iCall/Script"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:iCall/Script"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="create">
	<documentation>
 Creates new scripts.

        	</documentation>
		<soap:operation soapAction="urn:iControl:iCall/Script"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:iCall/Script"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:iCall/Script"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="delete_script">
	<documentation>
 Deletes the specified scripts.

        	</documentation>
		<soap:operation soapAction="urn:iControl:iCall/Script"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:iCall/Script"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:iCall/Script"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="delete_all_scripts">
	<documentation>
 Deletes all user-defined (non-root) scripts.  

        	</documentation>
		<soap:operation soapAction="urn:iControl:iCall/Script"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:iCall/Script"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:iCall/Script"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_definition">
	<documentation>
 Sets the definition for a set of scripts.

        	</documentation>
		<soap:operation soapAction="urn:iControl:iCall/Script"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:iCall/Script"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:iCall/Script"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_definition">
	<documentation>
 Gets the definitions for a set of scripts.

        	</documentation>
		<soap:operation soapAction="urn:iControl:iCall/Script"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:iCall/Script"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:iCall/Script"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_description">
	<documentation>
 Sets the description for a set of scripts.

 This is an arbitrary field which can be used for any purpose.

        	</documentation>
		<soap:operation soapAction="urn:iControl:iCall/Script"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:iCall/Script"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:iCall/Script"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_description">
	<documentation>
 Gets the descriptions for a set of scripts.

        	</documentation>
		<soap:operation soapAction="urn:iControl:iCall/Script"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:iCall/Script"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:iCall/Script"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_version">
	<documentation>
 Gets the version information for this interface.

        	</documentation>
		<soap:operation soapAction="urn:iControl:iCall/Script"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:iCall/Script"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:iCall/Script"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>
</binding>

<!-- service -->

<service name="iCall.Script">
	<documentation>
 The Script interface allows you to create or delete Tcl scripts to
 attach to handlers.

        	</documentation>
	<port name="iCall.ScriptPort" binding="tns:iCall.ScriptBinding">
		<soap:address location="https://url_to_service"/>
	</port>
</service>
</definitions>
