lib/puppet/util/network_device/wsdl/LocalLB.iFileFile.wsdl

<?xml version="1.0" ?>
<!--
Copyright (c) 1996-2012, F5 Networks, Inc., Seattle, Washington. All rights reserved.  

F5, F5 Networks, the F5 logo, BIG-IP, 3-DNS, iControl, GLOBAL-SITE, SEE-IT, EDGE-FX, FireGuard, Internet Control Architecture, IP Application Switch, iRules, PACKET VELOCITY, SYN Check, CONTROL YOUR WORLD, OneConnect, ZoneRunner, uRoam, FirePass, and TrafficShield are registered trademarks or trademarks of F5 Networks, Inc., in the U.S. and certain other countries. 

All other trademarks mentioned in this document are the property of their respective owners. F5 Networks' trademarks may not be used in connection with any product or service except as permitted in writing by F5.

-->
<definitions name="LocalLB.iFileFile"
	targetNamespace="urn:iControl"
	xmlns:tns="urn:iControl"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns="http://schemas.xmlsoap.org/wsdl/">

<!-- types -->

<types>
	<xsd:schema targetNamespace='urn:iControl'
		xmlns='http://www.w3.org/2001/XMLSchema'
		xmlns:SOAP-ENC='http://schemas.xmlsoap.org/soap/encoding/'
		xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>
		<xsd:complexType name="Common.TimeStampSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='tns:Common.TimeStamp[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:complexType name="Common.ULong64">
			<xsd:sequence>
				<xsd:element name="high" type="xsd:long"/>
				<xsd:element name="low" type="xsd:long"/>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:complexType name="Common.TimeStamp">
			<xsd:sequence>
				<xsd:element name="year" type="xsd:long"/>
				<xsd:element name="month" type="xsd:long"/>
				<xsd:element name="day" type="xsd:long"/>
				<xsd:element name="hour" type="xsd:long"/>
				<xsd:element name="minute" type="xsd:long"/>
				<xsd:element name="second" type="xsd:long"/>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:complexType name="Common.StringSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:string[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:complexType name="Common.ULong64Sequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='tns:Common.ULong64[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:complexType name="Common.ULongSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:long[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:schema>
</types>

<!-- message -->

<message name="LocalLB.iFileFile.get_listRequest">
</message>
<message name="LocalLB.iFileFile.get_listResponse">
	<part name="return" type="tns:Common.StringSequence"/>
</message>

<message name="LocalLB.iFileFile.createRequest">
	<part name="files" type="tns:Common.StringSequence"/>
	<part name="paths" type="tns:Common.StringSequence"/>
</message>
<message name="LocalLB.iFileFile.createResponse">
</message>

<message name="LocalLB.iFileFile.delete_ifile_fileRequest">
	<part name="files" type="tns:Common.StringSequence"/>
</message>
<message name="LocalLB.iFileFile.delete_ifile_fileResponse">
</message>

<message name="LocalLB.iFileFile.delete_all_ifile_filesRequest">
</message>
<message name="LocalLB.iFileFile.delete_all_ifile_filesResponse">
</message>

<message name="LocalLB.iFileFile.get_cache_pathRequest">
	<part name="files" type="tns:Common.StringSequence"/>
</message>
<message name="LocalLB.iFileFile.get_cache_pathResponse">
	<part name="return" type="tns:Common.StringSequence"/>
</message>

<message name="LocalLB.iFileFile.get_checksumRequest">
	<part name="files" type="tns:Common.StringSequence"/>
</message>
<message name="LocalLB.iFileFile.get_checksumResponse">
	<part name="return" type="tns:Common.StringSequence"/>
</message>

<message name="LocalLB.iFileFile.get_creation_timeRequest">
	<part name="files" type="tns:Common.StringSequence"/>
</message>
<message name="LocalLB.iFileFile.get_creation_timeResponse">
	<part name="return" type="tns:Common.TimeStampSequence"/>
</message>

<message name="LocalLB.iFileFile.get_creatorRequest">
	<part name="files" type="tns:Common.StringSequence"/>
</message>
<message name="LocalLB.iFileFile.get_creatorResponse">
	<part name="return" type="tns:Common.StringSequence"/>
</message>

<message name="LocalLB.iFileFile.set_local_pathRequest">
	<part name="files" type="tns:Common.StringSequence"/>
	<part name="paths" type="tns:Common.StringSequence"/>
</message>
<message name="LocalLB.iFileFile.set_local_pathResponse">
</message>

<message name="LocalLB.iFileFile.get_modification_timeRequest">
	<part name="files" type="tns:Common.StringSequence"/>
</message>
<message name="LocalLB.iFileFile.get_modification_timeResponse">
	<part name="return" type="tns:Common.TimeStampSequence"/>
</message>

<message name="LocalLB.iFileFile.get_modifierRequest">
	<part name="files" type="tns:Common.StringSequence"/>
</message>
<message name="LocalLB.iFileFile.get_modifierResponse">
	<part name="return" type="tns:Common.StringSequence"/>
</message>

<message name="LocalLB.iFileFile.get_modeRequest">
	<part name="files" type="tns:Common.StringSequence"/>
</message>
<message name="LocalLB.iFileFile.get_modeResponse">
	<part name="return" type="tns:Common.ULongSequence"/>
</message>

<message name="LocalLB.iFileFile.get_revisionRequest">
	<part name="files" type="tns:Common.StringSequence"/>
</message>
<message name="LocalLB.iFileFile.get_revisionResponse">
	<part name="return" type="tns:Common.ULongSequence"/>
</message>

<message name="LocalLB.iFileFile.get_sizeRequest">
	<part name="files" type="tns:Common.StringSequence"/>
</message>
<message name="LocalLB.iFileFile.get_sizeResponse">
	<part name="return" type="tns:Common.ULong64Sequence"/>
</message>

<message name="LocalLB.iFileFile.get_source_pathRequest">
	<part name="files" type="tns:Common.StringSequence"/>
</message>
<message name="LocalLB.iFileFile.get_source_pathResponse">
	<part name="return" type="tns:Common.StringSequence"/>
</message>

<message name="LocalLB.iFileFile.get_system_pathRequest">
	<part name="files" type="tns:Common.StringSequence"/>
</message>
<message name="LocalLB.iFileFile.get_system_pathResponse">
	<part name="return" type="tns:Common.StringSequence"/>
</message>

<message name="LocalLB.iFileFile.get_versionRequest">
</message>
<message name="LocalLB.iFileFile.get_versionResponse">
	<part name="return" type="xsd:string"/>
</message>

<!-- portType -->

<portType name="LocalLB.iFileFilePortType">
	<operation name="get_list">
       	<documentation>
 Gets a list of all iFile file objects on this device.

        	</documentation>
		<input message="tns:LocalLB.iFileFile.get_listRequest"/>
		<output message="tns:LocalLB.iFileFile.get_listResponse"/>
	</operation>
	<operation name="create">
	<documentation>
 Creates a set of iFiles file objects.

        	</documentation>
		<input message="tns:LocalLB.iFileFile.createRequest"/>
		<output message="tns:LocalLB.iFileFile.createResponse"/>
	</operation>
	<operation name="delete_ifile_file">
	<documentation>
 Deletes a set of iFile file objects.

        	</documentation>
		<input message="tns:LocalLB.iFileFile.delete_ifile_fileRequest"/>
		<output message="tns:LocalLB.iFileFile.delete_ifile_fileResponse"/>
	</operation>
	<operation name="delete_all_ifile_files">
	<documentation>
 Deletes all iFile file objects.

        	</documentation>
		<input message="tns:LocalLB.iFileFile.delete_all_ifile_filesRequest"/>
		<output message="tns:LocalLB.iFileFile.delete_all_ifile_filesResponse"/>
	</operation>
	<operation name="get_cache_path">
	<documentation>
 Gets the cache path for a list of iFile file objects.

        	</documentation>
		<input message="tns:LocalLB.iFileFile.get_cache_pathRequest"/>
		<output message="tns:LocalLB.iFileFile.get_cache_pathResponse"/>
	</operation>
	<operation name="get_checksum">
	<documentation>
 Gets the checksum for a list of iFile file objects.

        	</documentation>
		<input message="tns:LocalLB.iFileFile.get_checksumRequest"/>
		<output message="tns:LocalLB.iFileFile.get_checksumResponse"/>
	</operation>
	<operation name="get_creation_time">
	<documentation>
 Gets the creation time for a list of iFile file objects.

        	</documentation>
		<input message="tns:LocalLB.iFileFile.get_creation_timeRequest"/>
		<output message="tns:LocalLB.iFileFile.get_creation_timeResponse"/>
	</operation>
	<operation name="get_creator">
	<documentation>
 Gets the creator (the user who created the iFile file object) 
 for a list of iFile file objects.

        	</documentation>
		<input message="tns:LocalLB.iFileFile.get_creatorRequest"/>
		<output message="tns:LocalLB.iFileFile.get_creatorResponse"/>
	</operation>
	<operation name="set_local_path">
	<documentation>
 Sets the local path for an iFile file object. This is the original
 path that was specified when the file was loaded in. Do not be
 confused: modifying this path will reload the contents of the iFile
 file object.

        	</documentation>
		<input message="tns:LocalLB.iFileFile.set_local_pathRequest"/>
		<output message="tns:LocalLB.iFileFile.set_local_pathResponse"/>
	</operation>
	<operation name="get_modification_time">
	<documentation>
 Gets the modification time for a set of iFile file objects.

        	</documentation>
		<input message="tns:LocalLB.iFileFile.get_modification_timeRequest"/>
		<output message="tns:LocalLB.iFileFile.get_modification_timeResponse"/>
	</operation>
	<operation name="get_modifier">
	<documentation>
 Gets the name of the user who last modified the file for a set of
 iFile file objects.

        	</documentation>
		<input message="tns:LocalLB.iFileFile.get_modifierRequest"/>
		<output message="tns:LocalLB.iFileFile.get_modifierResponse"/>
	</operation>
	<operation name="get_mode">
	<documentation>
 Gets the bit field holding the file type and permissions, as in the
 Unix "stat" information for a set of iFile file objects.

        	</documentation>
		<input message="tns:LocalLB.iFileFile.get_modeRequest"/>
		<output message="tns:LocalLB.iFileFile.get_modeResponse"/>
	</operation>
	<operation name="get_revision">
	<documentation>
 Gets the revision for the iFile file object. The revision is incremented
 every time the file path changes. (Changing the file path reloads the
 file into the system.)

        	</documentation>
		<input message="tns:LocalLB.iFileFile.get_revisionRequest"/>
		<output message="tns:LocalLB.iFileFile.get_revisionResponse"/>
	</operation>
	<operation name="get_size">
	<documentation>
 Gets the size of the iFile file object.

        	</documentation>
		<input message="tns:LocalLB.iFileFile.get_sizeRequest"/>
		<output message="tns:LocalLB.iFileFile.get_sizeResponse"/>
	</operation>
	<operation name="get_source_path">
	<documentation>
 Gets the source path of the iFile file object.

        	</documentation>
		<input message="tns:LocalLB.iFileFile.get_source_pathRequest"/>
		<output message="tns:LocalLB.iFileFile.get_source_pathResponse"/>
	</operation>
	<operation name="get_system_path">
	<documentation>
 Gets the full path to the system files that exist outside the file
 cache for a set of iFile file objects. The cached file is
 simply a soft link to this file.

        	</documentation>
		<input message="tns:LocalLB.iFileFile.get_system_pathRequest"/>
		<output message="tns:LocalLB.iFileFile.get_system_pathResponse"/>
	</operation>
	<operation name="get_version">
	<documentation>
 Gets the version information for this interface.

        	</documentation>
		<input message="tns:LocalLB.iFileFile.get_versionRequest"/>
		<output message="tns:LocalLB.iFileFile.get_versionResponse"/>
	</operation>
</portType>

<!-- binding -->

<binding name="LocalLB.iFileFileBinding" type="tns:LocalLB.iFileFilePortType">
	<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
	<operation name="get_list">
	<documentation>
 Gets a list of all iFile file objects on this device.

        	</documentation>
		<soap:operation soapAction="urn:iControl:LocalLB/iFileFile"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:LocalLB/iFileFile"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:LocalLB/iFileFile"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="create">
	<documentation>
 Creates a set of iFiles file objects.

        	</documentation>
		<soap:operation soapAction="urn:iControl:LocalLB/iFileFile"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:LocalLB/iFileFile"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:LocalLB/iFileFile"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="delete_ifile_file">
	<documentation>
 Deletes a set of iFile file objects.

        	</documentation>
		<soap:operation soapAction="urn:iControl:LocalLB/iFileFile"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:LocalLB/iFileFile"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:LocalLB/iFileFile"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="delete_all_ifile_files">
	<documentation>
 Deletes all iFile file objects.

        	</documentation>
		<soap:operation soapAction="urn:iControl:LocalLB/iFileFile"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:LocalLB/iFileFile"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:LocalLB/iFileFile"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_cache_path">
	<documentation>
 Gets the cache path for a list of iFile file objects.

        	</documentation>
		<soap:operation soapAction="urn:iControl:LocalLB/iFileFile"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:LocalLB/iFileFile"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:LocalLB/iFileFile"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_checksum">
	<documentation>
 Gets the checksum for a list of iFile file objects.

        	</documentation>
		<soap:operation soapAction="urn:iControl:LocalLB/iFileFile"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:LocalLB/iFileFile"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:LocalLB/iFileFile"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_creation_time">
	<documentation>
 Gets the creation time for a list of iFile file objects.

        	</documentation>
		<soap:operation soapAction="urn:iControl:LocalLB/iFileFile"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:LocalLB/iFileFile"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:LocalLB/iFileFile"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_creator">
	<documentation>
 Gets the creator (the user who created the iFile file object) 
 for a list of iFile file objects.

        	</documentation>
		<soap:operation soapAction="urn:iControl:LocalLB/iFileFile"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:LocalLB/iFileFile"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:LocalLB/iFileFile"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_local_path">
	<documentation>
 Sets the local path for an iFile file object. This is the original
 path that was specified when the file was loaded in. Do not be
 confused: modifying this path will reload the contents of the iFile
 file object.

        	</documentation>
		<soap:operation soapAction="urn:iControl:LocalLB/iFileFile"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:LocalLB/iFileFile"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:LocalLB/iFileFile"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_modification_time">
	<documentation>
 Gets the modification time for a set of iFile file objects.

        	</documentation>
		<soap:operation soapAction="urn:iControl:LocalLB/iFileFile"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:LocalLB/iFileFile"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:LocalLB/iFileFile"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_modifier">
	<documentation>
 Gets the name of the user who last modified the file for a set of
 iFile file objects.

        	</documentation>
		<soap:operation soapAction="urn:iControl:LocalLB/iFileFile"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:LocalLB/iFileFile"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:LocalLB/iFileFile"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_mode">
	<documentation>
 Gets the bit field holding the file type and permissions, as in the
 Unix "stat" information for a set of iFile file objects.

        	</documentation>
		<soap:operation soapAction="urn:iControl:LocalLB/iFileFile"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:LocalLB/iFileFile"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:LocalLB/iFileFile"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_revision">
	<documentation>
 Gets the revision for the iFile file object. The revision is incremented
 every time the file path changes. (Changing the file path reloads the
 file into the system.)

        	</documentation>
		<soap:operation soapAction="urn:iControl:LocalLB/iFileFile"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:LocalLB/iFileFile"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:LocalLB/iFileFile"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_size">
	<documentation>
 Gets the size of the iFile file object.

        	</documentation>
		<soap:operation soapAction="urn:iControl:LocalLB/iFileFile"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:LocalLB/iFileFile"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:LocalLB/iFileFile"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_source_path">
	<documentation>
 Gets the source path of the iFile file object.

        	</documentation>
		<soap:operation soapAction="urn:iControl:LocalLB/iFileFile"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:LocalLB/iFileFile"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:LocalLB/iFileFile"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_system_path">
	<documentation>
 Gets the full path to the system files that exist outside the file
 cache for a set of iFile file objects. The cached file is
 simply a soft link to this file.

        	</documentation>
		<soap:operation soapAction="urn:iControl:LocalLB/iFileFile"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:LocalLB/iFileFile"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:LocalLB/iFileFile"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_version">
	<documentation>
 Gets the version information for this interface.

        	</documentation>
		<soap:operation soapAction="urn:iControl:LocalLB/iFileFile"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:LocalLB/iFileFile"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:LocalLB/iFileFile"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>
</binding>

<!-- service -->

<service name="LocalLB.iFileFile">
	<documentation>
 The iFileFile interface enables you to manipulate a local load
 balancer's iFile file objects.

 iFiles provide the ability to load an external file into iRules
 that can be accessed by an iRule using the "ifile" command. To
 create an iFile, you must first use this interface to create an
 iFile file object that loads the file into the system. Then use
 the iFile interface to create the iFile that can be used by the
 iRule.

        	</documentation>
	<port name="LocalLB.iFileFilePort" binding="tns:LocalLB.iFileFileBinding">
		<soap:address location="https://url_to_service"/>
	</port>
</service>
</definitions>
