lib/puppet/util/network_device/wsdl/Management.Globals.wsdl

<?xml version="1.0" ?>
<!--
Copyright (c) 1996-2012, F5 Networks, Inc., Seattle, Washington. All rights reserved.  

F5, F5 Networks, the F5 logo, BIG-IP, 3-DNS, iControl, GLOBAL-SITE, SEE-IT, EDGE-FX, FireGuard, Internet Control Architecture, IP Application Switch, iRules, PACKET VELOCITY, SYN Check, CONTROL YOUR WORLD, OneConnect, ZoneRunner, uRoam, FirePass, and TrafficShield are registered trademarks or trademarks of F5 Networks, Inc., in the U.S. and certain other countries. 

All other trademarks mentioned in this document are the property of their respective owners. F5 Networks' trademarks may not be used in connection with any product or service except as permitted in writing by F5.

-->
<definitions name="Management.Globals"
	targetNamespace="urn:iControl"
	xmlns:tns="urn:iControl"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns="http://schemas.xmlsoap.org/wsdl/">

<!-- types -->

<types>
	<xsd:schema targetNamespace='urn:iControl'
		xmlns='http://www.w3.org/2001/XMLSchema'
		xmlns:SOAP-ENC='http://schemas.xmlsoap.org/soap/encoding/'
		xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>
		<xsd:complexType name="Common.StringSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:string[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:schema>
</types>

<!-- message -->

<message name="Management.Globals.set_local_file_path_prefixesRequest">
	<part name="prefixes" type="tns:Common.StringSequence"/>
</message>
<message name="Management.Globals.set_local_file_path_prefixesResponse">
</message>

<message name="Management.Globals.get_local_file_path_prefixesRequest">
</message>
<message name="Management.Globals.get_local_file_path_prefixesResponse">
	<part name="return" type="tns:Common.StringSequence"/>
</message>

<message name="Management.Globals.get_versionRequest">
</message>
<message name="Management.Globals.get_versionResponse">
	<part name="return" type="xsd:string"/>
</message>

<!-- portType -->

<portType name="Management.GlobalsPortType">
	<operation name="set_local_file_path_prefixes">
      	<documentation>
 Sets the set of folders that are permitted for use by less
 privileged users when creating file objects. Each of the folders
 as well as sub-folders beneath the folders are allowed.

        	</documentation>
		<input message="tns:Management.Globals.set_local_file_path_prefixesRequest"/>
		<output message="tns:Management.Globals.set_local_file_path_prefixesResponse"/>
	</operation>
	<operation name="get_local_file_path_prefixes">
	<documentation>
 Gets all the local folders that are permitted for use by less
 privileged users when creating file objects.

        	</documentation>
		<input message="tns:Management.Globals.get_local_file_path_prefixesRequest"/>
		<output message="tns:Management.Globals.get_local_file_path_prefixesResponse"/>
	</operation>
	<operation name="get_version">
	<documentation>
 Gets the version information for this interface.

        	</documentation>
		<input message="tns:Management.Globals.get_versionRequest"/>
		<output message="tns:Management.Globals.get_versionResponse"/>
	</operation>
</portType>

<!-- binding -->

<binding name="Management.GlobalsBinding" type="tns:Management.GlobalsPortType">
	<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
	<operation name="set_local_file_path_prefixes">
	<documentation>
 Sets the set of folders that are permitted for use by less
 privileged users when creating file objects. Each of the folders
 as well as sub-folders beneath the folders are allowed.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Management/Globals"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/Globals"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/Globals"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_local_file_path_prefixes">
	<documentation>
 Gets all the local folders that are permitted for use by less
 privileged users when creating file objects.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Management/Globals"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/Globals"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/Globals"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_version">
	<documentation>
 Gets the version information for this interface.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Management/Globals"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/Globals"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/Globals"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>
</binding>

<!-- service -->

<service name="Management.Globals">
	<documentation>
 The Globals interface is used for managing the global settings
 of the system.

        	</documentation>
	<port name="Management.GlobalsPort" binding="tns:Management.GlobalsBinding">
		<soap:address location="https://url_to_service"/>
	</port>
</service>
</definitions>
