lib/puppet/util/network_device/wsdl/Management.RADIUSServer.wsdl

<?xml version="1.0" ?>
<!--
Copyright (c) 1996-2012, F5 Networks, Inc., Seattle, Washington. All rights reserved.  

F5, F5 Networks, the F5 logo, BIG-IP, 3-DNS, iControl, GLOBAL-SITE, SEE-IT, EDGE-FX, FireGuard, Internet Control Architecture, IP Application Switch, iRules, PACKET VELOCITY, SYN Check, CONTROL YOUR WORLD, OneConnect, ZoneRunner, uRoam, FirePass, and TrafficShield are registered trademarks or trademarks of F5 Networks, Inc., in the U.S. and certain other countries. 

All other trademarks mentioned in this document are the property of their respective owners. F5 Networks' trademarks may not be used in connection with any product or service except as permitted in writing by F5.

-->
<definitions name="Management.RADIUSServer"
	targetNamespace="urn:iControl"
	xmlns:tns="urn:iControl"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns="http://schemas.xmlsoap.org/wsdl/">

<!-- types -->

<types>
	<xsd:schema targetNamespace='urn:iControl'
		xmlns='http://www.w3.org/2001/XMLSchema'
		xmlns:SOAP-ENC='http://schemas.xmlsoap.org/soap/encoding/'
		xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>
		<xsd:complexType name="Management.RADIUSServer.RADIUSServerDefinitionSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='tns:Management.RADIUSServer.RADIUSServerDefinition[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:complexType name="Common.StringSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:string[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:complexType name="Common.ULongSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:long[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:complexType name="Management.RADIUSServer.RADIUSServerDefinition">
			<xsd:sequence>
				<xsd:element name="name" type="xsd:string"/>
				<xsd:element name="ip_or_hostname" type="xsd:string"/>
				<xsd:element name="service" type="xsd:long"/>
				<xsd:element name="secret" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:schema>
</types>

<!-- message -->

<message name="Management.RADIUSServer.get_listRequest">
</message>
<message name="Management.RADIUSServer.get_listResponse">
	<part name="return" type="tns:Common.StringSequence"/>
</message>

<message name="Management.RADIUSServer.createRequest">
	<part name="servers" type="tns:Management.RADIUSServer.RADIUSServerDefinitionSequence"/>
</message>
<message name="Management.RADIUSServer.createResponse">
</message>

<message name="Management.RADIUSServer.delete_serverRequest">
	<part name="servers" type="tns:Common.StringSequence"/>
</message>
<message name="Management.RADIUSServer.delete_serverResponse">
</message>

<message name="Management.RADIUSServer.delete_all_serversRequest">
</message>
<message name="Management.RADIUSServer.delete_all_serversResponse">
</message>

<message name="Management.RADIUSServer.set_ip_or_hostnameRequest">
	<part name="servers" type="tns:Common.StringSequence"/>
	<part name="ip_or_hostnames" type="tns:Common.StringSequence"/>
</message>
<message name="Management.RADIUSServer.set_ip_or_hostnameResponse">
</message>

<message name="Management.RADIUSServer.get_ip_or_hostnameRequest">
	<part name="servers" type="tns:Common.StringSequence"/>
</message>
<message name="Management.RADIUSServer.get_ip_or_hostnameResponse">
	<part name="return" type="tns:Common.StringSequence"/>
</message>

<message name="Management.RADIUSServer.set_portRequest">
	<part name="servers" type="tns:Common.StringSequence"/>
	<part name="ports" type="tns:Common.ULongSequence"/>
</message>
<message name="Management.RADIUSServer.set_portResponse">
</message>

<message name="Management.RADIUSServer.get_portRequest">
	<part name="servers" type="tns:Common.StringSequence"/>
</message>
<message name="Management.RADIUSServer.get_portResponse">
	<part name="return" type="tns:Common.ULongSequence"/>
</message>

<message name="Management.RADIUSServer.set_secretRequest">
	<part name="servers" type="tns:Common.StringSequence"/>
	<part name="secrets" type="tns:Common.StringSequence"/>
</message>
<message name="Management.RADIUSServer.set_secretResponse">
</message>

<message name="Management.RADIUSServer.get_secretRequest">
	<part name="servers" type="tns:Common.StringSequence"/>
</message>
<message name="Management.RADIUSServer.get_secretResponse">
	<part name="return" type="tns:Common.StringSequence"/>
</message>

<message name="Management.RADIUSServer.set_timeoutRequest">
	<part name="servers" type="tns:Common.StringSequence"/>
	<part name="timeouts" type="tns:Common.ULongSequence"/>
</message>
<message name="Management.RADIUSServer.set_timeoutResponse">
</message>

<message name="Management.RADIUSServer.get_timeoutRequest">
	<part name="servers" type="tns:Common.StringSequence"/>
</message>
<message name="Management.RADIUSServer.get_timeoutResponse">
	<part name="return" type="tns:Common.ULongSequence"/>
</message>

<message name="Management.RADIUSServer.set_descriptionRequest">
	<part name="servers" type="tns:Common.StringSequence"/>
	<part name="descriptions" type="tns:Common.StringSequence"/>
</message>
<message name="Management.RADIUSServer.set_descriptionResponse">
</message>

<message name="Management.RADIUSServer.get_descriptionRequest">
	<part name="servers" type="tns:Common.StringSequence"/>
</message>
<message name="Management.RADIUSServer.get_descriptionResponse">
	<part name="return" type="tns:Common.StringSequence"/>
</message>

<message name="Management.RADIUSServer.get_versionRequest">
</message>
<message name="Management.RADIUSServer.get_versionResponse">
	<part name="return" type="xsd:string"/>
</message>

<!-- portType -->

<portType name="Management.RADIUSServerPortType">
	<operation name="get_list">
 	<documentation>
 Gets a list of all RADIUS servers.
 
        	</documentation>
		<input message="tns:Management.RADIUSServer.get_listRequest"/>
		<output message="tns:Management.RADIUSServer.get_listResponse"/>
	</operation>
	<operation name="create">
	<documentation>
 Creates the specified RADIUS servers.
 
        	</documentation>
		<input message="tns:Management.RADIUSServer.createRequest"/>
		<output message="tns:Management.RADIUSServer.createResponse"/>
	</operation>
	<operation name="delete_server">
	<documentation>
 Deletes the specified RADIUS servers.
 
        	</documentation>
		<input message="tns:Management.RADIUSServer.delete_serverRequest"/>
		<output message="tns:Management.RADIUSServer.delete_serverResponse"/>
	</operation>
	<operation name="delete_all_servers">
	<documentation>
 Deletes all RADIUS servers.
 
        	</documentation>
		<input message="tns:Management.RADIUSServer.delete_all_serversRequest"/>
		<output message="tns:Management.RADIUSServer.delete_all_serversResponse"/>
	</operation>
	<operation name="set_ip_or_hostname">
	<documentation>
 Sets the IP addresses or hostnames of the RADIUS servers.
 
        	</documentation>
		<input message="tns:Management.RADIUSServer.set_ip_or_hostnameRequest"/>
		<output message="tns:Management.RADIUSServer.set_ip_or_hostnameResponse"/>
	</operation>
	<operation name="get_ip_or_hostname">
	<documentation>
 Gets the IP addresses or hostnames of the RADIUS servers.
 
        	</documentation>
		<input message="tns:Management.RADIUSServer.get_ip_or_hostnameRequest"/>
		<output message="tns:Management.RADIUSServer.get_ip_or_hostnameResponse"/>
	</operation>
	<operation name="set_port">
	<documentation>
 Sets the ports of the RADIUS servers.
 
        	</documentation>
		<input message="tns:Management.RADIUSServer.set_portRequest"/>
		<output message="tns:Management.RADIUSServer.set_portResponse"/>
	</operation>
	<operation name="get_port">
	<documentation>
 Gets the ports of the RADIUS servers.
 
        	</documentation>
		<input message="tns:Management.RADIUSServer.get_portRequest"/>
		<output message="tns:Management.RADIUSServer.get_portResponse"/>
	</operation>
	<operation name="set_secret">
	<documentation>
 Sets the secrets of the RADIUS servers.
 
        	</documentation>
		<input message="tns:Management.RADIUSServer.set_secretRequest"/>
		<output message="tns:Management.RADIUSServer.set_secretResponse"/>
	</operation>
	<operation name="get_secret">
	<documentation>
 Gets the secrets of the RADIUS servers.
 
        	</documentation>
		<input message="tns:Management.RADIUSServer.get_secretRequest"/>
		<output message="tns:Management.RADIUSServer.get_secretResponse"/>
	</operation>
	<operation name="set_timeout">
	<documentation>
 Sets the timeouts of the RADIUS servers.
 
        	</documentation>
		<input message="tns:Management.RADIUSServer.set_timeoutRequest"/>
		<output message="tns:Management.RADIUSServer.set_timeoutResponse"/>
	</operation>
	<operation name="get_timeout">
	<documentation>
 Gets the timeouts of the RADIUS servers.
 
        	</documentation>
		<input message="tns:Management.RADIUSServer.get_timeoutRequest"/>
		<output message="tns:Management.RADIUSServer.get_timeoutResponse"/>
	</operation>
	<operation name="set_description">
	<documentation>
 Sets the description for a set of RADIUS servers.

 This is an arbitrary field which can be used for any purpose.

        	</documentation>
		<input message="tns:Management.RADIUSServer.set_descriptionRequest"/>
		<output message="tns:Management.RADIUSServer.set_descriptionResponse"/>
	</operation>
	<operation name="get_description">
	<documentation>
 Gets the descriptions for a set of RADIUS servers.

        	</documentation>
		<input message="tns:Management.RADIUSServer.get_descriptionRequest"/>
		<output message="tns:Management.RADIUSServer.get_descriptionResponse"/>
	</operation>
	<operation name="get_version">
	<documentation>
 Gets the version information for this interface.

        	</documentation>
		<input message="tns:Management.RADIUSServer.get_versionRequest"/>
		<output message="tns:Management.RADIUSServer.get_versionResponse"/>
	</operation>
</portType>

<!-- binding -->

<binding name="Management.RADIUSServerBinding" type="tns:Management.RADIUSServerPortType">
	<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
	<operation name="get_list">
	<documentation>
 Gets a list of all RADIUS servers.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:Management/RADIUSServer"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/RADIUSServer"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/RADIUSServer"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="create">
	<documentation>
 Creates the specified RADIUS servers.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:Management/RADIUSServer"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/RADIUSServer"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/RADIUSServer"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="delete_server">
	<documentation>
 Deletes the specified RADIUS servers.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:Management/RADIUSServer"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/RADIUSServer"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/RADIUSServer"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="delete_all_servers">
	<documentation>
 Deletes all RADIUS servers.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:Management/RADIUSServer"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/RADIUSServer"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/RADIUSServer"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_ip_or_hostname">
	<documentation>
 Sets the IP addresses or hostnames of the RADIUS servers.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:Management/RADIUSServer"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/RADIUSServer"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/RADIUSServer"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_ip_or_hostname">
	<documentation>
 Gets the IP addresses or hostnames of the RADIUS servers.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:Management/RADIUSServer"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/RADIUSServer"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/RADIUSServer"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_port">
	<documentation>
 Sets the ports of the RADIUS servers.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:Management/RADIUSServer"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/RADIUSServer"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/RADIUSServer"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_port">
	<documentation>
 Gets the ports of the RADIUS servers.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:Management/RADIUSServer"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/RADIUSServer"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/RADIUSServer"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_secret">
	<documentation>
 Sets the secrets of the RADIUS servers.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:Management/RADIUSServer"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/RADIUSServer"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/RADIUSServer"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_secret">
	<documentation>
 Gets the secrets of the RADIUS servers.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:Management/RADIUSServer"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/RADIUSServer"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/RADIUSServer"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_timeout">
	<documentation>
 Sets the timeouts of the RADIUS servers.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:Management/RADIUSServer"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/RADIUSServer"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/RADIUSServer"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_timeout">
	<documentation>
 Gets the timeouts of the RADIUS servers.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:Management/RADIUSServer"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/RADIUSServer"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/RADIUSServer"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_description">
	<documentation>
 Sets the description for a set of RADIUS servers.

 This is an arbitrary field which can be used for any purpose.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Management/RADIUSServer"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/RADIUSServer"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/RADIUSServer"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_description">
	<documentation>
 Gets the descriptions for a set of RADIUS servers.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Management/RADIUSServer"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/RADIUSServer"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/RADIUSServer"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_version">
	<documentation>
 Gets the version information for this interface.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Management/RADIUSServer"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/RADIUSServer"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/RADIUSServer"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>
</binding>

<!-- service -->

<service name="Management.RADIUSServer">
	<documentation>
 The RADIUSServer interface enables you to manage RADIUS Server configuration.

        	</documentation>
	<port name="Management.RADIUSServerPort" binding="tns:Management.RADIUSServerBinding">
		<soap:address location="https://url_to_service"/>
	</port>
</service>
</definitions>
