lib/puppet/util/network_device/wsdl/Management.FeatureModule.wsdl

<?xml version="1.0" ?>
<!--
Copyright (c) 1996-2012, F5 Networks, Inc., Seattle, Washington. All rights reserved.  

F5, F5 Networks, the F5 logo, BIG-IP, 3-DNS, iControl, GLOBAL-SITE, SEE-IT, EDGE-FX, FireGuard, Internet Control Architecture, IP Application Switch, iRules, PACKET VELOCITY, SYN Check, CONTROL YOUR WORLD, OneConnect, ZoneRunner, uRoam, FirePass, and TrafficShield are registered trademarks or trademarks of F5 Networks, Inc., in the U.S. and certain other countries. 

All other trademarks mentioned in this document are the property of their respective owners. F5 Networks' trademarks may not be used in connection with any product or service except as permitted in writing by F5.

-->
<definitions name="Management.FeatureModule"
	targetNamespace="urn:iControl"
	xmlns:tns="urn:iControl"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns="http://schemas.xmlsoap.org/wsdl/">

<!-- types -->

<types>
	<xsd:schema targetNamespace='urn:iControl'
		xmlns='http://www.w3.org/2001/XMLSchema'
		xmlns:SOAP-ENC='http://schemas.xmlsoap.org/soap/encoding/'
		xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>
		<xsd:simpleType name="Common.EnabledState">
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="STATE_DISABLED">
					<xsd:annotation>
						<xsd:documentation>STATE_DISABLED</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="STATE_ENABLED">
					<xsd:annotation>
						<xsd:documentation>STATE_ENABLED</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
			</xsd:restriction>
		</xsd:simpleType>
		<xsd:complexType name="Common.StringSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:string[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:complexType name="Common.TMOSModuleSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='tns:Common.TMOSModule[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:simpleType name="Common.TMOSModule">
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="TMOS_MODULE_ASM">
					<xsd:annotation>
						<xsd:documentation>TMOS_MODULE_ASM</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="TMOS_MODULE_SAM">
					<xsd:annotation>
						<xsd:documentation>TMOS_MODULE_SAM</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="TMOS_MODULE_WAM">
					<xsd:annotation>
						<xsd:documentation>TMOS_MODULE_WAM</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="TMOS_MODULE_PSM">
					<xsd:annotation>
						<xsd:documentation>TMOS_MODULE_PSM</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="TMOS_MODULE_WOM">
					<xsd:annotation>
						<xsd:documentation>TMOS_MODULE_WOM</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="TMOS_MODULE_LC">
					<xsd:annotation>
						<xsd:documentation>TMOS_MODULE_LC</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="TMOS_MODULE_LTM">
					<xsd:annotation>
						<xsd:documentation>TMOS_MODULE_LTM</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="TMOS_MODULE_GTM">
					<xsd:annotation>
						<xsd:documentation>TMOS_MODULE_GTM</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="TMOS_MODULE_UNKNOWN">
					<xsd:annotation>
						<xsd:documentation>TMOS_MODULE_UNKNOWN</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="TMOS_MODULE_WOML">
					<xsd:annotation>
						<xsd:documentation>TMOS_MODULE_WOML</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="TMOS_MODULE_APML">
					<xsd:annotation>
						<xsd:documentation>TMOS_MODULE_APML</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="TMOS_MODULE_EM">
					<xsd:annotation>
						<xsd:documentation>TMOS_MODULE_EM</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="TMOS_MODULE_VCMP">
					<xsd:annotation>
						<xsd:documentation>TMOS_MODULE_VCMP</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="TMOS_MODULE_TMOS">
					<xsd:annotation>
						<xsd:documentation>TMOS_MODULE_TMOS</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="TMOS_MODULE_HOST">
					<xsd:annotation>
						<xsd:documentation>TMOS_MODULE_HOST</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="TMOS_MODULE_UI">
					<xsd:annotation>
						<xsd:documentation>TMOS_MODULE_UI</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="TMOS_MODULE_MONITORS">
					<xsd:annotation>
						<xsd:documentation>TMOS_MODULE_MONITORS</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="TMOS_MODULE_AVR">
					<xsd:annotation>
						<xsd:documentation>TMOS_MODULE_AVR</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="TMOS_MODULE_PEM">
					<xsd:annotation>
						<xsd:documentation>TMOS_MODULE_PEM</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="TMOS_MODULE_CGNAT">
					<xsd:annotation>
						<xsd:documentation>TMOS_MODULE_CGNAT</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="TMOS_MODULE_AFM">
					<xsd:annotation>
						<xsd:documentation>TMOS_MODULE_AFM</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
			</xsd:restriction>
		</xsd:simpleType>
		<xsd:complexType name="Common.EnabledStateSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='tns:Common.EnabledState[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:schema>
</types>

<!-- message -->

<message name="Management.FeatureModule.get_listRequest">
</message>
<message name="Management.FeatureModule.get_listResponse">
	<part name="return" type="tns:Common.TMOSModuleSequence"/>
</message>

<message name="Management.FeatureModule.set_enabled_stateRequest">
	<part name="modules" type="tns:Common.TMOSModuleSequence"/>
	<part name="states" type="tns:Common.EnabledStateSequence"/>
</message>
<message name="Management.FeatureModule.set_enabled_stateResponse">
</message>

<message name="Management.FeatureModule.get_enabled_stateRequest">
	<part name="modules" type="tns:Common.TMOSModuleSequence"/>
</message>
<message name="Management.FeatureModule.get_enabled_stateResponse">
	<part name="return" type="tns:Common.EnabledStateSequence"/>
</message>

<message name="Management.FeatureModule.set_descriptionRequest">
	<part name="modules" type="tns:Common.TMOSModuleSequence"/>
	<part name="descriptions" type="tns:Common.StringSequence"/>
</message>
<message name="Management.FeatureModule.set_descriptionResponse">
</message>

<message name="Management.FeatureModule.get_descriptionRequest">
	<part name="modules" type="tns:Common.TMOSModuleSequence"/>
</message>
<message name="Management.FeatureModule.get_descriptionResponse">
	<part name="return" type="tns:Common.StringSequence"/>
</message>

<message name="Management.FeatureModule.get_versionRequest">
</message>
<message name="Management.FeatureModule.get_versionResponse">
	<part name="return" type="xsd:string"/>
</message>

<!-- portType -->

<portType name="Management.FeatureModulePortType">
	<operation name="get_list">
	<documentation>
 Gets all feature modules

        	</documentation>
		<input message="tns:Management.FeatureModule.get_listRequest"/>
		<output message="tns:Management.FeatureModule.get_listResponse"/>
	</operation>
	<operation name="set_enabled_state">
	<documentation>
 Sets the enabled state for the requested modules. Setting the state
 of a module to disabled means that the module is not configurable.

        	</documentation>
		<input message="tns:Management.FeatureModule.set_enabled_stateRequest"/>
		<output message="tns:Management.FeatureModule.set_enabled_stateResponse"/>
	</operation>
	<operation name="get_enabled_state">
	<documentation>
 Gets the enabled state for the requested modules.

        	</documentation>
		<input message="tns:Management.FeatureModule.get_enabled_stateRequest"/>
		<output message="tns:Management.FeatureModule.get_enabled_stateResponse"/>
	</operation>
	<operation name="set_description">
	<documentation>
 Sets the description for a set of modules.

 This is an arbitrary field which can be used for any purpose.

        	</documentation>
		<input message="tns:Management.FeatureModule.set_descriptionRequest"/>
		<output message="tns:Management.FeatureModule.set_descriptionResponse"/>
	</operation>
	<operation name="get_description">
	<documentation>
 Gets the descriptions for a set of modules.

        	</documentation>
		<input message="tns:Management.FeatureModule.get_descriptionRequest"/>
		<output message="tns:Management.FeatureModule.get_descriptionResponse"/>
	</operation>
	<operation name="get_version">
	<documentation>
 Gets the version for this interface.

        	</documentation>
		<input message="tns:Management.FeatureModule.get_versionRequest"/>
		<output message="tns:Management.FeatureModule.get_versionResponse"/>
	</operation>
</portType>

<!-- binding -->

<binding name="Management.FeatureModuleBinding" type="tns:Management.FeatureModulePortType">
	<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
	<operation name="get_list">
	<documentation>
 Gets all feature modules

        	</documentation>
		<soap:operation soapAction="urn:iControl:Management/FeatureModule"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/FeatureModule"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/FeatureModule"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_enabled_state">
	<documentation>
 Sets the enabled state for the requested modules. Setting the state
 of a module to disabled means that the module is not configurable.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Management/FeatureModule"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/FeatureModule"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/FeatureModule"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_enabled_state">
	<documentation>
 Gets the enabled state for the requested modules.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Management/FeatureModule"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/FeatureModule"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/FeatureModule"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_description">
	<documentation>
 Sets the description for a set of modules.

 This is an arbitrary field which can be used for any purpose.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Management/FeatureModule"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/FeatureModule"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/FeatureModule"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_description">
	<documentation>
 Gets the descriptions for a set of modules.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Management/FeatureModule"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/FeatureModule"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/FeatureModule"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_version">
	<documentation>
 Gets the version for this interface.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Management/FeatureModule"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/FeatureModule"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/FeatureModule"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>
</binding>

<!-- service -->

<service name="Management.FeatureModule">
	<documentation>
 The Feature Module interface manages the availability of licensed
 features (that are not provisioning modules).  Similar to provisioned
 modules, when a feature module is enabled, its components become
 available for configuration (however, no resource changes are needed).

        	</documentation>
	<port name="Management.FeatureModulePort" binding="tns:Management.FeatureModuleBinding">
		<soap:address location="https://url_to_service"/>
	</port>
</service>
</definitions>
