lib/puppet/util/network_device/wsdl/Management.CRLDPServer.wsdl

<?xml version="1.0" ?>
<!--
Copyright (c) 1996-2012, F5 Networks, Inc., Seattle, Washington. All rights reserved.  

F5, F5 Networks, the F5 logo, BIG-IP, 3-DNS, iControl, GLOBAL-SITE, SEE-IT, EDGE-FX, FireGuard, Internet Control Architecture, IP Application Switch, iRules, PACKET VELOCITY, SYN Check, CONTROL YOUR WORLD, OneConnect, ZoneRunner, uRoam, FirePass, and TrafficShield are registered trademarks or trademarks of F5 Networks, Inc., in the U.S. and certain other countries. 

All other trademarks mentioned in this document are the property of their respective owners. F5 Networks' trademarks may not be used in connection with any product or service except as permitted in writing by F5.

-->
<definitions name="Management.CRLDPServer"
	targetNamespace="urn:iControl"
	xmlns:tns="urn:iControl"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns="http://schemas.xmlsoap.org/wsdl/">

<!-- types -->

<types>
	<xsd:schema targetNamespace='urn:iControl'
		xmlns='http://www.w3.org/2001/XMLSchema'
		xmlns:SOAP-ENC='http://schemas.xmlsoap.org/soap/encoding/'
		xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>
		<xsd:complexType name="Management.CRLDPServer.CRLDPServerDefinition">
			<xsd:sequence>
				<xsd:element name="name" type="xsd:string"/>
				<xsd:element name="hostname" type="xsd:string"/>
				<xsd:element name="port" type="xsd:long"/>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:simpleType name="Common.EnabledState">
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="STATE_DISABLED">
					<xsd:annotation>
						<xsd:documentation>STATE_DISABLED</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="STATE_ENABLED">
					<xsd:annotation>
						<xsd:documentation>STATE_ENABLED</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
			</xsd:restriction>
		</xsd:simpleType>
		<xsd:complexType name="Common.StringSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:string[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:complexType name="Management.CRLDPServer.CRLDPServerDefinitionSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='tns:Management.CRLDPServer.CRLDPServerDefinition[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:complexType name="Common.PortSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:long[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:complexType name="Common.EnabledStateSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='tns:Common.EnabledState[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:schema>
</types>

<!-- message -->

<message name="Management.CRLDPServer.get_listRequest">
</message>
<message name="Management.CRLDPServer.get_listResponse">
	<part name="return" type="tns:Common.StringSequence"/>
</message>

<message name="Management.CRLDPServer.createRequest">
	<part name="servers" type="tns:Management.CRLDPServer.CRLDPServerDefinitionSequence"/>
</message>
<message name="Management.CRLDPServer.createResponse">
</message>

<message name="Management.CRLDPServer.delete_serverRequest">
	<part name="servers" type="tns:Common.StringSequence"/>
</message>
<message name="Management.CRLDPServer.delete_serverResponse">
</message>

<message name="Management.CRLDPServer.delete_all_serversRequest">
</message>
<message name="Management.CRLDPServer.delete_all_serversResponse">
</message>

<message name="Management.CRLDPServer.set_hostnameRequest">
	<part name="servers" type="tns:Common.StringSequence"/>
	<part name="hostnames" type="tns:Common.StringSequence"/>
</message>
<message name="Management.CRLDPServer.set_hostnameResponse">
</message>

<message name="Management.CRLDPServer.get_hostnameRequest">
	<part name="servers" type="tns:Common.StringSequence"/>
</message>
<message name="Management.CRLDPServer.get_hostnameResponse">
	<part name="return" type="tns:Common.StringSequence"/>
</message>

<message name="Management.CRLDPServer.set_portRequest">
	<part name="servers" type="tns:Common.StringSequence"/>
	<part name="ports" type="tns:Common.PortSequence"/>
</message>
<message name="Management.CRLDPServer.set_portResponse">
</message>

<message name="Management.CRLDPServer.get_portRequest">
	<part name="servers" type="tns:Common.StringSequence"/>
</message>
<message name="Management.CRLDPServer.get_portResponse">
	<part name="return" type="tns:Common.PortSequence"/>
</message>

<message name="Management.CRLDPServer.set_base_dnRequest">
	<part name="servers" type="tns:Common.StringSequence"/>
	<part name="base_dns" type="tns:Common.StringSequence"/>
</message>
<message name="Management.CRLDPServer.set_base_dnResponse">
</message>

<message name="Management.CRLDPServer.get_base_dnRequest">
	<part name="servers" type="tns:Common.StringSequence"/>
</message>
<message name="Management.CRLDPServer.get_base_dnResponse">
	<part name="return" type="tns:Common.StringSequence"/>
</message>

<message name="Management.CRLDPServer.set_reverse_dn_stateRequest">
	<part name="servers" type="tns:Common.StringSequence"/>
	<part name="states" type="tns:Common.EnabledStateSequence"/>
</message>
<message name="Management.CRLDPServer.set_reverse_dn_stateResponse">
</message>

<message name="Management.CRLDPServer.get_reverse_dn_stateRequest">
	<part name="servers" type="tns:Common.StringSequence"/>
</message>
<message name="Management.CRLDPServer.get_reverse_dn_stateResponse">
	<part name="return" type="tns:Common.EnabledStateSequence"/>
</message>

<message name="Management.CRLDPServer.set_descriptionRequest">
	<part name="servers" type="tns:Common.StringSequence"/>
	<part name="descriptions" type="tns:Common.StringSequence"/>
</message>
<message name="Management.CRLDPServer.set_descriptionResponse">
</message>

<message name="Management.CRLDPServer.get_descriptionRequest">
	<part name="servers" type="tns:Common.StringSequence"/>
</message>
<message name="Management.CRLDPServer.get_descriptionResponse">
	<part name="return" type="tns:Common.StringSequence"/>
</message>

<message name="Management.CRLDPServer.get_versionRequest">
</message>
<message name="Management.CRLDPServer.get_versionResponse">
	<part name="return" type="xsd:string"/>
</message>

<!-- portType -->

<portType name="Management.CRLDPServerPortType">
	<operation name="get_list">
  	<documentation>
 Gets a list of all CRLDP servers.

        	</documentation>
		<input message="tns:Management.CRLDPServer.get_listRequest"/>
		<output message="tns:Management.CRLDPServer.get_listResponse"/>
	</operation>
	<operation name="create">
	<documentation>
 Creates the specified CRLDP servers.

        	</documentation>
		<input message="tns:Management.CRLDPServer.createRequest"/>
		<output message="tns:Management.CRLDPServer.createResponse"/>
	</operation>
	<operation name="delete_server">
	<documentation>
 Deletes the specified CRLDP servers.

        	</documentation>
		<input message="tns:Management.CRLDPServer.delete_serverRequest"/>
		<output message="tns:Management.CRLDPServer.delete_serverResponse"/>
	</operation>
	<operation name="delete_all_servers">
	<documentation>
 Deletes all CRLDP servers.

        	</documentation>
		<input message="tns:Management.CRLDPServer.delete_all_serversRequest"/>
		<output message="tns:Management.CRLDPServer.delete_all_serversResponse"/>
	</operation>
	<operation name="set_hostname">
	<documentation>
 Sets the hostnames of the CRLDP servers.

        	</documentation>
		<input message="tns:Management.CRLDPServer.set_hostnameRequest"/>
		<output message="tns:Management.CRLDPServer.set_hostnameResponse"/>
	</operation>
	<operation name="get_hostname">
	<documentation>
 Gets the hostnames of the CRLDP servers.

        	</documentation>
		<input message="tns:Management.CRLDPServer.get_hostnameRequest"/>
		<output message="tns:Management.CRLDPServer.get_hostnameResponse"/>
	</operation>
	<operation name="set_port">
	<documentation>
 Sets the ports of the CRLDP servers.

        	</documentation>
		<input message="tns:Management.CRLDPServer.set_portRequest"/>
		<output message="tns:Management.CRLDPServer.set_portResponse"/>
	</operation>
	<operation name="get_port">
	<documentation>
 Gets the ports of the CRLDP servers.

        	</documentation>
		<input message="tns:Management.CRLDPServer.get_portRequest"/>
		<output message="tns:Management.CRLDPServer.get_portResponse"/>
	</operation>
	<operation name="set_base_dn">
	<documentation>
 Sets the base DNs of the CRLDP servers.

        	</documentation>
		<input message="tns:Management.CRLDPServer.set_base_dnRequest"/>
		<output message="tns:Management.CRLDPServer.set_base_dnResponse"/>
	</operation>
	<operation name="get_base_dn">
	<documentation>
 Gets the base DNs of the CRLDP servers.

        	</documentation>
		<input message="tns:Management.CRLDPServer.get_base_dnRequest"/>
		<output message="tns:Management.CRLDPServer.get_base_dnResponse"/>
	</operation>
	<operation name="set_reverse_dn_state">
	<documentation>
 Sets the states indicating whether to match from head to tail in the case
 where the DNs are in reversed order.

        	</documentation>
		<input message="tns:Management.CRLDPServer.set_reverse_dn_stateRequest"/>
		<output message="tns:Management.CRLDPServer.set_reverse_dn_stateResponse"/>
	</operation>
	<operation name="get_reverse_dn_state">
	<documentation>
 Gets the states indicating whether to match from head to tail in the case
 where the DNs are in reversed order.

        	</documentation>
		<input message="tns:Management.CRLDPServer.get_reverse_dn_stateRequest"/>
		<output message="tns:Management.CRLDPServer.get_reverse_dn_stateResponse"/>
	</operation>
	<operation name="set_description">
	<documentation>
 Sets the description for a set of CRLDP servers.

 This is an arbitrary field which can be used for any purpose.

        	</documentation>
		<input message="tns:Management.CRLDPServer.set_descriptionRequest"/>
		<output message="tns:Management.CRLDPServer.set_descriptionResponse"/>
	</operation>
	<operation name="get_description">
	<documentation>
 Gets the descriptions for a set of CRLDP servers.

        	</documentation>
		<input message="tns:Management.CRLDPServer.get_descriptionRequest"/>
		<output message="tns:Management.CRLDPServer.get_descriptionResponse"/>
	</operation>
	<operation name="get_version">
	<documentation>
 Gets the version information for this interface.

        	</documentation>
		<input message="tns:Management.CRLDPServer.get_versionRequest"/>
		<output message="tns:Management.CRLDPServer.get_versionResponse"/>
	</operation>
</portType>

<!-- binding -->

<binding name="Management.CRLDPServerBinding" type="tns:Management.CRLDPServerPortType">
	<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
	<operation name="get_list">
	<documentation>
 Gets a list of all CRLDP servers.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Management/CRLDPServer"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/CRLDPServer"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/CRLDPServer"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="create">
	<documentation>
 Creates the specified CRLDP servers.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Management/CRLDPServer"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/CRLDPServer"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/CRLDPServer"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="delete_server">
	<documentation>
 Deletes the specified CRLDP servers.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Management/CRLDPServer"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/CRLDPServer"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/CRLDPServer"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="delete_all_servers">
	<documentation>
 Deletes all CRLDP servers.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Management/CRLDPServer"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/CRLDPServer"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/CRLDPServer"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_hostname">
	<documentation>
 Sets the hostnames of the CRLDP servers.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Management/CRLDPServer"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/CRLDPServer"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/CRLDPServer"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_hostname">
	<documentation>
 Gets the hostnames of the CRLDP servers.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Management/CRLDPServer"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/CRLDPServer"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/CRLDPServer"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_port">
	<documentation>
 Sets the ports of the CRLDP servers.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Management/CRLDPServer"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/CRLDPServer"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/CRLDPServer"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_port">
	<documentation>
 Gets the ports of the CRLDP servers.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Management/CRLDPServer"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/CRLDPServer"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/CRLDPServer"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_base_dn">
	<documentation>
 Sets the base DNs of the CRLDP servers.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Management/CRLDPServer"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/CRLDPServer"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/CRLDPServer"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_base_dn">
	<documentation>
 Gets the base DNs of the CRLDP servers.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Management/CRLDPServer"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/CRLDPServer"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/CRLDPServer"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_reverse_dn_state">
	<documentation>
 Sets the states indicating whether to match from head to tail in the case
 where the DNs are in reversed order.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Management/CRLDPServer"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/CRLDPServer"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/CRLDPServer"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_reverse_dn_state">
	<documentation>
 Gets the states indicating whether to match from head to tail in the case
 where the DNs are in reversed order.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Management/CRLDPServer"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/CRLDPServer"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/CRLDPServer"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_description">
	<documentation>
 Sets the description for a set of CRLDP servers.

 This is an arbitrary field which can be used for any purpose.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Management/CRLDPServer"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/CRLDPServer"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/CRLDPServer"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_description">
	<documentation>
 Gets the descriptions for a set of CRLDP servers.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Management/CRLDPServer"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/CRLDPServer"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/CRLDPServer"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_version">
	<documentation>
 Gets the version information for this interface.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Management/CRLDPServer"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/CRLDPServer"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/CRLDPServer"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>
</binding>

<!-- service -->

<service name="Management.CRLDPServer">
	<documentation>
 The CRLDPServer interface enables you to manage CRLDP Server configuration.

        	</documentation>
	<port name="Management.CRLDPServerPort" binding="tns:Management.CRLDPServerBinding">
		<soap:address location="https://url_to_service"/>
	</port>
</service>
</definitions>
