lib/puppet/util/network_device/wsdl/Management.OCSPConfiguration.wsdl

<?xml version="1.0" ?>
<!--
Copyright (c) 1996-2012, F5 Networks, Inc., Seattle, Washington. All rights reserved.  

F5, F5 Networks, the F5 logo, BIG-IP, 3-DNS, iControl, GLOBAL-SITE, SEE-IT, EDGE-FX, FireGuard, Internet Control Architecture, IP Application Switch, iRules, PACKET VELOCITY, SYN Check, CONTROL YOUR WORLD, OneConnect, ZoneRunner, uRoam, FirePass, and TrafficShield are registered trademarks or trademarks of F5 Networks, Inc., in the U.S. and certain other countries. 

All other trademarks mentioned in this document are the property of their respective owners. F5 Networks' trademarks may not be used in connection with any product or service except as permitted in writing by F5.

-->
<definitions name="Management.OCSPConfiguration"
	targetNamespace="urn:iControl"
	xmlns:tns="urn:iControl"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns="http://schemas.xmlsoap.org/wsdl/">

<!-- types -->

<types>
	<xsd:schema targetNamespace='urn:iControl'
		xmlns='http://www.w3.org/2001/XMLSchema'
		xmlns:SOAP-ENC='http://schemas.xmlsoap.org/soap/encoding/'
		xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>
		<xsd:complexType name="Common.StringSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:string[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:complexType name="Common.StringSequenceSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='tns:Common.StringSequence[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:schema>
</types>

<!-- message -->

<message name="Management.OCSPConfiguration.get_listRequest">
</message>
<message name="Management.OCSPConfiguration.get_listResponse">
	<part name="return" type="tns:Common.StringSequence"/>
</message>

<message name="Management.OCSPConfiguration.createRequest">
	<part name="config_names" type="tns:Common.StringSequence"/>
	<part name="responders" type="tns:Common.StringSequenceSequence"/>
</message>
<message name="Management.OCSPConfiguration.createResponse">
</message>

<message name="Management.OCSPConfiguration.delete_configurationRequest">
	<part name="config_names" type="tns:Common.StringSequence"/>
</message>
<message name="Management.OCSPConfiguration.delete_configurationResponse">
</message>

<message name="Management.OCSPConfiguration.delete_all_configurationsRequest">
</message>
<message name="Management.OCSPConfiguration.delete_all_configurationsResponse">
</message>

<message name="Management.OCSPConfiguration.get_responderRequest">
	<part name="config_names" type="tns:Common.StringSequence"/>
</message>
<message name="Management.OCSPConfiguration.get_responderResponse">
	<part name="return" type="tns:Common.StringSequenceSequence"/>
</message>

<message name="Management.OCSPConfiguration.add_responderRequest">
	<part name="config_names" type="tns:Common.StringSequence"/>
	<part name="responders" type="tns:Common.StringSequenceSequence"/>
</message>
<message name="Management.OCSPConfiguration.add_responderResponse">
</message>

<message name="Management.OCSPConfiguration.remove_responderRequest">
	<part name="config_names" type="tns:Common.StringSequence"/>
	<part name="responders" type="tns:Common.StringSequenceSequence"/>
</message>
<message name="Management.OCSPConfiguration.remove_responderResponse">
</message>

<message name="Management.OCSPConfiguration.remove_all_respondersRequest">
	<part name="config_names" type="tns:Common.StringSequence"/>
</message>
<message name="Management.OCSPConfiguration.remove_all_respondersResponse">
</message>

<message name="Management.OCSPConfiguration.set_descriptionRequest">
	<part name="config_names" type="tns:Common.StringSequence"/>
	<part name="descriptions" type="tns:Common.StringSequence"/>
</message>
<message name="Management.OCSPConfiguration.set_descriptionResponse">
</message>

<message name="Management.OCSPConfiguration.get_descriptionRequest">
	<part name="config_names" type="tns:Common.StringSequence"/>
</message>
<message name="Management.OCSPConfiguration.get_descriptionResponse">
	<part name="return" type="tns:Common.StringSequence"/>
</message>

<message name="Management.OCSPConfiguration.get_versionRequest">
</message>
<message name="Management.OCSPConfiguration.get_versionResponse">
	<part name="return" type="xsd:string"/>
</message>

<!-- portType -->

<portType name="Management.OCSPConfigurationPortType">
	<operation name="get_list">
    	<documentation>
 Gets a list of all OCSP configurations.
 
        	</documentation>
		<input message="tns:Management.OCSPConfiguration.get_listRequest"/>
		<output message="tns:Management.OCSPConfiguration.get_listResponse"/>
	</operation>
	<operation name="create">
	<documentation>
 Creates the specified OCSP configurations.
 
        	</documentation>
		<input message="tns:Management.OCSPConfiguration.createRequest"/>
		<output message="tns:Management.OCSPConfiguration.createResponse"/>
	</operation>
	<operation name="delete_configuration">
	<documentation>
 Deletes the specified OCSP configurations.
 
        	</documentation>
		<input message="tns:Management.OCSPConfiguration.delete_configurationRequest"/>
		<output message="tns:Management.OCSPConfiguration.delete_configurationResponse"/>
	</operation>
	<operation name="delete_all_configurations">
	<documentation>
 Deletes all OCSP configurations.
 
        	</documentation>
		<input message="tns:Management.OCSPConfiguration.delete_all_configurationsRequest"/>
		<output message="tns:Management.OCSPConfiguration.delete_all_configurationsResponse"/>
	</operation>
	<operation name="get_responder">
	<documentation>
 Gets the lists of responders the specified OCSP configurations are associated with.

        	</documentation>
		<input message="tns:Management.OCSPConfiguration.get_responderRequest"/>
		<output message="tns:Management.OCSPConfiguration.get_responderResponse"/>
	</operation>
	<operation name="add_responder">
	<documentation>
 Adds/associates responders to the specified OCSP configurations.

        	</documentation>
		<input message="tns:Management.OCSPConfiguration.add_responderRequest"/>
		<output message="tns:Management.OCSPConfiguration.add_responderResponse"/>
	</operation>
	<operation name="remove_responder">
	<documentation>
 Removes responders from the specified OCSP configurations.

        	</documentation>
		<input message="tns:Management.OCSPConfiguration.remove_responderRequest"/>
		<output message="tns:Management.OCSPConfiguration.remove_responderResponse"/>
	</operation>
	<operation name="remove_all_responders">
	<documentation>
 Removes all responders from the specified OCSP configurations.

        	</documentation>
		<input message="tns:Management.OCSPConfiguration.remove_all_respondersRequest"/>
		<output message="tns:Management.OCSPConfiguration.remove_all_respondersResponse"/>
	</operation>
	<operation name="set_description">
	<documentation>
 Sets the description for a set of OCSP configurations.

 This is an arbitrary field which can be used for any purpose.

        	</documentation>
		<input message="tns:Management.OCSPConfiguration.set_descriptionRequest"/>
		<output message="tns:Management.OCSPConfiguration.set_descriptionResponse"/>
	</operation>
	<operation name="get_description">
	<documentation>
 Gets the descriptions for a set of OCSP configurations.

        	</documentation>
		<input message="tns:Management.OCSPConfiguration.get_descriptionRequest"/>
		<output message="tns:Management.OCSPConfiguration.get_descriptionResponse"/>
	</operation>
	<operation name="get_version">
	<documentation>
 Gets the version information for this interface.

        	</documentation>
		<input message="tns:Management.OCSPConfiguration.get_versionRequest"/>
		<output message="tns:Management.OCSPConfiguration.get_versionResponse"/>
	</operation>
</portType>

<!-- binding -->

<binding name="Management.OCSPConfigurationBinding" type="tns:Management.OCSPConfigurationPortType">
	<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
	<operation name="get_list">
	<documentation>
 Gets a list of all OCSP configurations.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:Management/OCSPConfiguration"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/OCSPConfiguration"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/OCSPConfiguration"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="create">
	<documentation>
 Creates the specified OCSP configurations.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:Management/OCSPConfiguration"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/OCSPConfiguration"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/OCSPConfiguration"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="delete_configuration">
	<documentation>
 Deletes the specified OCSP configurations.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:Management/OCSPConfiguration"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/OCSPConfiguration"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/OCSPConfiguration"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="delete_all_configurations">
	<documentation>
 Deletes all OCSP configurations.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:Management/OCSPConfiguration"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/OCSPConfiguration"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/OCSPConfiguration"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_responder">
	<documentation>
 Gets the lists of responders the specified OCSP configurations are associated with.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Management/OCSPConfiguration"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/OCSPConfiguration"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/OCSPConfiguration"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="add_responder">
	<documentation>
 Adds/associates responders to the specified OCSP configurations.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Management/OCSPConfiguration"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/OCSPConfiguration"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/OCSPConfiguration"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="remove_responder">
	<documentation>
 Removes responders from the specified OCSP configurations.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Management/OCSPConfiguration"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/OCSPConfiguration"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/OCSPConfiguration"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="remove_all_responders">
	<documentation>
 Removes all responders from the specified OCSP configurations.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Management/OCSPConfiguration"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/OCSPConfiguration"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/OCSPConfiguration"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_description">
	<documentation>
 Sets the description for a set of OCSP configurations.

 This is an arbitrary field which can be used for any purpose.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Management/OCSPConfiguration"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/OCSPConfiguration"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/OCSPConfiguration"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_description">
	<documentation>
 Gets the descriptions for a set of OCSP configurations.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Management/OCSPConfiguration"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/OCSPConfiguration"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/OCSPConfiguration"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_version">
	<documentation>
 Gets the version information for this interface.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Management/OCSPConfiguration"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/OCSPConfiguration"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/OCSPConfiguration"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>
</binding>

<!-- service -->

<service name="Management.OCSPConfiguration">
	<documentation>
 The OCSPConfiguration interface enables you to manage OCSP PAM configuration.

        	</documentation>
	<port name="Management.OCSPConfigurationPort" binding="tns:Management.OCSPConfigurationBinding">
		<soap:address location="https://url_to_service"/>
	</port>
</service>
</definitions>
