lib/puppet/util/network_device/wsdl/Management.TMOSModule.wsdl

<?xml version="1.0" ?>
<!--
Copyright (c) 1996-2012, F5 Networks, Inc., Seattle, Washington. All rights reserved.  

F5, F5 Networks, the F5 logo, BIG-IP, 3-DNS, iControl, GLOBAL-SITE, SEE-IT, EDGE-FX, FireGuard, Internet Control Architecture, IP Application Switch, iRules, PACKET VELOCITY, SYN Check, CONTROL YOUR WORLD, OneConnect, ZoneRunner, uRoam, FirePass, and TrafficShield are registered trademarks or trademarks of F5 Networks, Inc., in the U.S. and certain other countries. 

All other trademarks mentioned in this document are the property of their respective owners. F5 Networks' trademarks may not be used in connection with any product or service except as permitted in writing by F5.

-->
<definitions name="Management.TMOSModule"
	targetNamespace="urn:iControl"
	xmlns:tns="urn:iControl"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns="http://schemas.xmlsoap.org/wsdl/">

<!-- types -->

<types>
	<xsd:schema targetNamespace='urn:iControl'
		xmlns='http://www.w3.org/2001/XMLSchema'
		xmlns:SOAP-ENC='http://schemas.xmlsoap.org/soap/encoding/'
		xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>
		<xsd:complexType name="Common.StringSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:string[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:complexType name="Common.TMOSModuleSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='tns:Common.TMOSModule[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:simpleType name="Common.TMOSModule">
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="TMOS_MODULE_ASM">
					<xsd:annotation>
						<xsd:documentation>TMOS_MODULE_ASM</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="TMOS_MODULE_SAM">
					<xsd:annotation>
						<xsd:documentation>TMOS_MODULE_SAM</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="TMOS_MODULE_WAM">
					<xsd:annotation>
						<xsd:documentation>TMOS_MODULE_WAM</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="TMOS_MODULE_PSM">
					<xsd:annotation>
						<xsd:documentation>TMOS_MODULE_PSM</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="TMOS_MODULE_WOM">
					<xsd:annotation>
						<xsd:documentation>TMOS_MODULE_WOM</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="TMOS_MODULE_LC">
					<xsd:annotation>
						<xsd:documentation>TMOS_MODULE_LC</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="TMOS_MODULE_LTM">
					<xsd:annotation>
						<xsd:documentation>TMOS_MODULE_LTM</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="TMOS_MODULE_GTM">
					<xsd:annotation>
						<xsd:documentation>TMOS_MODULE_GTM</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="TMOS_MODULE_UNKNOWN">
					<xsd:annotation>
						<xsd:documentation>TMOS_MODULE_UNKNOWN</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="TMOS_MODULE_WOML">
					<xsd:annotation>
						<xsd:documentation>TMOS_MODULE_WOML</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="TMOS_MODULE_APML">
					<xsd:annotation>
						<xsd:documentation>TMOS_MODULE_APML</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="TMOS_MODULE_EM">
					<xsd:annotation>
						<xsd:documentation>TMOS_MODULE_EM</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="TMOS_MODULE_VCMP">
					<xsd:annotation>
						<xsd:documentation>TMOS_MODULE_VCMP</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="TMOS_MODULE_TMOS">
					<xsd:annotation>
						<xsd:documentation>TMOS_MODULE_TMOS</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="TMOS_MODULE_HOST">
					<xsd:annotation>
						<xsd:documentation>TMOS_MODULE_HOST</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="TMOS_MODULE_UI">
					<xsd:annotation>
						<xsd:documentation>TMOS_MODULE_UI</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="TMOS_MODULE_MONITORS">
					<xsd:annotation>
						<xsd:documentation>TMOS_MODULE_MONITORS</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="TMOS_MODULE_AVR">
					<xsd:annotation>
						<xsd:documentation>TMOS_MODULE_AVR</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="TMOS_MODULE_PEM">
					<xsd:annotation>
						<xsd:documentation>TMOS_MODULE_PEM</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="TMOS_MODULE_CGNAT">
					<xsd:annotation>
						<xsd:documentation>TMOS_MODULE_CGNAT</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="TMOS_MODULE_AFM">
					<xsd:annotation>
						<xsd:documentation>TMOS_MODULE_AFM</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:schema>
</types>

<!-- message -->

<message name="Management.TMOSModule.get_known_module_listRequest">
</message>
<message name="Management.TMOSModule.get_known_module_listResponse">
	<part name="return" type="tns:Common.TMOSModuleSequence"/>
</message>

<message name="Management.TMOSModule.get_descriptive_nameRequest">
	<part name="modules" type="tns:Common.TMOSModuleSequence"/>
</message>
<message name="Management.TMOSModule.get_descriptive_nameResponse">
	<part name="return" type="tns:Common.StringSequence"/>
</message>

<message name="Management.TMOSModule.get_versionRequest">
</message>
<message name="Management.TMOSModule.get_versionResponse">
	<part name="return" type="xsd:string"/>
</message>

<!-- portType -->

<portType name="Management.TMOSModulePortType">
	<operation name="get_known_module_list">
   	<documentation>
 Gets a list of all known modules
 
 Caution!  The list returned gives all modules known, even if they
 are not licensed or provisionable on this system.  You could use
 this to get a general picture of what modules are possible, but
 this list is not specific to the system you have.

 To determine the licensing status of the modules on your system,
 see the LicenseAdministration interface. To determine which
 provisioning modules are supported (i.e., provisionable) under your
 system or currently provisioned to run on your system, see the
 Provision interface. To determine which feature modules are
 currently enabled on your system, see the FeatureModule interface.

        	</documentation>
		<input message="tns:Management.TMOSModule.get_known_module_listRequest"/>
		<output message="tns:Management.TMOSModule.get_known_module_listResponse"/>
	</operation>
	<operation name="get_descriptive_name">
	<documentation>
 Gets a list of descriptive names for the modules given
 
        	</documentation>
		<input message="tns:Management.TMOSModule.get_descriptive_nameRequest"/>
		<output message="tns:Management.TMOSModule.get_descriptive_nameResponse"/>
	</operation>
	<operation name="get_version">
	<documentation>
 Gets the version information for this interface.

        	</documentation>
		<input message="tns:Management.TMOSModule.get_versionRequest"/>
		<output message="tns:Management.TMOSModule.get_versionResponse"/>
	</operation>
</portType>

<!-- binding -->

<binding name="Management.TMOSModuleBinding" type="tns:Management.TMOSModulePortType">
	<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
	<operation name="get_known_module_list">
	<documentation>
 Gets a list of all known modules
 
 Caution!  The list returned gives all modules known, even if they
 are not licensed or provisionable on this system.  You could use
 this to get a general picture of what modules are possible, but
 this list is not specific to the system you have.

 To determine the licensing status of the modules on your system,
 see the LicenseAdministration interface. To determine which
 provisioning modules are supported (i.e., provisionable) under your
 system or currently provisioned to run on your system, see the
 Provision interface. To determine which feature modules are
 currently enabled on your system, see the FeatureModule interface.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Management/TMOSModule"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/TMOSModule"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/TMOSModule"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_descriptive_name">
	<documentation>
 Gets a list of descriptive names for the modules given
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:Management/TMOSModule"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/TMOSModule"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/TMOSModule"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_version">
	<documentation>
 Gets the version information for this interface.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Management/TMOSModule"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/TMOSModule"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/TMOSModule"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>
</binding>

<!-- service -->

<service name="Management.TMOSModule">
	<documentation>
 The Module interface enables you to manage the system's TMOS
 modules (e.g. LTM, GTM, ASM).  The methods and types here focus
 on the modules themselves; some of the specific questions you
 might ask about modules are broken out in other places, such as
 the Provision or LicenseAdministration interface.

        	</documentation>
	<port name="Management.TMOSModulePort" binding="tns:Management.TMOSModuleBinding">
		<soap:address location="https://url_to_service"/>
	</port>
</service>
</definitions>
