lib/puppet/util/network_device/wsdl/Management.DBVariable.wsdl

<?xml version="1.0" ?>
<!--
Copyright (c) 1996-2012, F5 Networks, Inc., Seattle, Washington. All rights reserved.  

F5, F5 Networks, the F5 logo, BIG-IP, 3-DNS, iControl, GLOBAL-SITE, SEE-IT, EDGE-FX, FireGuard, Internet Control Architecture, IP Application Switch, iRules, PACKET VELOCITY, SYN Check, CONTROL YOUR WORLD, OneConnect, ZoneRunner, uRoam, FirePass, and TrafficShield are registered trademarks or trademarks of F5 Networks, Inc., in the U.S. and certain other countries. 

All other trademarks mentioned in this document are the property of their respective owners. F5 Networks' trademarks may not be used in connection with any product or service except as permitted in writing by F5.

-->
<definitions name="Management.DBVariable"
	targetNamespace="urn:iControl"
	xmlns:tns="urn:iControl"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns="http://schemas.xmlsoap.org/wsdl/">

<!-- types -->

<types>
	<xsd:schema targetNamespace='urn:iControl'
		xmlns='http://www.w3.org/2001/XMLSchema'
		xmlns:SOAP-ENC='http://schemas.xmlsoap.org/soap/encoding/'
		xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>
		<xsd:complexType name="Common.StringSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:string[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:complexType name="Common.BooleanSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:boolean[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:complexType name="Management.DBVariable.VariableNameValueSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='tns:Management.DBVariable.VariableNameValue[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:complexType name="Management.DBVariable.VariableNameValue">
			<xsd:sequence>
				<xsd:element name="name" type="xsd:string"/>
				<xsd:element name="value" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:schema>
</types>

<!-- message -->

<message name="Management.DBVariable.is_variable_availableRequest">
	<part name="variables" type="tns:Common.StringSequence"/>
</message>
<message name="Management.DBVariable.is_variable_availableResponse">
	<part name="return" type="tns:Common.BooleanSequence"/>
</message>

<message name="Management.DBVariable.get_listRequest">
</message>
<message name="Management.DBVariable.get_listResponse">
	<part name="return" type="tns:Management.DBVariable.VariableNameValueSequence"/>
</message>

<message name="Management.DBVariable.queryRequest">
	<part name="variables" type="tns:Common.StringSequence"/>
</message>
<message name="Management.DBVariable.queryResponse">
	<part name="return" type="tns:Management.DBVariable.VariableNameValueSequence"/>
</message>

<message name="Management.DBVariable.createRequest">
	<part name="variables" type="tns:Management.DBVariable.VariableNameValueSequence"/>
</message>
<message name="Management.DBVariable.createResponse">
</message>

<message name="Management.DBVariable.modifyRequest">
	<part name="variables" type="tns:Management.DBVariable.VariableNameValueSequence"/>
</message>
<message name="Management.DBVariable.modifyResponse">
</message>

<message name="Management.DBVariable.resetRequest">
	<part name="variables" type="tns:Common.StringSequence"/>
</message>
<message name="Management.DBVariable.resetResponse">
</message>

<message name="Management.DBVariable.delete_variableRequest">
	<part name="variables" type="tns:Common.StringSequence"/>
</message>
<message name="Management.DBVariable.delete_variableResponse">
</message>

<message name="Management.DBVariable.get_versionRequest">
</message>
<message name="Management.DBVariable.get_versionResponse">
	<part name="return" type="xsd:string"/>
</message>

<!-- portType -->

<portType name="Management.DBVariablePortType">
	<operation name="is_variable_available">
   	<documentation>
 Verifies the existence of the specified variables in the database.
 
        	</documentation>
		<input message="tns:Management.DBVariable.is_variable_availableRequest"/>
		<output message="tns:Management.DBVariable.is_variable_availableResponse"/>
	</operation>
	<operation name="get_list">
	<documentation>
 Retrieves the values of all variables defined in the database.  This list can potentially be huge.

        	</documentation>
		<input message="tns:Management.DBVariable.get_listRequest"/>
		<output message="tns:Management.DBVariable.get_listResponse"/>
	</operation>
	<operation name="query">
	<documentation>
 Queries the values of the specified variables.

        	</documentation>
		<input message="tns:Management.DBVariable.queryRequest"/>
		<output message="tns:Management.DBVariable.queryResponse"/>
	</operation>
	<operation name="create">
	<documentation>
 Creates the specified variables in the database.

        	</documentation>
		<input message="tns:Management.DBVariable.createRequest"/>
		<output message="tns:Management.DBVariable.createResponse"/>
	</operation>
	<operation name="modify">
	<documentation>
 Modifies the specified variables in the database.

        	</documentation>
		<input message="tns:Management.DBVariable.modifyRequest"/>
		<output message="tns:Management.DBVariable.modifyResponse"/>
	</operation>
	<operation name="reset">
	<documentation>
 Resets the specified variables to their default values.

        	</documentation>
		<input message="tns:Management.DBVariable.resetRequest"/>
		<output message="tns:Management.DBVariable.resetResponse"/>
	</operation>
	<operation name="delete_variable">
	<documentation>
 Deletes the variables referenced from the database.
 
        	</documentation>
		<input message="tns:Management.DBVariable.delete_variableRequest"/>
		<output message="tns:Management.DBVariable.delete_variableResponse"/>
	</operation>
	<operation name="get_version">
	<documentation>
 Gets the version information for this interface.

        	</documentation>
		<input message="tns:Management.DBVariable.get_versionRequest"/>
		<output message="tns:Management.DBVariable.get_versionResponse"/>
	</operation>
</portType>

<!-- binding -->

<binding name="Management.DBVariableBinding" type="tns:Management.DBVariablePortType">
	<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
	<operation name="is_variable_available">
	<documentation>
 Verifies the existence of the specified variables in the database.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:Management/DBVariable"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/DBVariable"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/DBVariable"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_list">
	<documentation>
 Retrieves the values of all variables defined in the database.  This list can potentially be huge.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Management/DBVariable"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/DBVariable"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/DBVariable"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="query">
	<documentation>
 Queries the values of the specified variables.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Management/DBVariable"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/DBVariable"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/DBVariable"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="create">
	<documentation>
 Creates the specified variables in the database.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Management/DBVariable"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/DBVariable"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/DBVariable"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="modify">
	<documentation>
 Modifies the specified variables in the database.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Management/DBVariable"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/DBVariable"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/DBVariable"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="reset">
	<documentation>
 Resets the specified variables to their default values.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Management/DBVariable"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/DBVariable"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/DBVariable"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="delete_variable">
	<documentation>
 Deletes the variables referenced from the database.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:Management/DBVariable"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/DBVariable"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/DBVariable"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_version">
	<documentation>
 Gets the version information for this interface.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Management/DBVariable"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/DBVariable"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/DBVariable"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>
</binding>

<!-- service -->

<service name="Management.DBVariable">
	<documentation>
 The DBVariable interface exposes methods that enable you to work directly with our internal 
 database that contains configuration variables using name/value pairs.

        	</documentation>
	<port name="Management.DBVariablePort" binding="tns:Management.DBVariableBinding">
		<soap:address location="https://url_to_service"/>
	</port>
</service>
</definitions>
