lib/puppet/util/network_device/wsdl/Networking.iSessionDatastor.wsdl

<?xml version="1.0" ?>
<!--
Copyright (c) 1996-2012, F5 Networks, Inc., Seattle, Washington. All rights reserved.  

F5, F5 Networks, the F5 logo, BIG-IP, 3-DNS, iControl, GLOBAL-SITE, SEE-IT, EDGE-FX, FireGuard, Internet Control Architecture, IP Application Switch, iRules, PACKET VELOCITY, SYN Check, CONTROL YOUR WORLD, OneConnect, ZoneRunner, uRoam, FirePass, and TrafficShield are registered trademarks or trademarks of F5 Networks, Inc., in the U.S. and certain other countries. 

All other trademarks mentioned in this document are the property of their respective owners. F5 Networks' trademarks may not be used in connection with any product or service except as permitted in writing by F5.

-->
<definitions name="Networking.iSessionDatastor"
	targetNamespace="urn:iControl"
	xmlns:tns="urn:iControl"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns="http://schemas.xmlsoap.org/wsdl/">

<!-- types -->

<types>
	<xsd:schema targetNamespace='urn:iControl'
		xmlns='http://www.w3.org/2001/XMLSchema'
		xmlns:SOAP-ENC='http://schemas.xmlsoap.org/soap/encoding/'
		xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>
		<xsd:simpleType name="Common.EnabledState">
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="STATE_DISABLED">
					<xsd:annotation>
						<xsd:documentation>STATE_DISABLED</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="STATE_ENABLED">
					<xsd:annotation>
						<xsd:documentation>STATE_ENABLED</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
			</xsd:restriction>
		</xsd:simpleType>
		<xsd:simpleType name="Common.ULong">
			<xsd:restriction base="xsd:long"/>
		</xsd:simpleType>
	</xsd:schema>
</types>

<!-- message -->

<message name="Networking.iSessionDatastor.set_descriptionRequest">
	<part name="description" type="xsd:string"/>
</message>
<message name="Networking.iSessionDatastor.set_descriptionResponse">
</message>

<message name="Networking.iSessionDatastor.get_descriptionRequest">
</message>
<message name="Networking.iSessionDatastor.get_descriptionResponse">
	<part name="return" type="xsd:string"/>
</message>

<message name="Networking.iSessionDatastor.set_disk_stateRequest">
	<part name="state" type="tns:Common.EnabledState"/>
</message>
<message name="Networking.iSessionDatastor.set_disk_stateResponse">
</message>

<message name="Networking.iSessionDatastor.get_disk_stateRequest">
</message>
<message name="Networking.iSessionDatastor.get_disk_stateResponse">
	<part name="return" type="tns:Common.EnabledState"/>
</message>

<message name="Networking.iSessionDatastor.get_disk_cache_sizeRequest">
</message>
<message name="Networking.iSessionDatastor.get_disk_cache_sizeResponse">
	<part name="return" type="xsd:long"/>
</message>

<message name="Networking.iSessionDatastor.set_pruning_high_water_markRequest">
	<part name="value" type="xsd:long"/>
</message>
<message name="Networking.iSessionDatastor.set_pruning_high_water_markResponse">
</message>

<message name="Networking.iSessionDatastor.get_pruning_high_water_markRequest">
</message>
<message name="Networking.iSessionDatastor.get_pruning_high_water_markResponse">
	<part name="return" type="xsd:long"/>
</message>

<message name="Networking.iSessionDatastor.set_pruning_low_water_markRequest">
	<part name="value" type="xsd:long"/>
</message>
<message name="Networking.iSessionDatastor.set_pruning_low_water_markResponse">
</message>

<message name="Networking.iSessionDatastor.get_pruning_low_water_markRequest">
</message>
<message name="Networking.iSessionDatastor.get_pruning_low_water_markResponse">
	<part name="return" type="xsd:long"/>
</message>

<message name="Networking.iSessionDatastor.get_memory_cache_sizeRequest">
</message>
<message name="Networking.iSessionDatastor.get_memory_cache_sizeResponse">
	<part name="return" type="xsd:long"/>
</message>

<message name="Networking.iSessionDatastor.get_versionRequest">
</message>
<message name="Networking.iSessionDatastor.get_versionResponse">
	<part name="return" type="xsd:string"/>
</message>

<!-- portType -->

<portType name="Networking.iSessionDatastorPortType">
	<operation name="set_description">
     	<documentation>
 Sets the description for the datastor. This is an arbitrary field
 which can be used for any purpose.

        	</documentation>
		<input message="tns:Networking.iSessionDatastor.set_descriptionRequest"/>
		<output message="tns:Networking.iSessionDatastor.set_descriptionResponse"/>
	</operation>
	<operation name="get_description">
	<documentation>
 Gets the description for the datastor.

        	</documentation>
		<input message="tns:Networking.iSessionDatastor.get_descriptionRequest"/>
		<output message="tns:Networking.iSessionDatastor.get_descriptionResponse"/>
	</operation>
	<operation name="set_disk_state">
	<documentation>
 Sets the state to use disk space as part of the datastor. If set,
 disk space (in addition to memory) is used for the datastor.  If
 not set, only memory is used. If you enable or disable data storage
 on the disk, you must restart the datastor service.

        	</documentation>
		<input message="tns:Networking.iSessionDatastor.set_disk_stateRequest"/>
		<output message="tns:Networking.iSessionDatastor.set_disk_stateResponse"/>
	</operation>
	<operation name="get_disk_state">
	<documentation>
 Gets the state to use disk space as part of the datastor.

        	</documentation>
		<input message="tns:Networking.iSessionDatastor.get_disk_stateRequest"/>
		<output message="tns:Networking.iSessionDatastor.get_disk_stateResponse"/>
	</operation>
	<operation name="get_disk_cache_size">
	<documentation>
 Gets the disk cache space available for the datastor.

        	</documentation>
		<input message="tns:Networking.iSessionDatastor.get_disk_cache_sizeRequest"/>
		<output message="tns:Networking.iSessionDatastor.get_disk_cache_sizeResponse"/>
	</operation>
	<operation name="set_pruning_high_water_mark">
	<documentation>
 Sets the percentage of full cache above which pruning starts for
 the datastor. Valid values range from 60% to 100%.

        	</documentation>
		<input message="tns:Networking.iSessionDatastor.set_pruning_high_water_markRequest"/>
		<output message="tns:Networking.iSessionDatastor.set_pruning_high_water_markResponse"/>
	</operation>
	<operation name="get_pruning_high_water_mark">
	<documentation>
 Gets the percentage of full cache above which pruning starts for
 the datastor.

        	</documentation>
		<input message="tns:Networking.iSessionDatastor.get_pruning_high_water_markRequest"/>
		<output message="tns:Networking.iSessionDatastor.get_pruning_high_water_markResponse"/>
	</operation>
	<operation name="set_pruning_low_water_mark">
	<documentation>
 Sets the percentage of full cache below which pruning stops for the
 datastor.  Valid values range from 10% to 90%.

        	</documentation>
		<input message="tns:Networking.iSessionDatastor.set_pruning_low_water_markRequest"/>
		<output message="tns:Networking.iSessionDatastor.set_pruning_low_water_markResponse"/>
	</operation>
	<operation name="get_pruning_low_water_mark">
	<documentation>
 Gets the percentage of full cache below which pruning stops for the
 datastor.  Valid values range from 10% to 90%.

        	</documentation>
		<input message="tns:Networking.iSessionDatastor.get_pruning_low_water_markRequest"/>
		<output message="tns:Networking.iSessionDatastor.get_pruning_low_water_markResponse"/>
	</operation>
	<operation name="get_memory_cache_size">
	<documentation>
 Gets the memory cache size for the datastor.

        	</documentation>
		<input message="tns:Networking.iSessionDatastor.get_memory_cache_sizeRequest"/>
		<output message="tns:Networking.iSessionDatastor.get_memory_cache_sizeResponse"/>
	</operation>
	<operation name="get_version">
	<documentation>
 Gets the version information for this interface.

        	</documentation>
		<input message="tns:Networking.iSessionDatastor.get_versionRequest"/>
		<output message="tns:Networking.iSessionDatastor.get_versionResponse"/>
	</operation>
</portType>

<!-- binding -->

<binding name="Networking.iSessionDatastorBinding" type="tns:Networking.iSessionDatastorPortType">
	<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
	<operation name="set_description">
	<documentation>
 Sets the description for the datastor. This is an arbitrary field
 which can be used for any purpose.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/iSessionDatastor"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionDatastor"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionDatastor"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_description">
	<documentation>
 Gets the description for the datastor.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/iSessionDatastor"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionDatastor"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionDatastor"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_disk_state">
	<documentation>
 Sets the state to use disk space as part of the datastor. If set,
 disk space (in addition to memory) is used for the datastor.  If
 not set, only memory is used. If you enable or disable data storage
 on the disk, you must restart the datastor service.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/iSessionDatastor"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionDatastor"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionDatastor"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_disk_state">
	<documentation>
 Gets the state to use disk space as part of the datastor.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/iSessionDatastor"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionDatastor"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionDatastor"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_disk_cache_size">
	<documentation>
 Gets the disk cache space available for the datastor.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/iSessionDatastor"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionDatastor"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionDatastor"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_pruning_high_water_mark">
	<documentation>
 Sets the percentage of full cache above which pruning starts for
 the datastor. Valid values range from 60% to 100%.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/iSessionDatastor"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionDatastor"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionDatastor"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_pruning_high_water_mark">
	<documentation>
 Gets the percentage of full cache above which pruning starts for
 the datastor.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/iSessionDatastor"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionDatastor"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionDatastor"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_pruning_low_water_mark">
	<documentation>
 Sets the percentage of full cache below which pruning stops for the
 datastor.  Valid values range from 10% to 90%.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/iSessionDatastor"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionDatastor"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionDatastor"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_pruning_low_water_mark">
	<documentation>
 Gets the percentage of full cache below which pruning stops for the
 datastor.  Valid values range from 10% to 90%.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/iSessionDatastor"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionDatastor"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionDatastor"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_memory_cache_size">
	<documentation>
 Gets the memory cache size for the datastor.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/iSessionDatastor"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionDatastor"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionDatastor"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_version">
	<documentation>
 Gets the version information for this interface.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/iSessionDatastor"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionDatastor"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionDatastor"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>
</binding>

<!-- service -->

<service name="Networking.iSessionDatastor">
	<documentation>
 This interface configures the storage used by symmetric data
 deduplication and used by caching files sent in iSession traffic on the
 WAN.

        	</documentation>
	<port name="Networking.iSessionDatastorPort" binding="tns:Networking.iSessionDatastorBinding">
		<soap:address location="https://url_to_service"/>
	</port>
</service>
</definitions>
