lib/puppet/util/network_device/wsdl/Networking.IPsecIkeDaemon.wsdl

<?xml version="1.0" ?>
<!--
Copyright (c) 1996-2012, F5 Networks, Inc., Seattle, Washington. All rights reserved.  

F5, F5 Networks, the F5 logo, BIG-IP, 3-DNS, iControl, GLOBAL-SITE, SEE-IT, EDGE-FX, FireGuard, Internet Control Architecture, IP Application Switch, iRules, PACKET VELOCITY, SYN Check, CONTROL YOUR WORLD, OneConnect, ZoneRunner, uRoam, FirePass, and TrafficShield are registered trademarks or trademarks of F5 Networks, Inc., in the U.S. and certain other countries. 

All other trademarks mentioned in this document are the property of their respective owners. F5 Networks' trademarks may not be used in connection with any product or service except as permitted in writing by F5.

-->
<definitions name="Networking.IPsecIkeDaemon"
	targetNamespace="urn:iControl"
	xmlns:tns="urn:iControl"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns="http://schemas.xmlsoap.org/wsdl/">

<!-- types -->

<types>
	<xsd:schema targetNamespace='urn:iControl'
		xmlns='http://www.w3.org/2001/XMLSchema'
		xmlns:SOAP-ENC='http://schemas.xmlsoap.org/soap/encoding/'
		xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>
		<xsd:simpleType name="Common.PortNumber">
			<xsd:restriction base="xsd:long"/>
		</xsd:simpleType>
		<xsd:simpleType name="Common.ULong">
			<xsd:restriction base="xsd:long"/>
		</xsd:simpleType>
	</xsd:schema>
</types>

<!-- message -->

<message name="Networking.IPsecIkeDaemon.set_descriptionRequest">
	<part name="description" type="xsd:string"/>
</message>
<message name="Networking.IPsecIkeDaemon.set_descriptionResponse">
</message>

<message name="Networking.IPsecIkeDaemon.get_descriptionRequest">
</message>
<message name="Networking.IPsecIkeDaemon.get_descriptionResponse">
	<part name="return" type="xsd:string"/>
</message>

<message name="Networking.IPsecIkeDaemon.set_natt_keep_aliveRequest">
	<part name="value" type="xsd:long"/>
</message>
<message name="Networking.IPsecIkeDaemon.set_natt_keep_aliveResponse">
</message>

<message name="Networking.IPsecIkeDaemon.get_natt_keep_aliveRequest">
</message>
<message name="Networking.IPsecIkeDaemon.get_natt_keep_aliveResponse">
	<part name="return" type="xsd:long"/>
</message>

<message name="Networking.IPsecIkeDaemon.set_iskamp_portRequest">
	<part name="value" type="xsd:long"/>
</message>
<message name="Networking.IPsecIkeDaemon.set_iskamp_portResponse">
</message>

<message name="Networking.IPsecIkeDaemon.get_iskamp_portRequest">
</message>
<message name="Networking.IPsecIkeDaemon.get_iskamp_portResponse">
	<part name="return" type="xsd:long"/>
</message>

<message name="Networking.IPsecIkeDaemon.set_iskamp_natt_portRequest">
	<part name="value" type="xsd:long"/>
</message>
<message name="Networking.IPsecIkeDaemon.set_iskamp_natt_portResponse">
</message>

<message name="Networking.IPsecIkeDaemon.get_iskamp_natt_portRequest">
</message>
<message name="Networking.IPsecIkeDaemon.get_iskamp_natt_portResponse">
	<part name="return" type="xsd:long"/>
</message>

<message name="Networking.IPsecIkeDaemon.get_versionRequest">
</message>
<message name="Networking.IPsecIkeDaemon.get_versionResponse">
	<part name="return" type="xsd:string"/>
</message>

<!-- portType -->

<portType name="Networking.IPsecIkeDaemonPortType">
	<operation name="set_description">
       	<documentation>
 Sets description of the singleton IKE daemon.

        	</documentation>
		<input message="tns:Networking.IPsecIkeDaemon.set_descriptionRequest"/>
		<output message="tns:Networking.IPsecIkeDaemon.set_descriptionResponse"/>
	</operation>
	<operation name="get_description">
	<documentation>
 Gets the description of the singleton IKE daemon.

        	</documentation>
		<input message="tns:Networking.IPsecIkeDaemon.get_descriptionRequest"/>
		<output message="tns:Networking.IPsecIkeDaemon.get_descriptionResponse"/>
	</operation>
	<operation name="set_natt_keep_alive">
	<documentation>
 Sets an interval between sending NAT-Traversal keep-alive packets.

        	</documentation>
		<input message="tns:Networking.IPsecIkeDaemon.set_natt_keep_aliveRequest"/>
		<output message="tns:Networking.IPsecIkeDaemon.set_natt_keep_aliveResponse"/>
	</operation>
	<operation name="get_natt_keep_alive">
	<documentation>
 Gets the interval between sending NAT-Traversal keep-alive packets.

        	</documentation>
		<input message="tns:Networking.IPsecIkeDaemon.get_natt_keep_aliveRequest"/>
		<output message="tns:Networking.IPsecIkeDaemon.get_natt_keep_aliveResponse"/>
	</operation>
	<operation name="set_iskamp_port">
	<documentation>
 Sets the port for the IKE daemon to accept ISAKMP messages.

        	</documentation>
		<input message="tns:Networking.IPsecIkeDaemon.set_iskamp_portRequest"/>
		<output message="tns:Networking.IPsecIkeDaemon.set_iskamp_portResponse"/>
	</operation>
	<operation name="get_iskamp_port">
	<documentation>
 Gets the port for the IKE daemon to accept ISAKMP messages.

        	</documentation>
		<input message="tns:Networking.IPsecIkeDaemon.get_iskamp_portRequest"/>
		<output message="tns:Networking.IPsecIkeDaemon.get_iskamp_portResponse"/>
	</operation>
	<operation name="set_iskamp_natt_port">
	<documentation>
 Sets the port for the IKE daemon to accept ISAKMP
      messages when NAT-Traversal is detected.

        	</documentation>
		<input message="tns:Networking.IPsecIkeDaemon.set_iskamp_natt_portRequest"/>
		<output message="tns:Networking.IPsecIkeDaemon.set_iskamp_natt_portResponse"/>
	</operation>
	<operation name="get_iskamp_natt_port">
	<documentation>
 Gets the port for the IKE daemon to accept ISAKMP messages
      when NAT-Traversal is detected.

        	</documentation>
		<input message="tns:Networking.IPsecIkeDaemon.get_iskamp_natt_portRequest"/>
		<output message="tns:Networking.IPsecIkeDaemon.get_iskamp_natt_portResponse"/>
	</operation>
	<operation name="get_version">
	<documentation>
 Gets the version information for this interface.

        	</documentation>
		<input message="tns:Networking.IPsecIkeDaemon.get_versionRequest"/>
		<output message="tns:Networking.IPsecIkeDaemon.get_versionResponse"/>
	</operation>
</portType>

<!-- binding -->

<binding name="Networking.IPsecIkeDaemonBinding" type="tns:Networking.IPsecIkeDaemonPortType">
	<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
	<operation name="set_description">
	<documentation>
 Sets description of the singleton IKE daemon.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/IPsecIkeDaemon"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/IPsecIkeDaemon"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/IPsecIkeDaemon"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_description">
	<documentation>
 Gets the description of the singleton IKE daemon.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/IPsecIkeDaemon"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/IPsecIkeDaemon"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/IPsecIkeDaemon"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_natt_keep_alive">
	<documentation>
 Sets an interval between sending NAT-Traversal keep-alive packets.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/IPsecIkeDaemon"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/IPsecIkeDaemon"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/IPsecIkeDaemon"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_natt_keep_alive">
	<documentation>
 Gets the interval between sending NAT-Traversal keep-alive packets.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/IPsecIkeDaemon"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/IPsecIkeDaemon"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/IPsecIkeDaemon"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_iskamp_port">
	<documentation>
 Sets the port for the IKE daemon to accept ISAKMP messages.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/IPsecIkeDaemon"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/IPsecIkeDaemon"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/IPsecIkeDaemon"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_iskamp_port">
	<documentation>
 Gets the port for the IKE daemon to accept ISAKMP messages.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/IPsecIkeDaemon"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/IPsecIkeDaemon"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/IPsecIkeDaemon"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_iskamp_natt_port">
	<documentation>
 Sets the port for the IKE daemon to accept ISAKMP
      messages when NAT-Traversal is detected.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/IPsecIkeDaemon"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/IPsecIkeDaemon"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/IPsecIkeDaemon"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_iskamp_natt_port">
	<documentation>
 Gets the port for the IKE daemon to accept ISAKMP messages
      when NAT-Traversal is detected.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/IPsecIkeDaemon"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/IPsecIkeDaemon"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/IPsecIkeDaemon"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_version">
	<documentation>
 Gets the version information for this interface.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/IPsecIkeDaemon"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/IPsecIkeDaemon"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/IPsecIkeDaemon"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>
</binding>

<!-- service -->

<service name="Networking.IPsecIkeDaemon">
	<documentation>
 This interface configures the IPsec Protocol suite for securing
 Internet Protocol (IP) communications by authenticating and
 encrypting each IP packet of a communication session.

        	</documentation>
	<port name="Networking.IPsecIkeDaemonPort" binding="tns:Networking.IPsecIkeDaemonBinding">
		<soap:address location="https://url_to_service"/>
	</port>
</service>
</definitions>
