lib/puppet/util/network_device/wsdl/Networking.SelfIP.wsdl

<?xml version="1.0" ?>
<!--
Copyright (c) 1996-2012, F5 Networks, Inc., Seattle, Washington. All rights reserved.  

F5, F5 Networks, the F5 logo, BIG-IP, 3-DNS, iControl, GLOBAL-SITE, SEE-IT, EDGE-FX, FireGuard, Internet Control Architecture, IP Application Switch, iRules, PACKET VELOCITY, SYN Check, CONTROL YOUR WORLD, OneConnect, ZoneRunner, uRoam, FirePass, and TrafficShield are registered trademarks or trademarks of F5 Networks, Inc., in the U.S. and certain other countries. 

All other trademarks mentioned in this document are the property of their respective owners. F5 Networks' trademarks may not be used in connection with any product or service except as permitted in writing by F5.

-->
<definitions name="Networking.SelfIP"
	targetNamespace="urn:iControl"
	xmlns:tns="urn:iControl"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns="http://schemas.xmlsoap.org/wsdl/">

<!-- types -->

<types>
	<xsd:schema targetNamespace='urn:iControl'
		xmlns='http://www.w3.org/2001/XMLSchema'
		xmlns:SOAP-ENC='http://schemas.xmlsoap.org/soap/encoding/'
		xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>
		<xsd:simpleType name="Common.EnabledState">
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="STATE_DISABLED">
					<xsd:annotation>
						<xsd:documentation>STATE_DISABLED</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="STATE_ENABLED">
					<xsd:annotation>
						<xsd:documentation>STATE_ENABLED</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
			</xsd:restriction>
		</xsd:simpleType>
		<xsd:complexType name="Common.StringSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:string[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:complexType name="Common.ULongSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:long[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:complexType name="Common.IPAddressSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:string[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:complexType name="Common.EnabledStateSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='tns:Common.EnabledState[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:schema>
</types>

<!-- message -->

<message name="Networking.SelfIP.get_listRequest">
</message>
<message name="Networking.SelfIP.get_listResponse">
	<part name="return" type="tns:Common.IPAddressSequence"/>
</message>

<message name="Networking.SelfIP.createRequest">
	<part name="self_ips" type="tns:Common.IPAddressSequence"/>
	<part name="vlan_names" type="tns:Common.StringSequence"/>
	<part name="netmasks" type="tns:Common.IPAddressSequence"/>
	<part name="unit_ids" type="tns:Common.ULongSequence"/>
	<part name="floating_states" type="tns:Common.EnabledStateSequence"/>
</message>
<message name="Networking.SelfIP.createResponse">
</message>

<message name="Networking.SelfIP.delete_self_ipRequest">
	<part name="self_ips" type="tns:Common.IPAddressSequence"/>
</message>
<message name="Networking.SelfIP.delete_self_ipResponse">
</message>

<message name="Networking.SelfIP.delete_all_self_ipsRequest">
</message>
<message name="Networking.SelfIP.delete_all_self_ipsResponse">
</message>

<message name="Networking.SelfIP.set_vlanRequest">
	<part name="self_ips" type="tns:Common.IPAddressSequence"/>
	<part name="vlan_names" type="tns:Common.StringSequence"/>
</message>
<message name="Networking.SelfIP.set_vlanResponse">
</message>

<message name="Networking.SelfIP.get_vlanRequest">
	<part name="self_ips" type="tns:Common.IPAddressSequence"/>
</message>
<message name="Networking.SelfIP.get_vlanResponse">
	<part name="return" type="tns:Common.StringSequence"/>
</message>

<message name="Networking.SelfIP.get_netmaskRequest">
	<part name="self_ips" type="tns:Common.IPAddressSequence"/>
</message>
<message name="Networking.SelfIP.get_netmaskResponse">
	<part name="return" type="tns:Common.IPAddressSequence"/>
</message>

<message name="Networking.SelfIP.set_netmaskRequest">
	<part name="self_ips" type="tns:Common.IPAddressSequence"/>
	<part name="netmasks" type="tns:Common.IPAddressSequence"/>
</message>
<message name="Networking.SelfIP.set_netmaskResponse">
</message>

<message name="Networking.SelfIP.get_unit_idRequest">
	<part name="self_ips" type="tns:Common.IPAddressSequence"/>
</message>
<message name="Networking.SelfIP.get_unit_idResponse">
	<part name="return" type="tns:Common.ULongSequence"/>
</message>

<message name="Networking.SelfIP.set_unit_idRequest">
	<part name="self_ips" type="tns:Common.IPAddressSequence"/>
	<part name="unit_ids" type="tns:Common.ULongSequence"/>
</message>
<message name="Networking.SelfIP.set_unit_idResponse">
</message>

<message name="Networking.SelfIP.get_floating_stateRequest">
	<part name="self_ips" type="tns:Common.IPAddressSequence"/>
</message>
<message name="Networking.SelfIP.get_floating_stateResponse">
	<part name="return" type="tns:Common.EnabledStateSequence"/>
</message>

<message name="Networking.SelfIP.set_floating_stateRequest">
	<part name="self_ips" type="tns:Common.IPAddressSequence"/>
	<part name="states" type="tns:Common.EnabledStateSequence"/>
</message>
<message name="Networking.SelfIP.set_floating_stateResponse">
</message>

<message name="Networking.SelfIP.get_versionRequest">
</message>
<message name="Networking.SelfIP.get_versionResponse">
	<part name="return" type="xsd:string"/>
</message>

<!-- portType -->

<portType name="Networking.SelfIPPortType">
	<operation name="get_list">
       	<documentation>
 Gets a list of all self IPs on this device.
 
        	</documentation>
		<input message="tns:Networking.SelfIP.get_listRequest"/>
		<output message="tns:Networking.SelfIP.get_listResponse"/>
	</operation>
	<operation name="create">
	<documentation>
 Creates the specified self IP addresses with extended attributes.
 
        	</documentation>
		<input message="tns:Networking.SelfIP.createRequest"/>
		<output message="tns:Networking.SelfIP.createResponse"/>
	</operation>
	<operation name="delete_self_ip">
	<documentation>
 Deletes the specified self IP addresses.
 
        	</documentation>
		<input message="tns:Networking.SelfIP.delete_self_ipRequest"/>
		<output message="tns:Networking.SelfIP.delete_self_ipResponse"/>
	</operation>
	<operation name="delete_all_self_ips">
	<documentation>
 Deletes all self IP addresses.
 
        	</documentation>
		<input message="tns:Networking.SelfIP.delete_all_self_ipsRequest"/>
		<output message="tns:Networking.SelfIP.delete_all_self_ipsResponse"/>
	</operation>
	<operation name="set_vlan">
	<documentation>
 Sets the VLANs with which the specified self IPs are associated.
 
        	</documentation>
		<input message="tns:Networking.SelfIP.set_vlanRequest"/>
		<output message="tns:Networking.SelfIP.set_vlanResponse"/>
	</operation>
	<operation name="get_vlan">
	<documentation>
 Gets the VLANs with which the specified self IPs are associated.
 
        	</documentation>
		<input message="tns:Networking.SelfIP.get_vlanRequest"/>
		<output message="tns:Networking.SelfIP.get_vlanResponse"/>
	</operation>
	<operation name="get_netmask">
	<documentation>
 Gets the netmasks of the specified self IPs.
 
        	</documentation>
		<input message="tns:Networking.SelfIP.get_netmaskRequest"/>
		<output message="tns:Networking.SelfIP.get_netmaskResponse"/>
	</operation>
	<operation name="set_netmask">
	<documentation>
 Sets the netmasks of the specified self IPs.
 
        	</documentation>
		<input message="tns:Networking.SelfIP.set_netmaskRequest"/>
		<output message="tns:Networking.SelfIP.set_netmaskResponse"/>
	</operation>
	<operation name="get_unit_id">
	<documentation>
 Gets the unit ids of the specified self IPs.
 
        	</documentation>
		<input message="tns:Networking.SelfIP.get_unit_idRequest"/>
		<output message="tns:Networking.SelfIP.get_unit_idResponse"/>
	</operation>
	<operation name="set_unit_id">
	<documentation>
 Sets the unit ids of the specified self IPs.
 Note: If unit ID is being set to 0, then floating state will be set to disabled by default.
       If unit ID is being set to 1 or 2, then floating state will be set to enabled.
 
        	</documentation>
		<input message="tns:Networking.SelfIP.set_unit_idRequest"/>
		<output message="tns:Networking.SelfIP.set_unit_idResponse"/>
	</operation>
	<operation name="get_floating_state">
	<documentation>
 Gets the floating states of the specified self IPs.
 
        	</documentation>
		<input message="tns:Networking.SelfIP.get_floating_stateRequest"/>
		<output message="tns:Networking.SelfIP.get_floating_stateResponse"/>
	</operation>
	<operation name="set_floating_state">
	<documentation>
 Sets the floating states of the specified self IPs.
 Note: If floating state is being set to enabled, then unit ID will be set to 1 by default.
       If floating state is being set to disabled, then unit ID will be set to 0.
 
        	</documentation>
		<input message="tns:Networking.SelfIP.set_floating_stateRequest"/>
		<output message="tns:Networking.SelfIP.set_floating_stateResponse"/>
	</operation>
	<operation name="get_version">
	<documentation>
 Gets the version information for this interface.

        	</documentation>
		<input message="tns:Networking.SelfIP.get_versionRequest"/>
		<output message="tns:Networking.SelfIP.get_versionResponse"/>
	</operation>
</portType>

<!-- binding -->

<binding name="Networking.SelfIPBinding" type="tns:Networking.SelfIPPortType">
	<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
	<operation name="get_list">
	<documentation>
 Gets a list of all self IPs on this device.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/SelfIP"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIP"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIP"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="create">
	<documentation>
 Creates the specified self IP addresses with extended attributes.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/SelfIP"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIP"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIP"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="delete_self_ip">
	<documentation>
 Deletes the specified self IP addresses.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/SelfIP"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIP"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIP"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="delete_all_self_ips">
	<documentation>
 Deletes all self IP addresses.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/SelfIP"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIP"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIP"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_vlan">
	<documentation>
 Sets the VLANs with which the specified self IPs are associated.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/SelfIP"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIP"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIP"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_vlan">
	<documentation>
 Gets the VLANs with which the specified self IPs are associated.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/SelfIP"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIP"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIP"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_netmask">
	<documentation>
 Gets the netmasks of the specified self IPs.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/SelfIP"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIP"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIP"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_netmask">
	<documentation>
 Sets the netmasks of the specified self IPs.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/SelfIP"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIP"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIP"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_unit_id">
	<documentation>
 Gets the unit ids of the specified self IPs.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/SelfIP"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIP"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIP"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_unit_id">
	<documentation>
 Sets the unit ids of the specified self IPs.
 Note: If unit ID is being set to 0, then floating state will be set to disabled by default.
       If unit ID is being set to 1 or 2, then floating state will be set to enabled.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/SelfIP"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIP"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIP"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_floating_state">
	<documentation>
 Gets the floating states of the specified self IPs.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/SelfIP"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIP"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIP"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_floating_state">
	<documentation>
 Sets the floating states of the specified self IPs.
 Note: If floating state is being set to enabled, then unit ID will be set to 1 by default.
       If floating state is being set to disabled, then unit ID will be set to 0.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/SelfIP"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIP"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIP"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_version">
	<documentation>
 Gets the version information for this interface.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/SelfIP"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIP"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIP"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>
</binding>

<!-- service -->

<service name="Networking.SelfIP">
	<documentation>
 *IMPORTANT* This entire interface has been deprecated (as of
 11.0.0), since self IP addresses are accessed by name instead
 of address.  Please use the SelfIPV2 interface.

 The SelfIP interface enables you to work with the definitions and attributes contained in a device's Self IP.  

        	</documentation>
	<port name="Networking.SelfIPPort" binding="tns:Networking.SelfIPBinding">
		<soap:address location="https://url_to_service"/>
	</port>
</service>
</definitions>
