lib/puppet/util/network_device/wsdl/Networking.iSessionRemoteInterface.wsdl

<?xml version="1.0" ?>
<!--
Copyright (c) 1996-2012, F5 Networks, Inc., Seattle, Washington. All rights reserved.  

F5, F5 Networks, the F5 logo, BIG-IP, 3-DNS, iControl, GLOBAL-SITE, SEE-IT, EDGE-FX, FireGuard, Internet Control Architecture, IP Application Switch, iRules, PACKET VELOCITY, SYN Check, CONTROL YOUR WORLD, OneConnect, ZoneRunner, uRoam, FirePass, and TrafficShield are registered trademarks or trademarks of F5 Networks, Inc., in the U.S. and certain other countries. 

All other trademarks mentioned in this document are the property of their respective owners. F5 Networks' trademarks may not be used in connection with any product or service except as permitted in writing by F5.

-->
<definitions name="Networking.iSessionRemoteInterface"
	targetNamespace="urn:iControl"
	xmlns:tns="urn:iControl"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns="http://schemas.xmlsoap.org/wsdl/">

<!-- types -->

<types>
	<xsd:schema targetNamespace='urn:iControl'
		xmlns='http://www.w3.org/2001/XMLSchema'
		xmlns:SOAP-ENC='http://schemas.xmlsoap.org/soap/encoding/'
		xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>
		<xsd:complexType name="Networking.iSessionRemoteInterface.OriginStateSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='tns:Networking.iSessionRemoteInterface.OriginState[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:complexType name="Networking.Uuid_128Sequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='tns:Networking.Uuid_128[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:complexType name="Common.ULong64">
			<xsd:sequence>
				<xsd:element name="high" type="xsd:long"/>
				<xsd:element name="low" type="xsd:long"/>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:simpleType name="Common.EnabledState">
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="STATE_DISABLED">
					<xsd:annotation>
						<xsd:documentation>STATE_DISABLED</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="STATE_ENABLED">
					<xsd:annotation>
						<xsd:documentation>STATE_ENABLED</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
			</xsd:restriction>
		</xsd:simpleType>
		<xsd:complexType name="Common.StringSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:string[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:complexType name="Common.IPAddressSequenceSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='tns:Common.IPAddressSequence[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:complexType name="Common.ULongSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:long[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:simpleType name="Networking.iSessionRemoteInterface.NatSourceAddress">
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="WOC_NAT_SOURCE_ADDRESS_NONE">
					<xsd:annotation>
						<xsd:documentation>WOC_NAT_SOURCE_ADDRESS_NONE</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="WOC_NAT_SOURCE_ADDRESS_CLIENT">
					<xsd:annotation>
						<xsd:documentation>WOC_NAT_SOURCE_ADDRESS_CLIENT</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="WOC_NAT_SOURCE_ADDRESS_WOM">
					<xsd:annotation>
						<xsd:documentation>WOC_NAT_SOURCE_ADDRESS_WOM</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="WOC_NAT_SOURCE_ADDRESS_TUNNEL">
					<xsd:annotation>
						<xsd:documentation>WOC_NAT_SOURCE_ADDRESS_TUNNEL</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
			</xsd:restriction>
		</xsd:simpleType>
		<xsd:complexType name="Networking.iSessionRemoteInterface.NatSourceAddressSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='tns:Networking.iSessionRemoteInterface.NatSourceAddress[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:complexType name="Common.UShortSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:int[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:complexType name="Common.IPAddressSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:string[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:simpleType name="Networking.iSessionRemoteInterface.OriginState">
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="MCP_ORIGIN_DISCOVERED">
					<xsd:annotation>
						<xsd:documentation>MCP_ORIGIN_DISCOVERED</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="MCP_ORIGIN_CONFIGURED">
					<xsd:annotation>
						<xsd:documentation>MCP_ORIGIN_CONFIGURED</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="MCP_ORIGIN_PERSISTABLE">
					<xsd:annotation>
						<xsd:documentation>MCP_ORIGIN_PERSISTABLE</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="MCP_ORIGIN_MANUALLY_SAVED">
					<xsd:annotation>
						<xsd:documentation>MCP_ORIGIN_MANUALLY_SAVED</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
			</xsd:restriction>
		</xsd:simpleType>
		<xsd:complexType name="Networking.Uuid_128">
			<xsd:sequence>
				<xsd:element name="low_part" type="tns:Common.ULong64"/>
				<xsd:element name="high_part" type="tns:Common.ULong64"/>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:complexType name="Common.EnabledStateSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='tns:Common.EnabledState[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:schema>
</types>

<!-- message -->

<message name="Networking.iSessionRemoteInterface.get_listRequest">
</message>
<message name="Networking.iSessionRemoteInterface.get_listResponse">
	<part name="return" type="tns:Common.IPAddressSequence"/>
</message>

<message name="Networking.iSessionRemoteInterface.get_peer_ip_listRequest">
	<part name="peers" type="tns:Common.IPAddressSequence"/>
</message>
<message name="Networking.iSessionRemoteInterface.get_peer_ip_listResponse">
	<part name="return" type="tns:Common.IPAddressSequenceSequence"/>
</message>

<message name="Networking.iSessionRemoteInterface.createRequest">
	<part name="peer_names" type="tns:Common.StringSequence"/>
	<part name="serverssls" type="tns:Common.StringSequence"/>
	<part name="peer_ips" type="tns:Common.IPAddressSequence"/>
	<part name="enabled_states" type="tns:Common.EnabledStateSequence"/>
</message>
<message name="Networking.iSessionRemoteInterface.createResponse">
</message>

<message name="Networking.iSessionRemoteInterface.delete_peerRequest">
	<part name="peers" type="tns:Common.IPAddressSequence"/>
</message>
<message name="Networking.iSessionRemoteInterface.delete_peerResponse">
</message>

<message name="Networking.iSessionRemoteInterface.delete_all_peersRequest">
</message>
<message name="Networking.iSessionRemoteInterface.delete_all_peersResponse">
</message>

<message name="Networking.iSessionRemoteInterface.set_peer_enabled_stateRequest">
	<part name="peers" type="tns:Common.IPAddressSequence"/>
	<part name="enabled" type="tns:Common.EnabledStateSequence"/>
</message>
<message name="Networking.iSessionRemoteInterface.set_peer_enabled_stateResponse">
</message>

<message name="Networking.iSessionRemoteInterface.get_peer_enabled_stateRequest">
	<part name="peers" type="tns:Common.IPAddressSequence"/>
</message>
<message name="Networking.iSessionRemoteInterface.get_peer_enabled_stateResponse">
	<part name="return" type="tns:Common.EnabledStateSequence"/>
</message>

<message name="Networking.iSessionRemoteInterface.set_peer_routing_stateRequest">
	<part name="peers" type="tns:Common.IPAddressSequence"/>
	<part name="routing" type="tns:Common.EnabledStateSequence"/>
</message>
<message name="Networking.iSessionRemoteInterface.set_peer_routing_stateResponse">
</message>

<message name="Networking.iSessionRemoteInterface.get_peer_routing_stateRequest">
	<part name="peers" type="tns:Common.IPAddressSequence"/>
</message>
<message name="Networking.iSessionRemoteInterface.get_peer_routing_stateResponse">
	<part name="return" type="tns:Common.EnabledStateSequence"/>
</message>

<message name="Networking.iSessionRemoteInterface.get_management_addressRequest">
	<part name="peers" type="tns:Common.IPAddressSequence"/>
</message>
<message name="Networking.iSessionRemoteInterface.get_management_addressResponse">
	<part name="return" type="tns:Common.IPAddressSequence"/>
</message>

<message name="Networking.iSessionRemoteInterface.set_management_addressRequest">
	<part name="peers" type="tns:Common.IPAddressSequence"/>
	<part name="ips" type="tns:Common.IPAddressSequence"/>
</message>
<message name="Networking.iSessionRemoteInterface.set_management_addressResponse">
</message>

<message name="Networking.iSessionRemoteInterface.get_UUIDRequest">
	<part name="peers" type="tns:Common.IPAddressSequence"/>
</message>
<message name="Networking.iSessionRemoteInterface.get_UUIDResponse">
	<part name="return" type="tns:Networking.Uuid_128Sequence"/>
</message>

<message name="Networking.iSessionRemoteInterface.set_originRequest">
	<part name="peers" type="tns:Common.IPAddressSequence"/>
	<part name="origins" type="tns:Networking.iSessionRemoteInterface.OriginStateSequence"/>
</message>
<message name="Networking.iSessionRemoteInterface.set_originResponse">
</message>

<message name="Networking.iSessionRemoteInterface.get_originRequest">
	<part name="peers" type="tns:Common.IPAddressSequence"/>
</message>
<message name="Networking.iSessionRemoteInterface.get_originResponse">
	<part name="return" type="tns:Networking.iSessionRemoteInterface.OriginStateSequence"/>
</message>

<message name="Networking.iSessionRemoteInterface.set_behind_natRequest">
	<part name="peers" type="tns:Common.IPAddressSequence"/>
	<part name="nat_states" type="tns:Common.EnabledStateSequence"/>
</message>
<message name="Networking.iSessionRemoteInterface.set_behind_natResponse">
</message>

<message name="Networking.iSessionRemoteInterface.get_behind_natRequest">
	<part name="peers" type="tns:Common.IPAddressSequence"/>
</message>
<message name="Networking.iSessionRemoteInterface.get_behind_natResponse">
	<part name="return" type="tns:Common.EnabledStateSequence"/>
</message>

<message name="Networking.iSessionRemoteInterface.set_nat_source_addressRequest">
	<part name="peers" type="tns:Common.IPAddressSequence"/>
	<part name="nat_states" type="tns:Networking.iSessionRemoteInterface.NatSourceAddressSequence"/>
</message>
<message name="Networking.iSessionRemoteInterface.set_nat_source_addressResponse">
</message>

<message name="Networking.iSessionRemoteInterface.get_nat_source_addressRequest">
	<part name="peers" type="tns:Common.IPAddressSequence"/>
</message>
<message name="Networking.iSessionRemoteInterface.get_nat_source_addressResponse">
	<part name="return" type="tns:Networking.iSessionRemoteInterface.NatSourceAddressSequence"/>
</message>

<message name="Networking.iSessionRemoteInterface.get_nat_config_statusRequest">
	<part name="peers" type="tns:Common.IPAddressSequence"/>
</message>
<message name="Networking.iSessionRemoteInterface.get_nat_config_statusResponse">
	<part name="return" type="tns:Common.StringSequence"/>
</message>

<message name="Networking.iSessionRemoteInterface.set_nat_config_statusRequest">
	<part name="peers" type="tns:Common.IPAddressSequence"/>
	<part name="nat_configs" type="tns:Common.StringSequence"/>
</message>
<message name="Networking.iSessionRemoteInterface.set_nat_config_statusResponse">
</message>

<message name="Networking.iSessionRemoteInterface.get_profile_serversslRequest">
	<part name="peers" type="tns:Common.IPAddressSequence"/>
</message>
<message name="Networking.iSessionRemoteInterface.get_profile_serversslResponse">
	<part name="return" type="tns:Common.StringSequence"/>
</message>

<message name="Networking.iSessionRemoteInterface.set_profile_serversslRequest">
	<part name="peers" type="tns:Common.IPAddressSequence"/>
	<part name="serverssl" type="tns:Common.StringSequence"/>
</message>
<message name="Networking.iSessionRemoteInterface.set_profile_serversslResponse">
</message>

<message name="Networking.iSessionRemoteInterface.get_dedup_cacheRequest">
	<part name="peers" type="tns:Common.IPAddressSequence"/>
</message>
<message name="Networking.iSessionRemoteInterface.get_dedup_cacheResponse">
	<part name="return" type="tns:Common.ULongSequence"/>
</message>

<message name="Networking.iSessionRemoteInterface.get_tunnel_portRequest">
	<part name="peers" type="tns:Common.IPAddressSequence"/>
</message>
<message name="Networking.iSessionRemoteInterface.get_tunnel_portResponse">
	<part name="return" type="tns:Common.UShortSequence"/>
</message>

<message name="Networking.iSessionRemoteInterface.set_tunnel_portRequest">
	<part name="peers" type="tns:Common.IPAddressSequence"/>
	<part name="tunnel_ports" type="tns:Common.UShortSequence"/>
</message>
<message name="Networking.iSessionRemoteInterface.set_tunnel_portResponse">
</message>

<message name="Networking.iSessionRemoteInterface.get_versionRequest">
</message>
<message name="Networking.iSessionRemoteInterface.get_versionResponse">
	<part name="return" type="xsd:string"/>
</message>

<!-- portType -->

<portType name="Networking.iSessionRemoteInterfacePortType">
	<operation name="get_list">
      	<documentation>
 Get a list of the current iSession peer objects.

        	</documentation>
		<input message="tns:Networking.iSessionRemoteInterface.get_listRequest"/>
		<output message="tns:Networking.iSessionRemoteInterface.get_listResponse"/>
	</operation>
	<operation name="get_peer_ip_list">
	<documentation>
 Get a list of the current iSession peer object ips.

        	</documentation>
		<input message="tns:Networking.iSessionRemoteInterface.get_peer_ip_listRequest"/>
		<output message="tns:Networking.iSessionRemoteInterface.get_peer_ip_listResponse"/>
	</operation>
	<operation name="create">
	<documentation>
 Create a peer Remote Endpoint object.

        	</documentation>
		<input message="tns:Networking.iSessionRemoteInterface.createRequest"/>
		<output message="tns:Networking.iSessionRemoteInterface.createResponse"/>
	</operation>
	<operation name="delete_peer">
	<documentation>
 Delete the peer Remote Endpoint object.

        	</documentation>
		<input message="tns:Networking.iSessionRemoteInterface.delete_peerRequest"/>
		<output message="tns:Networking.iSessionRemoteInterface.delete_peerResponse"/>
	</operation>
	<operation name="delete_all_peers">
	<documentation>
 Deletes all peer remote endpoint objects.

        	</documentation>
		<input message="tns:Networking.iSessionRemoteInterface.delete_all_peersRequest"/>
		<output message="tns:Networking.iSessionRemoteInterface.delete_all_peersResponse"/>
	</operation>
	<operation name="set_peer_enabled_state">
	<documentation>
 Set enable in the peer object.

        	</documentation>
		<input message="tns:Networking.iSessionRemoteInterface.set_peer_enabled_stateRequest"/>
		<output message="tns:Networking.iSessionRemoteInterface.set_peer_enabled_stateResponse"/>
	</operation>
	<operation name="get_peer_enabled_state">
	<documentation>
 Get enable setting in the peer object.

        	</documentation>
		<input message="tns:Networking.iSessionRemoteInterface.get_peer_enabled_stateRequest"/>
		<output message="tns:Networking.iSessionRemoteInterface.get_peer_enabled_stateResponse"/>
	</operation>
	<operation name="set_peer_routing_state">
	<documentation>
 Set enabled flag in the peer routing attribute.

        	</documentation>
		<input message="tns:Networking.iSessionRemoteInterface.set_peer_routing_stateRequest"/>
		<output message="tns:Networking.iSessionRemoteInterface.set_peer_routing_stateResponse"/>
	</operation>
	<operation name="get_peer_routing_state">
	<documentation>
 Get enabled flag in the peer routing attribute.

        	</documentation>
		<input message="tns:Networking.iSessionRemoteInterface.get_peer_routing_stateRequest"/>
		<output message="tns:Networking.iSessionRemoteInterface.get_peer_routing_stateResponse"/>
	</operation>
	<operation name="get_management_address">
	<documentation>
  Get Management address

        	</documentation>
		<input message="tns:Networking.iSessionRemoteInterface.get_management_addressRequest"/>
		<output message="tns:Networking.iSessionRemoteInterface.get_management_addressResponse"/>
	</operation>
	<operation name="set_management_address">
	<documentation>
  Set Management address

        	</documentation>
		<input message="tns:Networking.iSessionRemoteInterface.set_management_addressRequest"/>
		<output message="tns:Networking.iSessionRemoteInterface.set_management_addressResponse"/>
	</operation>
	<operation name="get_UUID">
	<documentation>
  Get UUID

        	</documentation>
		<input message="tns:Networking.iSessionRemoteInterface.get_UUIDRequest"/>
		<output message="tns:Networking.iSessionRemoteInterface.get_UUIDResponse"/>
	</operation>
	<operation name="set_origin">
	<documentation>
  Set origin

        	</documentation>
		<input message="tns:Networking.iSessionRemoteInterface.set_originRequest"/>
		<output message="tns:Networking.iSessionRemoteInterface.set_originResponse"/>
	</operation>
	<operation name="get_origin">
	<documentation>
  Get origin

        	</documentation>
		<input message="tns:Networking.iSessionRemoteInterface.get_originRequest"/>
		<output message="tns:Networking.iSessionRemoteInterface.get_originResponse"/>
	</operation>
	<operation name="set_behind_nat">
	<documentation>
 Set the nat attribute in the peer WOC object.

        	</documentation>
		<input message="tns:Networking.iSessionRemoteInterface.set_behind_natRequest"/>
		<output message="tns:Networking.iSessionRemoteInterface.set_behind_natResponse"/>
	</operation>
	<operation name="get_behind_nat">
	<documentation>
 Get the nat attribute from the peer WOC object.

        	</documentation>
		<input message="tns:Networking.iSessionRemoteInterface.get_behind_natRequest"/>
		<output message="tns:Networking.iSessionRemoteInterface.get_behind_natResponse"/>
	</operation>
	<operation name="set_nat_source_address">
	<documentation>
 Set the nat address attribute in the peer WOC object.

        	</documentation>
		<input message="tns:Networking.iSessionRemoteInterface.set_nat_source_addressRequest"/>
		<output message="tns:Networking.iSessionRemoteInterface.set_nat_source_addressResponse"/>
	</operation>
	<operation name="get_nat_source_address">
	<documentation>
 Get the nat address attribute in the peer WOC object.

        	</documentation>
		<input message="tns:Networking.iSessionRemoteInterface.get_nat_source_addressRequest"/>
		<output message="tns:Networking.iSessionRemoteInterface.get_nat_source_addressResponse"/>
	</operation>
	<operation name="get_nat_config_status">
	<documentation>
  Get config_status

        	</documentation>
		<input message="tns:Networking.iSessionRemoteInterface.get_nat_config_statusRequest"/>
		<output message="tns:Networking.iSessionRemoteInterface.get_nat_config_statusResponse"/>
	</operation>
	<operation name="set_nat_config_status">
	<documentation>
  Set config_status

        	</documentation>
		<input message="tns:Networking.iSessionRemoteInterface.set_nat_config_statusRequest"/>
		<output message="tns:Networking.iSessionRemoteInterface.set_nat_config_statusResponse"/>
	</operation>
	<operation name="get_profile_serverssl">
	<documentation>
  Get serverssl

        	</documentation>
		<input message="tns:Networking.iSessionRemoteInterface.get_profile_serversslRequest"/>
		<output message="tns:Networking.iSessionRemoteInterface.get_profile_serversslResponse"/>
	</operation>
	<operation name="set_profile_serverssl">
	<documentation>
  Set serverssl

        	</documentation>
		<input message="tns:Networking.iSessionRemoteInterface.set_profile_serversslRequest"/>
		<output message="tns:Networking.iSessionRemoteInterface.set_profile_serversslResponse"/>
	</operation>
	<operation name="get_dedup_cache">
	<documentation>
  Get dedup_cache

        	</documentation>
		<input message="tns:Networking.iSessionRemoteInterface.get_dedup_cacheRequest"/>
		<output message="tns:Networking.iSessionRemoteInterface.get_dedup_cacheResponse"/>
	</operation>
	<operation name="get_tunnel_port">
	<documentation>
  Get tunnel_port

        	</documentation>
		<input message="tns:Networking.iSessionRemoteInterface.get_tunnel_portRequest"/>
		<output message="tns:Networking.iSessionRemoteInterface.get_tunnel_portResponse"/>
	</operation>
	<operation name="set_tunnel_port">
	<documentation>
  Set tunnel_port

        	</documentation>
		<input message="tns:Networking.iSessionRemoteInterface.set_tunnel_portRequest"/>
		<output message="tns:Networking.iSessionRemoteInterface.set_tunnel_portResponse"/>
	</operation>
	<operation name="get_version">
	<documentation>
 Gets the version information for this interface.

        	</documentation>
		<input message="tns:Networking.iSessionRemoteInterface.get_versionRequest"/>
		<output message="tns:Networking.iSessionRemoteInterface.get_versionResponse"/>
	</operation>
</portType>

<!-- binding -->

<binding name="Networking.iSessionRemoteInterfaceBinding" type="tns:Networking.iSessionRemoteInterfacePortType">
	<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
	<operation name="get_list">
	<documentation>
 Get a list of the current iSession peer objects.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/iSessionRemoteInterface"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionRemoteInterface"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionRemoteInterface"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_peer_ip_list">
	<documentation>
 Get a list of the current iSession peer object ips.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/iSessionRemoteInterface"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionRemoteInterface"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionRemoteInterface"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="create">
	<documentation>
 Create a peer Remote Endpoint object.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/iSessionRemoteInterface"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionRemoteInterface"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionRemoteInterface"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="delete_peer">
	<documentation>
 Delete the peer Remote Endpoint object.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/iSessionRemoteInterface"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionRemoteInterface"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionRemoteInterface"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="delete_all_peers">
	<documentation>
 Deletes all peer remote endpoint objects.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/iSessionRemoteInterface"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionRemoteInterface"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionRemoteInterface"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_peer_enabled_state">
	<documentation>
 Set enable in the peer object.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/iSessionRemoteInterface"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionRemoteInterface"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionRemoteInterface"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_peer_enabled_state">
	<documentation>
 Get enable setting in the peer object.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/iSessionRemoteInterface"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionRemoteInterface"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionRemoteInterface"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_peer_routing_state">
	<documentation>
 Set enabled flag in the peer routing attribute.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/iSessionRemoteInterface"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionRemoteInterface"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionRemoteInterface"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_peer_routing_state">
	<documentation>
 Get enabled flag in the peer routing attribute.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/iSessionRemoteInterface"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionRemoteInterface"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionRemoteInterface"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_management_address">
	<documentation>
  Get Management address

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/iSessionRemoteInterface"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionRemoteInterface"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionRemoteInterface"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_management_address">
	<documentation>
  Set Management address

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/iSessionRemoteInterface"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionRemoteInterface"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionRemoteInterface"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_UUID">
	<documentation>
  Get UUID

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/iSessionRemoteInterface"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionRemoteInterface"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionRemoteInterface"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_origin">
	<documentation>
  Set origin

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/iSessionRemoteInterface"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionRemoteInterface"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionRemoteInterface"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_origin">
	<documentation>
  Get origin

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/iSessionRemoteInterface"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionRemoteInterface"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionRemoteInterface"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_behind_nat">
	<documentation>
 Set the nat attribute in the peer WOC object.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/iSessionRemoteInterface"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionRemoteInterface"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionRemoteInterface"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_behind_nat">
	<documentation>
 Get the nat attribute from the peer WOC object.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/iSessionRemoteInterface"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionRemoteInterface"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionRemoteInterface"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_nat_source_address">
	<documentation>
 Set the nat address attribute in the peer WOC object.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/iSessionRemoteInterface"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionRemoteInterface"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionRemoteInterface"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_nat_source_address">
	<documentation>
 Get the nat address attribute in the peer WOC object.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/iSessionRemoteInterface"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionRemoteInterface"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionRemoteInterface"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_nat_config_status">
	<documentation>
  Get config_status

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/iSessionRemoteInterface"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionRemoteInterface"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionRemoteInterface"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_nat_config_status">
	<documentation>
  Set config_status

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/iSessionRemoteInterface"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionRemoteInterface"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionRemoteInterface"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_profile_serverssl">
	<documentation>
  Get serverssl

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/iSessionRemoteInterface"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionRemoteInterface"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionRemoteInterface"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_profile_serverssl">
	<documentation>
  Set serverssl

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/iSessionRemoteInterface"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionRemoteInterface"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionRemoteInterface"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_dedup_cache">
	<documentation>
  Get dedup_cache

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/iSessionRemoteInterface"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionRemoteInterface"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionRemoteInterface"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_tunnel_port">
	<documentation>
  Get tunnel_port

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/iSessionRemoteInterface"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionRemoteInterface"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionRemoteInterface"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_tunnel_port">
	<documentation>
  Set tunnel_port

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/iSessionRemoteInterface"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionRemoteInterface"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionRemoteInterface"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_version">
	<documentation>
 Gets the version information for this interface.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/iSessionRemoteInterface"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionRemoteInterface"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionRemoteInterface"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>
</binding>

<!-- service -->

<service name="Networking.iSessionRemoteInterface">
	<documentation>
 *IMPORTANT* This interface has been deprecated (as of 11.0.0)
 due to changing the key used to access iSession remote
 endpoints.  Please use the iSessionRemoteInterfaceV2 interface
 in its stead.

 The iSession RemoteInterface interface enables you to work with the definitions 
 and attributes contained in a device's peer iSession Remote Endpoint objects.  

        	</documentation>
	<port name="Networking.iSessionRemoteInterfacePort" binding="tns:Networking.iSessionRemoteInterfaceBinding">
		<soap:address location="https://url_to_service"/>
	</port>
</service>
</definitions>
