lib/puppet/util/network_device/wsdl/Networking.iSessionDeduplication.wsdl

<?xml version="1.0" ?>
<!--
Copyright (c) 1996-2012, F5 Networks, Inc., Seattle, Washington. All rights reserved.  

F5, F5 Networks, the F5 logo, BIG-IP, 3-DNS, iControl, GLOBAL-SITE, SEE-IT, EDGE-FX, FireGuard, Internet Control Architecture, IP Application Switch, iRules, PACKET VELOCITY, SYN Check, CONTROL YOUR WORLD, OneConnect, ZoneRunner, uRoam, FirePass, and TrafficShield are registered trademarks or trademarks of F5 Networks, Inc., in the U.S. and certain other countries. 

All other trademarks mentioned in this document are the property of their respective owners. F5 Networks' trademarks may not be used in connection with any product or service except as permitted in writing by F5.

-->
<definitions name="Networking.iSessionDeduplication"
	targetNamespace="urn:iControl"
	xmlns:tns="urn:iControl"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns="http://schemas.xmlsoap.org/wsdl/">

<!-- types -->

<types>
	<xsd:schema targetNamespace='urn:iControl'
		xmlns='http://www.w3.org/2001/XMLSchema'
		xmlns:SOAP-ENC='http://schemas.xmlsoap.org/soap/encoding/'
		xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>
		<xsd:simpleType name="Common.EnabledState">
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="STATE_DISABLED">
					<xsd:annotation>
						<xsd:documentation>STATE_DISABLED</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="STATE_ENABLED">
					<xsd:annotation>
						<xsd:documentation>STATE_ENABLED</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
			</xsd:restriction>
		</xsd:simpleType>
		<xsd:simpleType name="Common.ULong">
			<xsd:restriction base="xsd:long"/>
		</xsd:simpleType>
	</xsd:schema>
</types>

<!-- message -->

<message name="Networking.iSessionDeduplication.set_descriptionRequest">
	<part name="description" type="xsd:string"/>
</message>
<message name="Networking.iSessionDeduplication.set_descriptionResponse">
</message>

<message name="Networking.iSessionDeduplication.get_descriptionRequest">
</message>
<message name="Networking.iSessionDeduplication.get_descriptionResponse">
	<part name="return" type="xsd:string"/>
</message>

<message name="Networking.iSessionDeduplication.get_dictionaryRequest">
</message>
<message name="Networking.iSessionDeduplication.get_dictionaryResponse">
	<part name="return" type="xsd:string"/>
</message>

<message name="Networking.iSessionDeduplication.get_dictionary_sizeRequest">
</message>
<message name="Networking.iSessionDeduplication.get_dictionary_sizeResponse">
	<part name="return" type="xsd:long"/>
</message>

<message name="Networking.iSessionDeduplication.set_enabled_stateRequest">
	<part name="state" type="tns:Common.EnabledState"/>
</message>
<message name="Networking.iSessionDeduplication.set_enabled_stateResponse">
</message>

<message name="Networking.iSessionDeduplication.get_enabled_stateRequest">
</message>
<message name="Networking.iSessionDeduplication.get_enabled_stateResponse">
	<part name="return" type="tns:Common.EnabledState"/>
</message>

<message name="Networking.iSessionDeduplication.set_maximum_endpointsRequest">
	<part name="value" type="xsd:long"/>
</message>
<message name="Networking.iSessionDeduplication.set_maximum_endpointsResponse">
</message>

<message name="Networking.iSessionDeduplication.get_maximum_endpointsRequest">
</message>
<message name="Networking.iSessionDeduplication.get_maximum_endpointsResponse">
	<part name="return" type="xsd:long"/>
</message>

<message name="Networking.iSessionDeduplication.get_versionRequest">
</message>
<message name="Networking.iSessionDeduplication.get_versionResponse">
	<part name="return" type="xsd:string"/>
</message>

<!-- portType -->

<portType name="Networking.iSessionDeduplicationPortType">
	<operation name="set_description">
	<documentation>
 Sets the description for the symmetric deduplication configuration.
 This is an arbitrary field which can be used for any purpose.

        	</documentation>
		<input message="tns:Networking.iSessionDeduplication.set_descriptionRequest"/>
		<output message="tns:Networking.iSessionDeduplication.set_descriptionResponse"/>
	</operation>
	<operation name="get_description">
	<documentation>
 Gets the description for the symmetric deduplication configuration.

        	</documentation>
		<input message="tns:Networking.iSessionDeduplication.get_descriptionRequest"/>
		<output message="tns:Networking.iSessionDeduplication.get_descriptionResponse"/>
	</operation>
	<operation name="get_dictionary">
	<documentation>
 Gets the name of the dictionary for the symmetric deduplication
 configuration.

        	</documentation>
		<input message="tns:Networking.iSessionDeduplication.get_dictionaryRequest"/>
		<output message="tns:Networking.iSessionDeduplication.get_dictionaryResponse"/>
	</operation>
	<operation name="get_dictionary_size">
	<documentation>
 Gets the dictionary size for the symmetric deduplication
 configuration.

        	</documentation>
		<input message="tns:Networking.iSessionDeduplication.get_dictionary_sizeRequest"/>
		<output message="tns:Networking.iSessionDeduplication.get_dictionary_sizeResponse"/>
	</operation>
	<operation name="set_enabled_state">
	<documentation>
 Sets the state to use symmetric data deduplication to compress
 iSession traffic over the WAN. If set, the traffic is compressed by
 identifying and removing repetitive data patterns on the WAN.

        	</documentation>
		<input message="tns:Networking.iSessionDeduplication.set_enabled_stateRequest"/>
		<output message="tns:Networking.iSessionDeduplication.set_enabled_stateResponse"/>
	</operation>
	<operation name="get_enabled_state">
	<documentation>
 Gets the state to use symmetric data deduplication to compress
 iSession traffic over the WAN.

        	</documentation>
		<input message="tns:Networking.iSessionDeduplication.get_enabled_stateRequest"/>
		<output message="tns:Networking.iSessionDeduplication.get_enabled_stateResponse"/>
	</operation>
	<operation name="set_maximum_endpoints">
	<documentation>
 Sets the maximum number of concurrent remote endpoints for the
 symmetric deduplication configuration. This is the maximum number
 of configured WAN Optimization modules on remote BIG-IP systems
 that can have symmetric data deduplication enabled, and thus share
 the available cache. Any additional remote WAN Optimization Module
 that exceeds this number receives no cache for symmetric data
 deduplication. Valid values range from 1 to 64.

        	</documentation>
		<input message="tns:Networking.iSessionDeduplication.set_maximum_endpointsRequest"/>
		<output message="tns:Networking.iSessionDeduplication.set_maximum_endpointsResponse"/>
	</operation>
	<operation name="get_maximum_endpoints">
	<documentation>
 Gets the maximum number of concurrent remote endpoints for the
 symmetric deduplication configuration.

        	</documentation>
		<input message="tns:Networking.iSessionDeduplication.get_maximum_endpointsRequest"/>
		<output message="tns:Networking.iSessionDeduplication.get_maximum_endpointsResponse"/>
	</operation>
	<operation name="get_version">
	<documentation>
 Gets the version information for this interface.

        	</documentation>
		<input message="tns:Networking.iSessionDeduplication.get_versionRequest"/>
		<output message="tns:Networking.iSessionDeduplication.get_versionResponse"/>
	</operation>
</portType>

<!-- binding -->

<binding name="Networking.iSessionDeduplicationBinding" type="tns:Networking.iSessionDeduplicationPortType">
	<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
	<operation name="set_description">
	<documentation>
 Sets the description for the symmetric deduplication configuration.
 This is an arbitrary field which can be used for any purpose.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/iSessionDeduplication"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionDeduplication"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionDeduplication"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_description">
	<documentation>
 Gets the description for the symmetric deduplication configuration.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/iSessionDeduplication"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionDeduplication"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionDeduplication"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_dictionary">
	<documentation>
 Gets the name of the dictionary for the symmetric deduplication
 configuration.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/iSessionDeduplication"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionDeduplication"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionDeduplication"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_dictionary_size">
	<documentation>
 Gets the dictionary size for the symmetric deduplication
 configuration.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/iSessionDeduplication"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionDeduplication"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionDeduplication"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_enabled_state">
	<documentation>
 Sets the state to use symmetric data deduplication to compress
 iSession traffic over the WAN. If set, the traffic is compressed by
 identifying and removing repetitive data patterns on the WAN.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/iSessionDeduplication"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionDeduplication"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionDeduplication"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_enabled_state">
	<documentation>
 Gets the state to use symmetric data deduplication to compress
 iSession traffic over the WAN.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/iSessionDeduplication"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionDeduplication"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionDeduplication"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_maximum_endpoints">
	<documentation>
 Sets the maximum number of concurrent remote endpoints for the
 symmetric deduplication configuration. This is the maximum number
 of configured WAN Optimization modules on remote BIG-IP systems
 that can have symmetric data deduplication enabled, and thus share
 the available cache. Any additional remote WAN Optimization Module
 that exceeds this number receives no cache for symmetric data
 deduplication. Valid values range from 1 to 64.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/iSessionDeduplication"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionDeduplication"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionDeduplication"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_maximum_endpoints">
	<documentation>
 Gets the maximum number of concurrent remote endpoints for the
 symmetric deduplication configuration.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/iSessionDeduplication"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionDeduplication"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionDeduplication"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_version">
	<documentation>
 Gets the version information for this interface.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/iSessionDeduplication"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionDeduplication"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/iSessionDeduplication"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>
</binding>

<!-- service -->

<service name="Networking.iSessionDeduplication">
	<documentation>
 This interface configures symmetric data deduplication, which
 compresses iSession traffic on the WAN by identifying and removing
 repetitive data patterns.

        	</documentation>
	<port name="Networking.iSessionDeduplicationPort" binding="tns:Networking.iSessionDeduplicationBinding">
		<soap:address location="https://url_to_service"/>
	</port>
</service>
</definitions>
