lib/puppet/util/network_device/wsdl/Networking.RouteTableV2.wsdl

<?xml version="1.0" ?>
<!--
Copyright (c) 1996-2012, F5 Networks, Inc., Seattle, Washington. All rights reserved.  

F5, F5 Networks, the F5 logo, BIG-IP, 3-DNS, iControl, GLOBAL-SITE, SEE-IT, EDGE-FX, FireGuard, Internet Control Architecture, IP Application Switch, iRules, PACKET VELOCITY, SYN Check, CONTROL YOUR WORLD, OneConnect, ZoneRunner, uRoam, FirePass, and TrafficShield are registered trademarks or trademarks of F5 Networks, Inc., in the U.S. and certain other countries. 

All other trademarks mentioned in this document are the property of their respective owners. F5 Networks' trademarks may not be used in connection with any product or service except as permitted in writing by F5.

-->
<definitions name="Networking.RouteTableV2"
	targetNamespace="urn:iControl"
	xmlns:tns="urn:iControl"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns="http://schemas.xmlsoap.org/wsdl/">

<!-- types -->

<types>
	<xsd:schema targetNamespace='urn:iControl'
		xmlns='http://www.w3.org/2001/XMLSchema'
		xmlns:SOAP-ENC='http://schemas.xmlsoap.org/soap/encoding/'
		xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>
		<xsd:complexType name="Networking.RouteTableV2.RouteTableMetricStatisticsSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='tns:Networking.RouteTableV2.RouteTableMetricStatistics[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:complexType name="Networking.RouteTableV2.DynamicRouteECMPSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='tns:Networking.RouteTableV2.DynamicRouteECMP[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:complexType name="Networking.RouteTableV2.DynamicRouteECMPStatistics">
			<xsd:sequence>
				<xsd:element name="statistics" type="tns:Networking.RouteTableV2.DynamicRouteECMPSequence"/>
				<xsd:element name="time_stamp" type="tns:Common.TimeStamp"/>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:complexType name="Common.TimeStamp">
			<xsd:sequence>
				<xsd:element name="year" type="xsd:long"/>
				<xsd:element name="month" type="xsd:long"/>
				<xsd:element name="day" type="xsd:long"/>
				<xsd:element name="hour" type="xsd:long"/>
				<xsd:element name="minute" type="xsd:long"/>
				<xsd:element name="second" type="xsd:long"/>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:complexType name="Networking.RouteEntryTypeSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='tns:Networking.RouteEntryType[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:complexType name="Networking.RouteTableV2.RouteAttributeSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='tns:Networking.RouteTableV2.RouteAttribute[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:complexType name="Common.StringSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:string[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:simpleType name="Networking.RouteEntryType">
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="ROUTE_TYPE_GATEWAY">
					<xsd:annotation>
						<xsd:documentation>ROUTE_TYPE_GATEWAY</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="ROUTE_TYPE_POOL">
					<xsd:annotation>
						<xsd:documentation>ROUTE_TYPE_POOL</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="ROUTE_TYPE_INTERFACE">
					<xsd:annotation>
						<xsd:documentation>ROUTE_TYPE_INTERFACE</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="ROUTE_TYPE_REJECT">
					<xsd:annotation>
						<xsd:documentation>ROUTE_TYPE_REJECT</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
			</xsd:restriction>
		</xsd:simpleType>
		<xsd:complexType name="Networking.RouteTableV2.DynamicRoute">
			<xsd:sequence>
				<xsd:element name="destination" type="xsd:string"/>
				<xsd:element name="netmask" type="xsd:string"/>
				<xsd:element name="gateway" type="xsd:string"/>
				<xsd:element name="vlan_name" type="xsd:string"/>
				<xsd:element name="pool_name" type="xsd:string"/>
				<xsd:element name="mtu" type="xsd:long"/>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:complexType name="Common.ULongSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:long[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:complexType name="Networking.RouteTableV2.RouteAttribute">
			<xsd:sequence>
				<xsd:element name="gateway" type="xsd:string"/>
				<xsd:element name="vlan_name" type="xsd:string"/>
				<xsd:element name="pool_name" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:complexType name="Networking.RouteTableV2.RouteTableMetricEntrySequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='tns:Networking.RouteTableV2.RouteTableMetricEntry[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:complexType name="Networking.RouteTableV2.RouteDestination">
			<xsd:sequence>
				<xsd:element name="address" type="xsd:string"/>
				<xsd:element name="netmask" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:complexType name="Networking.RouteTableV2.DynamicRouteStatistics">
			<xsd:sequence>
				<xsd:element name="statistics" type="tns:Networking.RouteTableV2.DynamicRouteSequence"/>
				<xsd:element name="time_stamp" type="tns:Common.TimeStamp"/>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:complexType name="Networking.RouteTableV2.RouteNexthopEntrySequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='tns:Networking.RouteTableV2.RouteNexthopEntry[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:complexType name="Networking.RouteTableV2.RouteNexthopEntry">
			<xsd:sequence>
				<xsd:element name="gateway" type="xsd:string"/>
				<xsd:element name="vlan_name" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:complexType name="Networking.RouteTableV2.DynamicRouteECMP">
			<xsd:sequence>
				<xsd:element name="destination" type="xsd:string"/>
				<xsd:element name="netmask" type="xsd:string"/>
				<xsd:element name="nexthops" type="tns:Networking.RouteTableV2.RouteNexthopEntrySequence"/>
				<xsd:element name="mtu" type="xsd:long"/>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:complexType name="Common.IPAddressSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:string[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:complexType name="Networking.RouteTableV2.RouteTableMetricStatistics">
			<xsd:sequence>
				<xsd:element name="statistics" type="tns:Networking.RouteTableV2.RouteTableMetricEntrySequence"/>
				<xsd:element name="time_stamp" type="tns:Common.TimeStamp"/>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:complexType name="Networking.RouteTableV2.RouteDestinationSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='tns:Networking.RouteTableV2.RouteDestination[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:complexType name="Networking.RouteTableV2.DynamicRouteSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='tns:Networking.RouteTableV2.DynamicRoute[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:complexType name="Networking.RouteTableV2.RouteTableMetricEntry">
			<xsd:sequence>
				<xsd:element name="destination" type="xsd:string"/>
				<xsd:element name="mac_address" type="xsd:string"/>
				<xsd:element name="rtt" type="xsd:long"/>
				<xsd:element name="rtt_variance" type="xsd:long"/>
				<xsd:element name="mtu" type="xsd:long"/>
				<xsd:element name="expiration" type="xsd:long"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:schema>
</types>

<!-- message -->

<message name="Networking.RouteTableV2.get_static_route_listRequest">
</message>
<message name="Networking.RouteTableV2.get_static_route_listResponse">
	<part name="return" type="tns:Common.StringSequence"/>
</message>

<message name="Networking.RouteTableV2.create_static_routeRequest">
	<part name="routes" type="tns:Common.StringSequence"/>
	<part name="destinations" type="tns:Networking.RouteTableV2.RouteDestinationSequence"/>
	<part name="attributes" type="tns:Networking.RouteTableV2.RouteAttributeSequence"/>
</message>
<message name="Networking.RouteTableV2.create_static_routeResponse">
</message>

<message name="Networking.RouteTableV2.delete_static_routeRequest">
	<part name="routes" type="tns:Common.StringSequence"/>
</message>
<message name="Networking.RouteTableV2.delete_static_routeResponse">
</message>

<message name="Networking.RouteTableV2.delete_all_static_routesRequest">
</message>
<message name="Networking.RouteTableV2.delete_all_static_routesResponse">
</message>

<message name="Networking.RouteTableV2.get_static_route_destinationRequest">
	<part name="routes" type="tns:Common.StringSequence"/>
</message>
<message name="Networking.RouteTableV2.get_static_route_destinationResponse">
	<part name="return" type="tns:Networking.RouteTableV2.RouteDestinationSequence"/>
</message>

<message name="Networking.RouteTableV2.get_static_route_typeRequest">
	<part name="routes" type="tns:Common.StringSequence"/>
</message>
<message name="Networking.RouteTableV2.get_static_route_typeResponse">
	<part name="return" type="tns:Networking.RouteEntryTypeSequence"/>
</message>

<message name="Networking.RouteTableV2.set_static_route_rejectRequest">
	<part name="routes" type="tns:Common.StringSequence"/>
</message>
<message name="Networking.RouteTableV2.set_static_route_rejectResponse">
</message>

<message name="Networking.RouteTableV2.set_static_route_vlanRequest">
	<part name="routes" type="tns:Common.StringSequence"/>
	<part name="vlans" type="tns:Common.StringSequence"/>
</message>
<message name="Networking.RouteTableV2.set_static_route_vlanResponse">
</message>

<message name="Networking.RouteTableV2.get_static_route_vlanRequest">
	<part name="routes" type="tns:Common.StringSequence"/>
</message>
<message name="Networking.RouteTableV2.get_static_route_vlanResponse">
	<part name="return" type="tns:Common.StringSequence"/>
</message>

<message name="Networking.RouteTableV2.set_static_route_gatewayRequest">
	<part name="routes" type="tns:Common.StringSequence"/>
	<part name="gateways" type="tns:Common.IPAddressSequence"/>
</message>
<message name="Networking.RouteTableV2.set_static_route_gatewayResponse">
</message>

<message name="Networking.RouteTableV2.get_static_route_gatewayRequest">
	<part name="routes" type="tns:Common.StringSequence"/>
</message>
<message name="Networking.RouteTableV2.get_static_route_gatewayResponse">
	<part name="return" type="tns:Common.IPAddressSequence"/>
</message>

<message name="Networking.RouteTableV2.set_static_route_poolRequest">
	<part name="routes" type="tns:Common.StringSequence"/>
	<part name="pools" type="tns:Common.StringSequence"/>
</message>
<message name="Networking.RouteTableV2.set_static_route_poolResponse">
</message>

<message name="Networking.RouteTableV2.get_static_route_poolRequest">
	<part name="routes" type="tns:Common.StringSequence"/>
</message>
<message name="Networking.RouteTableV2.get_static_route_poolResponse">
	<part name="return" type="tns:Common.StringSequence"/>
</message>

<message name="Networking.RouteTableV2.set_static_route_mtuRequest">
	<part name="routes" type="tns:Common.StringSequence"/>
	<part name="mtus" type="tns:Common.ULongSequence"/>
</message>
<message name="Networking.RouteTableV2.set_static_route_mtuResponse">
</message>

<message name="Networking.RouteTableV2.get_static_route_mtuRequest">
	<part name="routes" type="tns:Common.StringSequence"/>
</message>
<message name="Networking.RouteTableV2.get_static_route_mtuResponse">
	<part name="return" type="tns:Common.ULongSequence"/>
</message>

<message name="Networking.RouteTableV2.set_static_route_descriptionRequest">
	<part name="routes" type="tns:Common.StringSequence"/>
	<part name="descriptions" type="tns:Common.StringSequence"/>
</message>
<message name="Networking.RouteTableV2.set_static_route_descriptionResponse">
</message>

<message name="Networking.RouteTableV2.get_static_route_descriptionRequest">
	<part name="routes" type="tns:Common.StringSequence"/>
</message>
<message name="Networking.RouteTableV2.get_static_route_descriptionResponse">
	<part name="return" type="tns:Common.StringSequence"/>
</message>

<message name="Networking.RouteTableV2.get_management_route_listRequest">
</message>
<message name="Networking.RouteTableV2.get_management_route_listResponse">
	<part name="return" type="tns:Common.StringSequence"/>
</message>

<message name="Networking.RouteTableV2.create_management_routeRequest">
	<part name="routes" type="tns:Common.StringSequence"/>
	<part name="destinations" type="tns:Networking.RouteTableV2.RouteDestinationSequence"/>
	<part name="attributes" type="tns:Networking.RouteTableV2.RouteAttributeSequence"/>
</message>
<message name="Networking.RouteTableV2.create_management_routeResponse">
</message>

<message name="Networking.RouteTableV2.delete_management_routeRequest">
	<part name="routes" type="tns:Common.StringSequence"/>
</message>
<message name="Networking.RouteTableV2.delete_management_routeResponse">
</message>

<message name="Networking.RouteTableV2.delete_all_management_routesRequest">
</message>
<message name="Networking.RouteTableV2.delete_all_management_routesResponse">
</message>

<message name="Networking.RouteTableV2.get_management_route_destinationRequest">
	<part name="routes" type="tns:Common.StringSequence"/>
</message>
<message name="Networking.RouteTableV2.get_management_route_destinationResponse">
	<part name="return" type="tns:Networking.RouteTableV2.RouteDestinationSequence"/>
</message>

<message name="Networking.RouteTableV2.get_management_route_typeRequest">
	<part name="routes" type="tns:Common.StringSequence"/>
</message>
<message name="Networking.RouteTableV2.get_management_route_typeResponse">
	<part name="return" type="tns:Networking.RouteEntryTypeSequence"/>
</message>

<message name="Networking.RouteTableV2.set_management_route_rejectRequest">
	<part name="routes" type="tns:Common.StringSequence"/>
</message>
<message name="Networking.RouteTableV2.set_management_route_rejectResponse">
</message>

<message name="Networking.RouteTableV2.set_management_route_gatewayRequest">
	<part name="routes" type="tns:Common.StringSequence"/>
	<part name="gateways" type="tns:Common.IPAddressSequence"/>
</message>
<message name="Networking.RouteTableV2.set_management_route_gatewayResponse">
</message>

<message name="Networking.RouteTableV2.get_management_route_gatewayRequest">
	<part name="routes" type="tns:Common.StringSequence"/>
</message>
<message name="Networking.RouteTableV2.get_management_route_gatewayResponse">
	<part name="return" type="tns:Common.IPAddressSequence"/>
</message>

<message name="Networking.RouteTableV2.set_management_route_mtuRequest">
	<part name="routes" type="tns:Common.StringSequence"/>
	<part name="mtus" type="tns:Common.ULongSequence"/>
</message>
<message name="Networking.RouteTableV2.set_management_route_mtuResponse">
</message>

<message name="Networking.RouteTableV2.get_management_route_mtuRequest">
	<part name="routes" type="tns:Common.StringSequence"/>
</message>
<message name="Networking.RouteTableV2.get_management_route_mtuResponse">
	<part name="return" type="tns:Common.ULongSequence"/>
</message>

<message name="Networking.RouteTableV2.set_management_route_descriptionRequest">
	<part name="routes" type="tns:Common.StringSequence"/>
	<part name="descriptions" type="tns:Common.StringSequence"/>
</message>
<message name="Networking.RouteTableV2.set_management_route_descriptionResponse">
</message>

<message name="Networking.RouteTableV2.get_management_route_descriptionRequest">
	<part name="routes" type="tns:Common.StringSequence"/>
</message>
<message name="Networking.RouteTableV2.get_management_route_descriptionResponse">
	<part name="return" type="tns:Common.StringSequence"/>
</message>

<message name="Networking.RouteTableV2.get_dynamic_route_listRequest">
</message>
<message name="Networking.RouteTableV2.get_dynamic_route_listResponse">
	<part name="return" type="tns:Common.StringSequence"/>
</message>

<message name="Networking.RouteTableV2.get_dynamic_routeRequest">
	<part name="routes" type="tns:Common.StringSequence"/>
</message>
<message name="Networking.RouteTableV2.get_dynamic_routeResponse">
	<part name="return" type="tns:Networking.RouteTableV2.DynamicRouteStatistics"/>
</message>

<message name="Networking.RouteTableV2.get_dynamic_route_ecmpRequest">
	<part name="routes" type="tns:Common.StringSequence"/>
</message>
<message name="Networking.RouteTableV2.get_dynamic_route_ecmpResponse">
	<part name="return" type="tns:Networking.RouteTableV2.DynamicRouteECMPStatistics"/>
</message>

<message name="Networking.RouteTableV2.get_route_table_metric_statistics_for_destinationRequest">
	<part name="destinations" type="tns:Common.IPAddressSequence"/>
</message>
<message name="Networking.RouteTableV2.get_route_table_metric_statistics_for_destinationResponse">
	<part name="return" type="tns:Networking.RouteTableV2.RouteTableMetricStatisticsSequence"/>
</message>

<message name="Networking.RouteTableV2.get_route_table_metric_statistics_for_macRequest">
	<part name="mac_addresses" type="tns:Common.StringSequence"/>
</message>
<message name="Networking.RouteTableV2.get_route_table_metric_statistics_for_macResponse">
	<part name="return" type="tns:Networking.RouteTableV2.RouteTableMetricStatisticsSequence"/>
</message>

<message name="Networking.RouteTableV2.reset_all_route_table_metric_statisticsRequest">
</message>
<message name="Networking.RouteTableV2.reset_all_route_table_metric_statisticsResponse">
</message>

<message name="Networking.RouteTableV2.get_versionRequest">
</message>
<message name="Networking.RouteTableV2.get_versionResponse">
	<part name="return" type="xsd:string"/>
</message>

<!-- portType -->

<portType name="Networking.RouteTableV2PortType">
	<operation name="get_static_route_list">
 	<documentation>
 Gets a list of all static route entries.

        	</documentation>
		<input message="tns:Networking.RouteTableV2.get_static_route_listRequest"/>
		<output message="tns:Networking.RouteTableV2.get_static_route_listResponse"/>
	</operation>
	<operation name="create_static_route">
	<documentation>
 Creates the specified static route entries in the route table.

        	</documentation>
		<input message="tns:Networking.RouteTableV2.create_static_routeRequest"/>
		<output message="tns:Networking.RouteTableV2.create_static_routeResponse"/>
	</operation>
	<operation name="delete_static_route">
	<documentation>
 Deletes the specified static route entries from the route table.

        	</documentation>
		<input message="tns:Networking.RouteTableV2.delete_static_routeRequest"/>
		<output message="tns:Networking.RouteTableV2.delete_static_routeResponse"/>
	</operation>
	<operation name="delete_all_static_routes">
	<documentation>
 Deletes all static route entries from the route table.

        	</documentation>
		<input message="tns:Networking.RouteTableV2.delete_all_static_routesRequest"/>
		<output message="tns:Networking.RouteTableV2.delete_all_static_routesResponse"/>
	</operation>
	<operation name="get_static_route_destination">
	<documentation>
 Gets the destinations for the specified static routes.

 Note: A set_static_route_destination method is not supported.

        	</documentation>
		<input message="tns:Networking.RouteTableV2.get_static_route_destinationRequest"/>
		<output message="tns:Networking.RouteTableV2.get_static_route_destinationResponse"/>
	</operation>
	<operation name="get_static_route_type">
	<documentation>
 Gets the route type for the specified static routes.

        	</documentation>
		<input message="tns:Networking.RouteTableV2.get_static_route_typeRequest"/>
		<output message="tns:Networking.RouteTableV2.get_static_route_typeResponse"/>
	</operation>
	<operation name="set_static_route_reject">
	<documentation>
 Sets the state that rejects all requests for the specified static
 routes.

        	</documentation>
		<input message="tns:Networking.RouteTableV2.set_static_route_rejectRequest"/>
		<output message="tns:Networking.RouteTableV2.set_static_route_rejectResponse"/>
	</operation>
	<operation name="set_static_route_vlan">
	<documentation>
 Sets the VLAN names for the specified static routes.

        	</documentation>
		<input message="tns:Networking.RouteTableV2.set_static_route_vlanRequest"/>
		<output message="tns:Networking.RouteTableV2.set_static_route_vlanResponse"/>
	</operation>
	<operation name="get_static_route_vlan">
	<documentation>
 Gets the VLAN names for the specified static routes.

        	</documentation>
		<input message="tns:Networking.RouteTableV2.get_static_route_vlanRequest"/>
		<output message="tns:Networking.RouteTableV2.get_static_route_vlanResponse"/>
	</operation>
	<operation name="set_static_route_gateway">
	<documentation>
 Sets the gateways for the specified static routes.

        	</documentation>
		<input message="tns:Networking.RouteTableV2.set_static_route_gatewayRequest"/>
		<output message="tns:Networking.RouteTableV2.set_static_route_gatewayResponse"/>
	</operation>
	<operation name="get_static_route_gateway">
	<documentation>
 Gets the gateways for the specified static routes.

        	</documentation>
		<input message="tns:Networking.RouteTableV2.get_static_route_gatewayRequest"/>
		<output message="tns:Networking.RouteTableV2.get_static_route_gatewayResponse"/>
	</operation>
	<operation name="set_static_route_pool">
	<documentation>
 Sets the pool names for the specified static routes. The pool name
 allow the destination to select the nexthop router from a pool.

        	</documentation>
		<input message="tns:Networking.RouteTableV2.set_static_route_poolRequest"/>
		<output message="tns:Networking.RouteTableV2.set_static_route_poolResponse"/>
	</operation>
	<operation name="get_static_route_pool">
	<documentation>
 Gets the pool names for the specified static routes.  The pool name
 allows the destination to select the nexthop router from a pool.

        	</documentation>
		<input message="tns:Networking.RouteTableV2.get_static_route_poolRequest"/>
		<output message="tns:Networking.RouteTableV2.get_static_route_poolResponse"/>
	</operation>
	<operation name="set_static_route_mtu">
	<documentation>
 Sets the MTUs for the specified static routes.

        	</documentation>
		<input message="tns:Networking.RouteTableV2.set_static_route_mtuRequest"/>
		<output message="tns:Networking.RouteTableV2.set_static_route_mtuResponse"/>
	</operation>
	<operation name="get_static_route_mtu">
	<documentation>
 Gets the MTUs for the specified static routes.

        	</documentation>
		<input message="tns:Networking.RouteTableV2.get_static_route_mtuRequest"/>
		<output message="tns:Networking.RouteTableV2.get_static_route_mtuResponse"/>
	</operation>
	<operation name="set_static_route_description">
	<documentation>
 Sets the descriptions for the specified static routes.

        	</documentation>
		<input message="tns:Networking.RouteTableV2.set_static_route_descriptionRequest"/>
		<output message="tns:Networking.RouteTableV2.set_static_route_descriptionResponse"/>
	</operation>
	<operation name="get_static_route_description">
	<documentation>
 Gets the descriptions for the specified static routes.

        	</documentation>
		<input message="tns:Networking.RouteTableV2.get_static_route_descriptionRequest"/>
		<output message="tns:Networking.RouteTableV2.get_static_route_descriptionResponse"/>
	</operation>
	<operation name="get_management_route_list">
	<documentation>
 Gets a list of all management route entries.
 
        	</documentation>
		<input message="tns:Networking.RouteTableV2.get_management_route_listRequest"/>
		<output message="tns:Networking.RouteTableV2.get_management_route_listResponse"/>
	</operation>
	<operation name="create_management_route">
	<documentation>
 Creates the specified management route entries in the route table.
 
        	</documentation>
		<input message="tns:Networking.RouteTableV2.create_management_routeRequest"/>
		<output message="tns:Networking.RouteTableV2.create_management_routeResponse"/>
	</operation>
	<operation name="delete_management_route">
	<documentation>
 Deletes the specified management route entries from the route table.
 
        	</documentation>
		<input message="tns:Networking.RouteTableV2.delete_management_routeRequest"/>
		<output message="tns:Networking.RouteTableV2.delete_management_routeResponse"/>
	</operation>
	<operation name="delete_all_management_routes">
	<documentation>
 Deletes all management route entries from the route table.
 
        	</documentation>
		<input message="tns:Networking.RouteTableV2.delete_all_management_routesRequest"/>
		<output message="tns:Networking.RouteTableV2.delete_all_management_routesResponse"/>
	</operation>
	<operation name="get_management_route_destination">
	<documentation>
 Gets the destinations for the specified management routes.

 Note: A set_management_route_destination method is not supported.

        	</documentation>
		<input message="tns:Networking.RouteTableV2.get_management_route_destinationRequest"/>
		<output message="tns:Networking.RouteTableV2.get_management_route_destinationResponse"/>
	</operation>
	<operation name="get_management_route_type">
	<documentation>
 Gets the route type for the specified management routes.
 
        	</documentation>
		<input message="tns:Networking.RouteTableV2.get_management_route_typeRequest"/>
		<output message="tns:Networking.RouteTableV2.get_management_route_typeResponse"/>
	</operation>
	<operation name="set_management_route_reject">
	<documentation>
 Sets the state that rejects all requests for the specified
 management routes.
 
        	</documentation>
		<input message="tns:Networking.RouteTableV2.set_management_route_rejectRequest"/>
		<output message="tns:Networking.RouteTableV2.set_management_route_rejectResponse"/>
	</operation>
	<operation name="set_management_route_gateway">
	<documentation>
 Sets the gateways for the specified management routes.
 
        	</documentation>
		<input message="tns:Networking.RouteTableV2.set_management_route_gatewayRequest"/>
		<output message="tns:Networking.RouteTableV2.set_management_route_gatewayResponse"/>
	</operation>
	<operation name="get_management_route_gateway">
	<documentation>
 Gets the gateways for the specified management routes.
 
        	</documentation>
		<input message="tns:Networking.RouteTableV2.get_management_route_gatewayRequest"/>
		<output message="tns:Networking.RouteTableV2.get_management_route_gatewayResponse"/>
	</operation>
	<operation name="set_management_route_mtu">
	<documentation>
 Sets the MTUs for the specified management routes.
 
        	</documentation>
		<input message="tns:Networking.RouteTableV2.set_management_route_mtuRequest"/>
		<output message="tns:Networking.RouteTableV2.set_management_route_mtuResponse"/>
	</operation>
	<operation name="get_management_route_mtu">
	<documentation>
 Gets the MTUs for the specified management routes.
 
        	</documentation>
		<input message="tns:Networking.RouteTableV2.get_management_route_mtuRequest"/>
		<output message="tns:Networking.RouteTableV2.get_management_route_mtuResponse"/>
	</operation>
	<operation name="set_management_route_description">
	<documentation>
 Sets the descriptions for the specified management routes.

        	</documentation>
		<input message="tns:Networking.RouteTableV2.set_management_route_descriptionRequest"/>
		<output message="tns:Networking.RouteTableV2.set_management_route_descriptionResponse"/>
	</operation>
	<operation name="get_management_route_description">
	<documentation>
 Gets the descriptions for the specified management routes.

        	</documentation>
		<input message="tns:Networking.RouteTableV2.get_management_route_descriptionRequest"/>
		<output message="tns:Networking.RouteTableV2.get_management_route_descriptionResponse"/>
	</operation>
	<operation name="get_dynamic_route_list">
	<documentation>
 Gets the list of dynamic routes.
 
        	</documentation>
		<input message="tns:Networking.RouteTableV2.get_dynamic_route_listRequest"/>
		<output message="tns:Networking.RouteTableV2.get_dynamic_route_listResponse"/>
	</operation>
	<operation name="get_dynamic_route">
	<documentation>
 Gets the information for the specified dynamic routes
 
        	</documentation>
		<input message="tns:Networking.RouteTableV2.get_dynamic_routeRequest"/>
		<output message="tns:Networking.RouteTableV2.get_dynamic_routeResponse"/>
	</operation>
	<operation name="get_dynamic_route_ecmp">
	<documentation>
 Gets the information for the specified dynamic routes, including all
 nexthops in the case of ECMP routes.
 
        	</documentation>
		<input message="tns:Networking.RouteTableV2.get_dynamic_route_ecmpRequest"/>
		<output message="tns:Networking.RouteTableV2.get_dynamic_route_ecmpResponse"/>
	</operation>
	<operation name="get_route_table_metric_statistics_for_destination">
	<documentation>
 Gets the route metric statistics for the specified destination IP
 addresses.
 
        	</documentation>
		<input message="tns:Networking.RouteTableV2.get_route_table_metric_statistics_for_destinationRequest"/>
		<output message="tns:Networking.RouteTableV2.get_route_table_metric_statistics_for_destinationResponse"/>
	</operation>
	<operation name="get_route_table_metric_statistics_for_mac">
	<documentation>
 Gets the route metric statistics for the specified MAC addresses of
 the gateways.
 
        	</documentation>
		<input message="tns:Networking.RouteTableV2.get_route_table_metric_statistics_for_macRequest"/>
		<output message="tns:Networking.RouteTableV2.get_route_table_metric_statistics_for_macResponse"/>
	</operation>
	<operation name="reset_all_route_table_metric_statistics">
	<documentation>
 Resets or flushes all route metric statistics.
 
        	</documentation>
		<input message="tns:Networking.RouteTableV2.reset_all_route_table_metric_statisticsRequest"/>
		<output message="tns:Networking.RouteTableV2.reset_all_route_table_metric_statisticsResponse"/>
	</operation>
	<operation name="get_version">
	<documentation>
 Gets the version information for this interface.

        	</documentation>
		<input message="tns:Networking.RouteTableV2.get_versionRequest"/>
		<output message="tns:Networking.RouteTableV2.get_versionResponse"/>
	</operation>
</portType>

<!-- binding -->

<binding name="Networking.RouteTableV2Binding" type="tns:Networking.RouteTableV2PortType">
	<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
	<operation name="get_static_route_list">
	<documentation>
 Gets a list of all static route entries.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/RouteTableV2"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="create_static_route">
	<documentation>
 Creates the specified static route entries in the route table.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/RouteTableV2"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="delete_static_route">
	<documentation>
 Deletes the specified static route entries from the route table.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/RouteTableV2"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="delete_all_static_routes">
	<documentation>
 Deletes all static route entries from the route table.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/RouteTableV2"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_static_route_destination">
	<documentation>
 Gets the destinations for the specified static routes.

 Note: A set_static_route_destination method is not supported.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/RouteTableV2"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_static_route_type">
	<documentation>
 Gets the route type for the specified static routes.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/RouteTableV2"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_static_route_reject">
	<documentation>
 Sets the state that rejects all requests for the specified static
 routes.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/RouteTableV2"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_static_route_vlan">
	<documentation>
 Sets the VLAN names for the specified static routes.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/RouteTableV2"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_static_route_vlan">
	<documentation>
 Gets the VLAN names for the specified static routes.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/RouteTableV2"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_static_route_gateway">
	<documentation>
 Sets the gateways for the specified static routes.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/RouteTableV2"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_static_route_gateway">
	<documentation>
 Gets the gateways for the specified static routes.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/RouteTableV2"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_static_route_pool">
	<documentation>
 Sets the pool names for the specified static routes. The pool name
 allow the destination to select the nexthop router from a pool.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/RouteTableV2"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_static_route_pool">
	<documentation>
 Gets the pool names for the specified static routes.  The pool name
 allows the destination to select the nexthop router from a pool.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/RouteTableV2"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_static_route_mtu">
	<documentation>
 Sets the MTUs for the specified static routes.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/RouteTableV2"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_static_route_mtu">
	<documentation>
 Gets the MTUs for the specified static routes.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/RouteTableV2"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_static_route_description">
	<documentation>
 Sets the descriptions for the specified static routes.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/RouteTableV2"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_static_route_description">
	<documentation>
 Gets the descriptions for the specified static routes.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/RouteTableV2"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_management_route_list">
	<documentation>
 Gets a list of all management route entries.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/RouteTableV2"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="create_management_route">
	<documentation>
 Creates the specified management route entries in the route table.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/RouteTableV2"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="delete_management_route">
	<documentation>
 Deletes the specified management route entries from the route table.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/RouteTableV2"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="delete_all_management_routes">
	<documentation>
 Deletes all management route entries from the route table.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/RouteTableV2"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_management_route_destination">
	<documentation>
 Gets the destinations for the specified management routes.

 Note: A set_management_route_destination method is not supported.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/RouteTableV2"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_management_route_type">
	<documentation>
 Gets the route type for the specified management routes.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/RouteTableV2"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_management_route_reject">
	<documentation>
 Sets the state that rejects all requests for the specified
 management routes.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/RouteTableV2"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_management_route_gateway">
	<documentation>
 Sets the gateways for the specified management routes.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/RouteTableV2"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_management_route_gateway">
	<documentation>
 Gets the gateways for the specified management routes.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/RouteTableV2"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_management_route_mtu">
	<documentation>
 Sets the MTUs for the specified management routes.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/RouteTableV2"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_management_route_mtu">
	<documentation>
 Gets the MTUs for the specified management routes.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/RouteTableV2"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_management_route_description">
	<documentation>
 Sets the descriptions for the specified management routes.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/RouteTableV2"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_management_route_description">
	<documentation>
 Gets the descriptions for the specified management routes.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/RouteTableV2"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_dynamic_route_list">
	<documentation>
 Gets the list of dynamic routes.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/RouteTableV2"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_dynamic_route">
	<documentation>
 Gets the information for the specified dynamic routes
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/RouteTableV2"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_dynamic_route_ecmp">
	<documentation>
 Gets the information for the specified dynamic routes, including all
 nexthops in the case of ECMP routes.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/RouteTableV2"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_route_table_metric_statistics_for_destination">
	<documentation>
 Gets the route metric statistics for the specified destination IP
 addresses.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/RouteTableV2"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_route_table_metric_statistics_for_mac">
	<documentation>
 Gets the route metric statistics for the specified MAC addresses of
 the gateways.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/RouteTableV2"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="reset_all_route_table_metric_statistics">
	<documentation>
 Resets or flushes all route metric statistics.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/RouteTableV2"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_version">
	<documentation>
 Gets the version information for this interface.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/RouteTableV2"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/RouteTableV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>
</binding>

<!-- service -->

<service name="Networking.RouteTableV2">
	<documentation>
 The RouteTable interface enables you to work with the Route table and entries.  

        	</documentation>
	<port name="Networking.RouteTableV2Port" binding="tns:Networking.RouteTableV2Binding">
		<soap:address location="https://url_to_service"/>
	</port>
</service>
</definitions>
