lib/puppet/util/network_device/wsdl/Networking.ProfileWCCPGRE.wsdl

<?xml version="1.0" ?>
<!--
Copyright (c) 1996-2012, F5 Networks, Inc., Seattle, Washington. All rights reserved.  

F5, F5 Networks, the F5 logo, BIG-IP, 3-DNS, iControl, GLOBAL-SITE, SEE-IT, EDGE-FX, FireGuard, Internet Control Architecture, IP Application Switch, iRules, PACKET VELOCITY, SYN Check, CONTROL YOUR WORLD, OneConnect, ZoneRunner, uRoam, FirePass, and TrafficShield are registered trademarks or trademarks of F5 Networks, Inc., in the U.S. and certain other countries. 

All other trademarks mentioned in this document are the property of their respective owners. F5 Networks' trademarks may not be used in connection with any product or service except as permitted in writing by F5.

-->
<definitions name="Networking.ProfileWCCPGRE"
	targetNamespace="urn:iControl"
	xmlns:tns="urn:iControl"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns="http://schemas.xmlsoap.org/wsdl/">

<!-- types -->

<types>
	<xsd:schema targetNamespace='urn:iControl'
		xmlns='http://www.w3.org/2001/XMLSchema'
		xmlns:SOAP-ENC='http://schemas.xmlsoap.org/soap/encoding/'
		xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>
		<xsd:complexType name="Common.ProfileEnabledState">
			<xsd:sequence>
				<xsd:element name="value" type="tns:Common.EnabledState"/>
				<xsd:element name="default_flag" type="xsd:boolean"/>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:complexType name="Networking.ProfileWCCPGRE.ProfileWCCPGREForwarding">
			<xsd:sequence>
				<xsd:element name="value" type="tns:Networking.ProfileWCCPGRE.WCCPGREForwarding"/>
				<xsd:element name="default_flag" type="xsd:boolean"/>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:simpleType name="Common.EnabledState">
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="STATE_DISABLED">
					<xsd:annotation>
						<xsd:documentation>STATE_DISABLED</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="STATE_ENABLED">
					<xsd:annotation>
						<xsd:documentation>STATE_ENABLED</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
			</xsd:restriction>
		</xsd:simpleType>
		<xsd:complexType name="Common.StringSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:string[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:complexType name="Common.BooleanSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:boolean[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:complexType name="Common.ProfileULongSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='tns:Common.ProfileULong[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:complexType name="Networking.ProfileWCCPGRE.ProfileWCCPGREForwardingSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='tns:Networking.ProfileWCCPGRE.ProfileWCCPGREForwarding[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:simpleType name="Networking.ProfileWCCPGRE.WCCPGREForwarding">
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="WCCP_GRE_FORWARD_UNKNOWN">
					<xsd:annotation>
						<xsd:documentation>WCCP_GRE_FORWARD_UNKNOWN</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="WCCP_GRE_FORWARD_NORMAL">
					<xsd:annotation>
						<xsd:documentation>WCCP_GRE_FORWARD_NORMAL</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="WCCP_GRE_FORWARD_LASTHOP">
					<xsd:annotation>
						<xsd:documentation>WCCP_GRE_FORWARD_LASTHOP</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
			</xsd:restriction>
		</xsd:simpleType>
		<xsd:complexType name="Common.ProfileULong">
			<xsd:sequence>
				<xsd:element name="value" type="xsd:long"/>
				<xsd:element name="default_flag" type="xsd:boolean"/>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:complexType name="Common.ProfileEnabledStateSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='tns:Common.ProfileEnabledState[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:schema>
</types>

<!-- message -->

<message name="Networking.ProfileWCCPGRE.get_listRequest">
</message>
<message name="Networking.ProfileWCCPGRE.get_listResponse">
	<part name="return" type="tns:Common.StringSequence"/>
</message>

<message name="Networking.ProfileWCCPGRE.createRequest">
	<part name="profile_names" type="tns:Common.StringSequence"/>
</message>
<message name="Networking.ProfileWCCPGRE.createResponse">
</message>

<message name="Networking.ProfileWCCPGRE.delete_profileRequest">
	<part name="profile_names" type="tns:Common.StringSequence"/>
</message>
<message name="Networking.ProfileWCCPGRE.delete_profileResponse">
</message>

<message name="Networking.ProfileWCCPGRE.delete_all_profilesRequest">
</message>
<message name="Networking.ProfileWCCPGRE.delete_all_profilesResponse">
</message>

<message name="Networking.ProfileWCCPGRE.is_base_profileRequest">
	<part name="profile_names" type="tns:Common.StringSequence"/>
</message>
<message name="Networking.ProfileWCCPGRE.is_base_profileResponse">
	<part name="return" type="tns:Common.BooleanSequence"/>
</message>

<message name="Networking.ProfileWCCPGRE.is_system_profileRequest">
	<part name="profile_names" type="tns:Common.StringSequence"/>
</message>
<message name="Networking.ProfileWCCPGRE.is_system_profileResponse">
	<part name="return" type="tns:Common.BooleanSequence"/>
</message>

<message name="Networking.ProfileWCCPGRE.set_default_profileRequest">
	<part name="profile_names" type="tns:Common.StringSequence"/>
	<part name="defaults" type="tns:Common.StringSequence"/>
</message>
<message name="Networking.ProfileWCCPGRE.set_default_profileResponse">
</message>

<message name="Networking.ProfileWCCPGRE.get_default_profileRequest">
	<part name="profile_names" type="tns:Common.StringSequence"/>
</message>
<message name="Networking.ProfileWCCPGRE.get_default_profileResponse">
	<part name="return" type="tns:Common.StringSequence"/>
</message>

<message name="Networking.ProfileWCCPGRE.set_include_checksum_stateRequest">
	<part name="profile_names" type="tns:Common.StringSequence"/>
	<part name="states" type="tns:Common.ProfileEnabledStateSequence"/>
</message>
<message name="Networking.ProfileWCCPGRE.set_include_checksum_stateResponse">
</message>

<message name="Networking.ProfileWCCPGRE.get_include_checksum_stateRequest">
	<part name="profile_names" type="tns:Common.StringSequence"/>
</message>
<message name="Networking.ProfileWCCPGRE.get_include_checksum_stateResponse">
	<part name="return" type="tns:Common.ProfileEnabledStateSequence"/>
</message>

<message name="Networking.ProfileWCCPGRE.set_validate_checksum_stateRequest">
	<part name="profile_names" type="tns:Common.StringSequence"/>
	<part name="states" type="tns:Common.ProfileEnabledStateSequence"/>
</message>
<message name="Networking.ProfileWCCPGRE.set_validate_checksum_stateResponse">
</message>

<message name="Networking.ProfileWCCPGRE.get_validate_checksum_stateRequest">
	<part name="profile_names" type="tns:Common.StringSequence"/>
</message>
<message name="Networking.ProfileWCCPGRE.get_validate_checksum_stateResponse">
	<part name="return" type="tns:Common.ProfileEnabledStateSequence"/>
</message>

<message name="Networking.ProfileWCCPGRE.set_wccp_versionRequest">
	<part name="profile_names" type="tns:Common.StringSequence"/>
	<part name="versions" type="tns:Common.ProfileULongSequence"/>
</message>
<message name="Networking.ProfileWCCPGRE.set_wccp_versionResponse">
</message>

<message name="Networking.ProfileWCCPGRE.get_wccp_versionRequest">
	<part name="profile_names" type="tns:Common.StringSequence"/>
</message>
<message name="Networking.ProfileWCCPGRE.get_wccp_versionResponse">
	<part name="return" type="tns:Common.ProfileULongSequence"/>
</message>

<message name="Networking.ProfileWCCPGRE.set_egress_forwardingRequest">
	<part name="profile_names" type="tns:Common.StringSequence"/>
	<part name="modes" type="tns:Networking.ProfileWCCPGRE.ProfileWCCPGREForwardingSequence"/>
</message>
<message name="Networking.ProfileWCCPGRE.set_egress_forwardingResponse">
</message>

<message name="Networking.ProfileWCCPGRE.get_egress_forwardingRequest">
	<part name="profile_names" type="tns:Common.StringSequence"/>
</message>
<message name="Networking.ProfileWCCPGRE.get_egress_forwardingResponse">
	<part name="return" type="tns:Networking.ProfileWCCPGRE.ProfileWCCPGREForwardingSequence"/>
</message>

<message name="Networking.ProfileWCCPGRE.set_descriptionRequest">
	<part name="profile_names" type="tns:Common.StringSequence"/>
	<part name="descriptions" type="tns:Common.StringSequence"/>
</message>
<message name="Networking.ProfileWCCPGRE.set_descriptionResponse">
</message>

<message name="Networking.ProfileWCCPGRE.get_descriptionRequest">
	<part name="profile_names" type="tns:Common.StringSequence"/>
</message>
<message name="Networking.ProfileWCCPGRE.get_descriptionResponse">
	<part name="return" type="tns:Common.StringSequence"/>
</message>

<message name="Networking.ProfileWCCPGRE.get_versionRequest">
</message>
<message name="Networking.ProfileWCCPGRE.get_versionResponse">
	<part name="return" type="xsd:string"/>
</message>

<!-- portType -->

<portType name="Networking.ProfileWCCPGREPortType">
	<operation name="get_list">
       	<documentation>
 Gets the names for all WCCP-GRE tunnel profiles.

        	</documentation>
		<input message="tns:Networking.ProfileWCCPGRE.get_listRequest"/>
		<output message="tns:Networking.ProfileWCCPGRE.get_listResponse"/>
	</operation>
	<operation name="create">
	<documentation>
 Creates a set of WCCP-GRE tunnel profiles.

        	</documentation>
		<input message="tns:Networking.ProfileWCCPGRE.createRequest"/>
		<output message="tns:Networking.ProfileWCCPGRE.createResponse"/>
	</operation>
	<operation name="delete_profile">
	<documentation>
 Deletes a set of WCCP-GRE tunnel profiles.

        	</documentation>
		<input message="tns:Networking.ProfileWCCPGRE.delete_profileRequest"/>
		<output message="tns:Networking.ProfileWCCPGRE.delete_profileResponse"/>
	</operation>
	<operation name="delete_all_profiles">
	<documentation>
 Deletes all non-system WCCP-GRE tunnel profiles.

        	</documentation>
		<input message="tns:Networking.ProfileWCCPGRE.delete_all_profilesRequest"/>
		<output message="tns:Networking.ProfileWCCPGRE.delete_all_profilesResponse"/>
	</operation>
	<operation name="is_base_profile">
	<documentation>
 Determines whether the specified WCCP-GRE tunnel profiles are base
 profiles.  A base profile sits at the base of the profile's
 inheritance tree, supplying the defaults for every profile derived
 from it.  (See also is_system_profile).

        	</documentation>
		<input message="tns:Networking.ProfileWCCPGRE.is_base_profileRequest"/>
		<output message="tns:Networking.ProfileWCCPGRE.is_base_profileResponse"/>
	</operation>
	<operation name="is_system_profile">
	<documentation>
 Determines whether the specified WCCP-GRE tunnel profiles are
 system profiles.  A system profile is a profile pre-configured on
 the system, ready for use.  Non-system profiles are profiles
 created or modified by a user.  Note that if a system profile is
 modified, it is no longer considered a system profile.  (See also
 is_base_profile).

        	</documentation>
		<input message="tns:Networking.ProfileWCCPGRE.is_system_profileRequest"/>
		<output message="tns:Networking.ProfileWCCPGRE.is_system_profileResponse"/>
	</operation>
	<operation name="set_default_profile">
	<documentation>
 Sets the existing WCCP-GRE tunnel profile from which this set of
 WCCP-GRE tunnel profiles inherits their unspecified attribute
 values.

        	</documentation>
		<input message="tns:Networking.ProfileWCCPGRE.set_default_profileRequest"/>
		<output message="tns:Networking.ProfileWCCPGRE.set_default_profileResponse"/>
	</operation>
	<operation name="get_default_profile">
	<documentation>
 Gets the existing WCCP-GRE tunnel profile from which this set of
 WCCP-GRE profiles inherits its unspecified attribute values.

        	</documentation>
		<input message="tns:Networking.ProfileWCCPGRE.get_default_profileRequest"/>
		<output message="tns:Networking.ProfileWCCPGRE.get_default_profileResponse"/>
	</operation>
	<operation name="set_include_checksum_state">
	<documentation>
 Sets whether the checksum should be included in the transmitted
 packets for a set of WCCP-GRE tunnel profiles.

        	</documentation>
		<input message="tns:Networking.ProfileWCCPGRE.set_include_checksum_stateRequest"/>
		<output message="tns:Networking.ProfileWCCPGRE.set_include_checksum_stateResponse"/>
	</operation>
	<operation name="get_include_checksum_state">
	<documentation>
 Gets whether the checksum should be included in the transmitted
 packets for a set of WCCP-GRE tunnel profiles.

        	</documentation>
		<input message="tns:Networking.ProfileWCCPGRE.get_include_checksum_stateRequest"/>
		<output message="tns:Networking.ProfileWCCPGRE.get_include_checksum_stateResponse"/>
	</operation>
	<operation name="set_validate_checksum_state">
	<documentation>
 Sets whether the checksum should be validated on the received
 packets for a set of WCCP-GRE tunnel profiles.

        	</documentation>
		<input message="tns:Networking.ProfileWCCPGRE.set_validate_checksum_stateRequest"/>
		<output message="tns:Networking.ProfileWCCPGRE.set_validate_checksum_stateResponse"/>
	</operation>
	<operation name="get_validate_checksum_state">
	<documentation>
 Gets whether the checksum should be validated on the received
 packets for a set of WCCP-GRE tunnel profiles.

        	</documentation>
		<input message="tns:Networking.ProfileWCCPGRE.get_validate_checksum_stateRequest"/>
		<output message="tns:Networking.ProfileWCCPGRE.get_validate_checksum_stateResponse"/>
	</operation>
	<operation name="set_wccp_version">
	<documentation>
 Sets the WCCP version currently in use for a set of WCCP-GRE tunnel
 profiles.

        	</documentation>
		<input message="tns:Networking.ProfileWCCPGRE.set_wccp_versionRequest"/>
		<output message="tns:Networking.ProfileWCCPGRE.set_wccp_versionResponse"/>
	</operation>
	<operation name="get_wccp_version">
	<documentation>
 Gets the WCCP version currently in use for a set of WCCP-GRE tunnel
 profiles.

        	</documentation>
		<input message="tns:Networking.ProfileWCCPGRE.get_wccp_versionRequest"/>
		<output message="tns:Networking.ProfileWCCPGRE.get_wccp_versionResponse"/>
	</operation>
	<operation name="set_egress_forwarding">
	<documentation>
 Sets the forwarding specification for packets leaving a WCCP-GRE
 tunnel for a set of WCCP-GRE tunnel profiles.

        	</documentation>
		<input message="tns:Networking.ProfileWCCPGRE.set_egress_forwardingRequest"/>
		<output message="tns:Networking.ProfileWCCPGRE.set_egress_forwardingResponse"/>
	</operation>
	<operation name="get_egress_forwarding">
	<documentation>
 Gets the forwarding specification for packets leaving a WCCP-GRE
 tunnel for a set of WCCP-GRE tunnel profiles.

        	</documentation>
		<input message="tns:Networking.ProfileWCCPGRE.get_egress_forwardingRequest"/>
		<output message="tns:Networking.ProfileWCCPGRE.get_egress_forwardingResponse"/>
	</operation>
	<operation name="set_description">
	<documentation>
 Sets the description for a set of WCCP-GRE tunnel profiles.

 This is an arbitrary field which can be used for any purpose.

        	</documentation>
		<input message="tns:Networking.ProfileWCCPGRE.set_descriptionRequest"/>
		<output message="tns:Networking.ProfileWCCPGRE.set_descriptionResponse"/>
	</operation>
	<operation name="get_description">
	<documentation>
 Gets the descriptions for a set of WCCP-GRE tunnel profiles.

        	</documentation>
		<input message="tns:Networking.ProfileWCCPGRE.get_descriptionRequest"/>
		<output message="tns:Networking.ProfileWCCPGRE.get_descriptionResponse"/>
	</operation>
	<operation name="get_version">
	<documentation>
 Gets the version information for this interface.

        	</documentation>
		<input message="tns:Networking.ProfileWCCPGRE.get_versionRequest"/>
		<output message="tns:Networking.ProfileWCCPGRE.get_versionResponse"/>
	</operation>
</portType>

<!-- binding -->

<binding name="Networking.ProfileWCCPGREBinding" type="tns:Networking.ProfileWCCPGREPortType">
	<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
	<operation name="get_list">
	<documentation>
 Gets the names for all WCCP-GRE tunnel profiles.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/ProfileWCCPGRE"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/ProfileWCCPGRE"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/ProfileWCCPGRE"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="create">
	<documentation>
 Creates a set of WCCP-GRE tunnel profiles.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/ProfileWCCPGRE"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/ProfileWCCPGRE"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/ProfileWCCPGRE"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="delete_profile">
	<documentation>
 Deletes a set of WCCP-GRE tunnel profiles.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/ProfileWCCPGRE"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/ProfileWCCPGRE"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/ProfileWCCPGRE"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="delete_all_profiles">
	<documentation>
 Deletes all non-system WCCP-GRE tunnel profiles.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/ProfileWCCPGRE"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/ProfileWCCPGRE"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/ProfileWCCPGRE"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="is_base_profile">
	<documentation>
 Determines whether the specified WCCP-GRE tunnel profiles are base
 profiles.  A base profile sits at the base of the profile's
 inheritance tree, supplying the defaults for every profile derived
 from it.  (See also is_system_profile).

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/ProfileWCCPGRE"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/ProfileWCCPGRE"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/ProfileWCCPGRE"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="is_system_profile">
	<documentation>
 Determines whether the specified WCCP-GRE tunnel profiles are
 system profiles.  A system profile is a profile pre-configured on
 the system, ready for use.  Non-system profiles are profiles
 created or modified by a user.  Note that if a system profile is
 modified, it is no longer considered a system profile.  (See also
 is_base_profile).

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/ProfileWCCPGRE"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/ProfileWCCPGRE"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/ProfileWCCPGRE"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_default_profile">
	<documentation>
 Sets the existing WCCP-GRE tunnel profile from which this set of
 WCCP-GRE tunnel profiles inherits their unspecified attribute
 values.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/ProfileWCCPGRE"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/ProfileWCCPGRE"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/ProfileWCCPGRE"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_default_profile">
	<documentation>
 Gets the existing WCCP-GRE tunnel profile from which this set of
 WCCP-GRE profiles inherits its unspecified attribute values.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/ProfileWCCPGRE"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/ProfileWCCPGRE"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/ProfileWCCPGRE"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_include_checksum_state">
	<documentation>
 Sets whether the checksum should be included in the transmitted
 packets for a set of WCCP-GRE tunnel profiles.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/ProfileWCCPGRE"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/ProfileWCCPGRE"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/ProfileWCCPGRE"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_include_checksum_state">
	<documentation>
 Gets whether the checksum should be included in the transmitted
 packets for a set of WCCP-GRE tunnel profiles.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/ProfileWCCPGRE"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/ProfileWCCPGRE"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/ProfileWCCPGRE"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_validate_checksum_state">
	<documentation>
 Sets whether the checksum should be validated on the received
 packets for a set of WCCP-GRE tunnel profiles.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/ProfileWCCPGRE"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/ProfileWCCPGRE"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/ProfileWCCPGRE"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_validate_checksum_state">
	<documentation>
 Gets whether the checksum should be validated on the received
 packets for a set of WCCP-GRE tunnel profiles.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/ProfileWCCPGRE"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/ProfileWCCPGRE"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/ProfileWCCPGRE"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_wccp_version">
	<documentation>
 Sets the WCCP version currently in use for a set of WCCP-GRE tunnel
 profiles.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/ProfileWCCPGRE"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/ProfileWCCPGRE"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/ProfileWCCPGRE"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_wccp_version">
	<documentation>
 Gets the WCCP version currently in use for a set of WCCP-GRE tunnel
 profiles.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/ProfileWCCPGRE"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/ProfileWCCPGRE"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/ProfileWCCPGRE"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_egress_forwarding">
	<documentation>
 Sets the forwarding specification for packets leaving a WCCP-GRE
 tunnel for a set of WCCP-GRE tunnel profiles.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/ProfileWCCPGRE"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/ProfileWCCPGRE"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/ProfileWCCPGRE"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_egress_forwarding">
	<documentation>
 Gets the forwarding specification for packets leaving a WCCP-GRE
 tunnel for a set of WCCP-GRE tunnel profiles.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/ProfileWCCPGRE"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/ProfileWCCPGRE"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/ProfileWCCPGRE"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_description">
	<documentation>
 Sets the description for a set of WCCP-GRE tunnel profiles.

 This is an arbitrary field which can be used for any purpose.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/ProfileWCCPGRE"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/ProfileWCCPGRE"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/ProfileWCCPGRE"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_description">
	<documentation>
 Gets the descriptions for a set of WCCP-GRE tunnel profiles.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/ProfileWCCPGRE"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/ProfileWCCPGRE"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/ProfileWCCPGRE"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_version">
	<documentation>
 Gets the version information for this interface.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/ProfileWCCPGRE"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/ProfileWCCPGRE"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/ProfileWCCPGRE"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>
</binding>

<!-- service -->

<service name="Networking.ProfileWCCPGRE">
	<documentation>
 The ProfileWCCPGRE interface allows you to manipulate a WCCP-GRE tunnel
 profile to configure the General Routing Encapsulation (GRE - RFC2784)
 tunnel protocol in conjunction with the Web-Cache Communication
 Protocol (WCCP).  See the Networking/ProfileGRE interface for
 additional information.

        	</documentation>
	<port name="Networking.ProfileWCCPGREPort" binding="tns:Networking.ProfileWCCPGREBinding">
		<soap:address location="https://url_to_service"/>
	</port>
</service>
</definitions>
