lib/puppet/util/network_device/wsdl/Security.FirewallAddressList.wsdl

<?xml version="1.0" ?>
<!--
Copyright (c) 1996-2012, F5 Networks, Inc., Seattle, Washington. All rights reserved.  

F5, F5 Networks, the F5 logo, BIG-IP, 3-DNS, iControl, GLOBAL-SITE, SEE-IT, EDGE-FX, FireGuard, Internet Control Architecture, IP Application Switch, iRules, PACKET VELOCITY, SYN Check, CONTROL YOUR WORLD, OneConnect, ZoneRunner, uRoam, FirePass, and TrafficShield are registered trademarks or trademarks of F5 Networks, Inc., in the U.S. and certain other countries. 

All other trademarks mentioned in this document are the property of their respective owners. F5 Networks' trademarks may not be used in connection with any product or service except as permitted in writing by F5.

-->
<definitions name="Security.FirewallAddressList"
	targetNamespace="urn:iControl"
	xmlns:tns="urn:iControl"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns="http://schemas.xmlsoap.org/wsdl/">

<!-- types -->

<types>
	<xsd:schema targetNamespace='urn:iControl'
		xmlns='http://www.w3.org/2001/XMLSchema'
		xmlns:SOAP-ENC='http://schemas.xmlsoap.org/soap/encoding/'
		xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>
		<xsd:complexType name="Common.NetAddressSequenceSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='tns:Common.NetAddressSequence[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:complexType name="Common.StringSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:string[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:complexType name="Common.NetAddressSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:string[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:complexType name="Common.StringSequenceSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='tns:Common.StringSequence[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:schema>
</types>

<!-- message -->

<message name="Security.FirewallAddressList.get_listRequest">
</message>
<message name="Security.FirewallAddressList.get_listResponse">
	<part name="return" type="tns:Common.StringSequence"/>
</message>

<message name="Security.FirewallAddressList.createRequest">
	<part name="lists" type="tns:Common.StringSequence"/>
	<part name="addresses" type="tns:Common.NetAddressSequenceSequence"/>
</message>
<message name="Security.FirewallAddressList.createResponse">
</message>

<message name="Security.FirewallAddressList.delete_address_listRequest">
	<part name="lists" type="tns:Common.StringSequence"/>
</message>
<message name="Security.FirewallAddressList.delete_address_listResponse">
</message>

<message name="Security.FirewallAddressList.delete_all_address_listsRequest">
</message>
<message name="Security.FirewallAddressList.delete_all_address_listsResponse">
</message>

<message name="Security.FirewallAddressList.set_descriptionRequest">
	<part name="lists" type="tns:Common.StringSequence"/>
	<part name="descriptions" type="tns:Common.StringSequence"/>
</message>
<message name="Security.FirewallAddressList.set_descriptionResponse">
</message>

<message name="Security.FirewallAddressList.get_descriptionRequest">
	<part name="lists" type="tns:Common.StringSequence"/>
</message>
<message name="Security.FirewallAddressList.get_descriptionResponse">
	<part name="return" type="tns:Common.StringSequence"/>
</message>

<message name="Security.FirewallAddressList.get_addressRequest">
	<part name="lists" type="tns:Common.StringSequence"/>
</message>
<message name="Security.FirewallAddressList.get_addressResponse">
	<part name="return" type="tns:Common.NetAddressSequenceSequence"/>
</message>

<message name="Security.FirewallAddressList.add_addressRequest">
	<part name="lists" type="tns:Common.StringSequence"/>
	<part name="addresses" type="tns:Common.NetAddressSequenceSequence"/>
</message>
<message name="Security.FirewallAddressList.add_addressResponse">
</message>

<message name="Security.FirewallAddressList.remove_addressRequest">
	<part name="lists" type="tns:Common.StringSequence"/>
	<part name="addresses" type="tns:Common.NetAddressSequenceSequence"/>
</message>
<message name="Security.FirewallAddressList.remove_addressResponse">
</message>

<message name="Security.FirewallAddressList.remove_all_addressesRequest">
	<part name="lists" type="tns:Common.StringSequence"/>
</message>
<message name="Security.FirewallAddressList.remove_all_addressesResponse">
</message>

<message name="Security.FirewallAddressList.set_address_descriptionRequest">
	<part name="lists" type="tns:Common.StringSequence"/>
	<part name="addresses" type="tns:Common.NetAddressSequenceSequence"/>
	<part name="descriptions" type="tns:Common.StringSequenceSequence"/>
</message>
<message name="Security.FirewallAddressList.set_address_descriptionResponse">
</message>

<message name="Security.FirewallAddressList.get_address_descriptionRequest">
	<part name="lists" type="tns:Common.StringSequence"/>
	<part name="addresses" type="tns:Common.NetAddressSequenceSequence"/>
</message>
<message name="Security.FirewallAddressList.get_address_descriptionResponse">
	<part name="return" type="tns:Common.StringSequenceSequence"/>
</message>

<message name="Security.FirewallAddressList.get_versionRequest">
</message>
<message name="Security.FirewallAddressList.get_versionResponse">
	<part name="return" type="xsd:string"/>
</message>

<!-- portType -->

<portType name="Security.FirewallAddressListPortType">
	<operation name="get_list">
    	<documentation>
 Gets the list of firewall IP address lists on this device.

        	</documentation>
		<input message="tns:Security.FirewallAddressList.get_listRequest"/>
		<output message="tns:Security.FirewallAddressList.get_listResponse"/>
	</operation>
	<operation name="create">
	<documentation>
 Creates a firewall IP address list.

        	</documentation>
		<input message="tns:Security.FirewallAddressList.createRequest"/>
		<output message="tns:Security.FirewallAddressList.createResponse"/>
	</operation>
	<operation name="delete_address_list">
	<documentation>
 Deletes a set of firewall IP address lists.

        	</documentation>
		<input message="tns:Security.FirewallAddressList.delete_address_listRequest"/>
		<output message="tns:Security.FirewallAddressList.delete_address_listResponse"/>
	</operation>
	<operation name="delete_all_address_lists">
	<documentation>
 Deletes all firewall IP address lists on this device.

        	</documentation>
		<input message="tns:Security.FirewallAddressList.delete_all_address_listsRequest"/>
		<output message="tns:Security.FirewallAddressList.delete_all_address_listsResponse"/>
	</operation>
	<operation name="set_description">
	<documentation>
 Sets the description for a set of firewall IP address lists.

 This is an arbitrary field which can be used for any purpose.

        	</documentation>
		<input message="tns:Security.FirewallAddressList.set_descriptionRequest"/>
		<output message="tns:Security.FirewallAddressList.set_descriptionResponse"/>
	</operation>
	<operation name="get_description">
	<documentation>
 Gets the descriptions for a set of firewall IP address lists.

        	</documentation>
		<input message="tns:Security.FirewallAddressList.get_descriptionRequest"/>
		<output message="tns:Security.FirewallAddressList.get_descriptionResponse"/>
	</operation>
	<operation name="get_address">
	<documentation>
 Gets the entries of the specified firewall IP address lists.

        	</documentation>
		<input message="tns:Security.FirewallAddressList.get_addressRequest"/>
		<output message="tns:Security.FirewallAddressList.get_addressResponse"/>
	</operation>
	<operation name="add_address">
	<documentation>
 Adds a set of IP addresses to the specified firewall IP address lists.

        	</documentation>
		<input message="tns:Security.FirewallAddressList.add_addressRequest"/>
		<output message="tns:Security.FirewallAddressList.add_addressResponse"/>
	</operation>
	<operation name="remove_address">
	<documentation>
 Removes a set of entries from the specified firewall IP address lists.

        	</documentation>
		<input message="tns:Security.FirewallAddressList.remove_addressRequest"/>
		<output message="tns:Security.FirewallAddressList.remove_addressResponse"/>
	</operation>
	<operation name="remove_all_addresses">
	<documentation>
 Removes all entries from the specified firewall IP address lists.

        	</documentation>
		<input message="tns:Security.FirewallAddressList.remove_all_addressesRequest"/>
		<output message="tns:Security.FirewallAddressList.remove_all_addressesResponse"/>
	</operation>
	<operation name="set_address_description">
	<documentation>
 Sets the description for a set of firewall IP address list entries.

 This is an arbitrary field which can be used for any purpose.

        	</documentation>
		<input message="tns:Security.FirewallAddressList.set_address_descriptionRequest"/>
		<output message="tns:Security.FirewallAddressList.set_address_descriptionResponse"/>
	</operation>
	<operation name="get_address_description">
	<documentation>
 Gets the descriptions for a set of firewall IP address list entries.

        	</documentation>
		<input message="tns:Security.FirewallAddressList.get_address_descriptionRequest"/>
		<output message="tns:Security.FirewallAddressList.get_address_descriptionResponse"/>
	</operation>
	<operation name="get_version">
	<documentation>
 Gets the version information for this interface.
 
        	</documentation>
		<input message="tns:Security.FirewallAddressList.get_versionRequest"/>
		<output message="tns:Security.FirewallAddressList.get_versionResponse"/>
	</operation>
</portType>

<!-- binding -->

<binding name="Security.FirewallAddressListBinding" type="tns:Security.FirewallAddressListPortType">
	<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
	<operation name="get_list">
	<documentation>
 Gets the list of firewall IP address lists on this device.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Security/FirewallAddressList"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Security/FirewallAddressList"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Security/FirewallAddressList"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="create">
	<documentation>
 Creates a firewall IP address list.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Security/FirewallAddressList"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Security/FirewallAddressList"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Security/FirewallAddressList"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="delete_address_list">
	<documentation>
 Deletes a set of firewall IP address lists.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Security/FirewallAddressList"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Security/FirewallAddressList"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Security/FirewallAddressList"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="delete_all_address_lists">
	<documentation>
 Deletes all firewall IP address lists on this device.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Security/FirewallAddressList"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Security/FirewallAddressList"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Security/FirewallAddressList"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_description">
	<documentation>
 Sets the description for a set of firewall IP address lists.

 This is an arbitrary field which can be used for any purpose.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Security/FirewallAddressList"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Security/FirewallAddressList"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Security/FirewallAddressList"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_description">
	<documentation>
 Gets the descriptions for a set of firewall IP address lists.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Security/FirewallAddressList"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Security/FirewallAddressList"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Security/FirewallAddressList"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_address">
	<documentation>
 Gets the entries of the specified firewall IP address lists.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Security/FirewallAddressList"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Security/FirewallAddressList"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Security/FirewallAddressList"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="add_address">
	<documentation>
 Adds a set of IP addresses to the specified firewall IP address lists.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Security/FirewallAddressList"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Security/FirewallAddressList"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Security/FirewallAddressList"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="remove_address">
	<documentation>
 Removes a set of entries from the specified firewall IP address lists.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Security/FirewallAddressList"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Security/FirewallAddressList"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Security/FirewallAddressList"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="remove_all_addresses">
	<documentation>
 Removes all entries from the specified firewall IP address lists.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Security/FirewallAddressList"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Security/FirewallAddressList"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Security/FirewallAddressList"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_address_description">
	<documentation>
 Sets the description for a set of firewall IP address list entries.

 This is an arbitrary field which can be used for any purpose.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Security/FirewallAddressList"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Security/FirewallAddressList"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Security/FirewallAddressList"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_address_description">
	<documentation>
 Gets the descriptions for a set of firewall IP address list entries.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Security/FirewallAddressList"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Security/FirewallAddressList"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Security/FirewallAddressList"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_version">
	<documentation>
 Gets the version information for this interface.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:Security/FirewallAddressList"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Security/FirewallAddressList"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Security/FirewallAddressList"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>
</binding>

<!-- service -->

<service name="Security.FirewallAddressList">
	<documentation>
 The FirewallAddressList interface enables you to create and modify
 IP address lists on which to perform firewall security actions.

 Note that the addresses in all methods are type
 Common::NetAddress, a type which allows one to specify a prefix
 length after the address, e.g., "10.1.1.0/24".

        	</documentation>
	<port name="Security.FirewallAddressListPort" binding="tns:Security.FirewallAddressListBinding">
		<soap:address location="https://url_to_service"/>
	</port>
</service>
</definitions>
