lib/puppet/util/network_device/wsdl/System.Inet.wsdl

<?xml version="1.0" ?>
<!--
Copyright (c) 1996-2012, F5 Networks, Inc., Seattle, Washington. All rights reserved.  

F5, F5 Networks, the F5 logo, BIG-IP, 3-DNS, iControl, GLOBAL-SITE, SEE-IT, EDGE-FX, FireGuard, Internet Control Architecture, IP Application Switch, iRules, PACKET VELOCITY, SYN Check, CONTROL YOUR WORLD, OneConnect, ZoneRunner, uRoam, FirePass, and TrafficShield are registered trademarks or trademarks of F5 Networks, Inc., in the U.S. and certain other countries. 

All other trademarks mentioned in this document are the property of their respective owners. F5 Networks' trademarks may not be used in connection with any product or service except as permitted in writing by F5.

-->
<definitions name="System.Inet"
	targetNamespace="urn:iControl"
	xmlns:tns="urn:iControl"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns="http://schemas.xmlsoap.org/wsdl/">

<!-- types -->

<types>
	<xsd:schema targetNamespace='urn:iControl'
		xmlns='http://www.w3.org/2001/XMLSchema'
		xmlns:SOAP-ENC='http://schemas.xmlsoap.org/soap/encoding/'
		xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>
		<xsd:complexType name="Common.StringSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:string[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:complexType name="Common.ULongSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:long[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:complexType name="Common.IPAddressSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:string[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:schema>
</types>

<!-- message -->

<message name="System.Inet.get_hostnameRequest">
</message>
<message name="System.Inet.get_hostnameResponse">
	<part name="return" type="xsd:string"/>
</message>

<message name="System.Inet.set_hostnameRequest">
	<part name="hostname" type="xsd:string"/>
</message>
<message name="System.Inet.set_hostnameResponse">
</message>

<message name="System.Inet.set_ntp_server_addressRequest">
	<part name="ntp_addresses" type="tns:Common.StringSequence"/>
</message>
<message name="System.Inet.set_ntp_server_addressResponse">
</message>

<message name="System.Inet.get_ntp_server_addressRequest">
</message>
<message name="System.Inet.get_ntp_server_addressResponse">
	<part name="return" type="tns:Common.StringSequence"/>
</message>

<message name="System.Inet.get_dns_server_addressRequest">
</message>
<message name="System.Inet.get_dns_server_addressResponse">
	<part name="return" type="tns:Common.StringSequence"/>
</message>

<message name="System.Inet.ip_to_hostnameRequest">
	<part name="ip_addresses" type="tns:Common.IPAddressSequence"/>
</message>
<message name="System.Inet.ip_to_hostnameResponse">
	<part name="return" type="tns:Common.StringSequence"/>
</message>

<message name="System.Inet.hostname_to_ipRequest">
	<part name="hostnames" type="tns:Common.StringSequence"/>
</message>
<message name="System.Inet.hostname_to_ipResponse">
	<part name="return" type="tns:Common.IPAddressSequence"/>
</message>

<message name="System.Inet.service_number_to_service_nameRequest">
	<part name="services" type="tns:Common.ULongSequence"/>
</message>
<message name="System.Inet.service_number_to_service_nameResponse">
	<part name="return" type="tns:Common.StringSequence"/>
</message>

<message name="System.Inet.service_name_to_service_numberRequest">
	<part name="service_names" type="tns:Common.StringSequence"/>
</message>
<message name="System.Inet.service_name_to_service_numberResponse">
	<part name="return" type="tns:Common.ULongSequence"/>
</message>

<message name="System.Inet.get_versionRequest">
</message>
<message name="System.Inet.get_versionResponse">
	<part name="return" type="xsd:string"/>
</message>

<!-- portType -->

<portType name="System.InetPortType">
	<operation name="get_hostname">
     	<documentation>

 Gets the host name of the device.

        	</documentation>
		<input message="tns:System.Inet.get_hostnameRequest"/>
		<output message="tns:System.Inet.get_hostnameResponse"/>
	</operation>
	<operation name="set_hostname">
	<documentation>

 Sets the host name of the device.

        	</documentation>
		<input message="tns:System.Inet.set_hostnameRequest"/>
		<output message="tns:System.Inet.set_hostnameResponse"/>
	</operation>
	<operation name="set_ntp_server_address">
	<documentation>

 Configures the IP address/host name that the device uses for its NTP service.

        	</documentation>
		<input message="tns:System.Inet.set_ntp_server_addressRequest"/>
		<output message="tns:System.Inet.set_ntp_server_addressResponse"/>
	</operation>
	<operation name="get_ntp_server_address">
	<documentation>

 Gets the IP address/host name that the device is using for its NTP service.

        	</documentation>
		<input message="tns:System.Inet.get_ntp_server_addressRequest"/>
		<output message="tns:System.Inet.get_ntp_server_addressResponse"/>
	</operation>
	<operation name="get_dns_server_address">
	<documentation>

 Gets the IP addresses that the device is using as its DNS servers.

        	</documentation>
		<input message="tns:System.Inet.get_dns_server_addressRequest"/>
		<output message="tns:System.Inet.get_dns_server_addressResponse"/>
	</operation>
	<operation name="ip_to_hostname">
	<documentation>

 Translate the specified IP addresses into hostnames.

        	</documentation>
		<input message="tns:System.Inet.ip_to_hostnameRequest"/>
		<output message="tns:System.Inet.ip_to_hostnameResponse"/>
	</operation>
	<operation name="hostname_to_ip">
	<documentation>

 Translate the specified hostnames to IP addresses. 

        	</documentation>
		<input message="tns:System.Inet.hostname_to_ipRequest"/>
		<output message="tns:System.Inet.hostname_to_ipResponse"/>
	</operation>
	<operation name="service_number_to_service_name">
	<documentation>

 Translate the specified service numbers into service names.  If an service number can not be translated into
 an equivalent service name, the string format of the service number will be returned.

        	</documentation>
		<input message="tns:System.Inet.service_number_to_service_nameRequest"/>
		<output message="tns:System.Inet.service_number_to_service_nameResponse"/>
	</operation>
	<operation name="service_name_to_service_number">
	<documentation>

 Translate the specified service names to service numbers.  If a service name can not be translated into
 an equivalent service number, a service number of 0 will be returned for that service name.

        	</documentation>
		<input message="tns:System.Inet.service_name_to_service_numberRequest"/>
		<output message="tns:System.Inet.service_name_to_service_numberResponse"/>
	</operation>
	<operation name="get_version">
	<documentation>
 Gets the version information for this interface.

        	</documentation>
		<input message="tns:System.Inet.get_versionRequest"/>
		<output message="tns:System.Inet.get_versionResponse"/>
	</operation>
</portType>

<!-- binding -->

<binding name="System.InetBinding" type="tns:System.InetPortType">
	<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
	<operation name="get_hostname">
	<documentation>

 Gets the host name of the device.

        	</documentation>
		<soap:operation soapAction="urn:iControl:System/Inet"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:System/Inet"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:System/Inet"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_hostname">
	<documentation>

 Sets the host name of the device.

        	</documentation>
		<soap:operation soapAction="urn:iControl:System/Inet"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:System/Inet"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:System/Inet"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_ntp_server_address">
	<documentation>

 Configures the IP address/host name that the device uses for its NTP service.

        	</documentation>
		<soap:operation soapAction="urn:iControl:System/Inet"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:System/Inet"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:System/Inet"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_ntp_server_address">
	<documentation>

 Gets the IP address/host name that the device is using for its NTP service.

        	</documentation>
		<soap:operation soapAction="urn:iControl:System/Inet"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:System/Inet"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:System/Inet"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_dns_server_address">
	<documentation>

 Gets the IP addresses that the device is using as its DNS servers.

        	</documentation>
		<soap:operation soapAction="urn:iControl:System/Inet"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:System/Inet"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:System/Inet"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="ip_to_hostname">
	<documentation>

 Translate the specified IP addresses into hostnames.

        	</documentation>
		<soap:operation soapAction="urn:iControl:System/Inet"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:System/Inet"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:System/Inet"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="hostname_to_ip">
	<documentation>

 Translate the specified hostnames to IP addresses. 

        	</documentation>
		<soap:operation soapAction="urn:iControl:System/Inet"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:System/Inet"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:System/Inet"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="service_number_to_service_name">
	<documentation>

 Translate the specified service numbers into service names.  If an service number can not be translated into
 an equivalent service name, the string format of the service number will be returned.

        	</documentation>
		<soap:operation soapAction="urn:iControl:System/Inet"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:System/Inet"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:System/Inet"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="service_name_to_service_number">
	<documentation>

 Translate the specified service names to service numbers.  If a service name can not be translated into
 an equivalent service number, a service number of 0 will be returned for that service name.

        	</documentation>
		<soap:operation soapAction="urn:iControl:System/Inet"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:System/Inet"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:System/Inet"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_version">
	<documentation>
 Gets the version information for this interface.

        	</documentation>
		<soap:operation soapAction="urn:iControl:System/Inet"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:System/Inet"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:System/Inet"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>
</binding>

<!-- service -->

<service name="System.Inet">
	<documentation>

 The Inet interface exposes the internal API functionality that you can use to manipulate the rc.conf and resolv.conf files.  The ntp.conf file includes the functionality that you can use to set and get the following settings:  host name, IP address (get only), router, NTP server and DNS server.

        	</documentation>
	<port name="System.InetPort" binding="tns:System.InetBinding">
		<soap:address location="https://url_to_service"/>
	</port>
</service>
</definitions>
