lib/puppet/util/network_device/wsdl/WebAccelerator.ProxyMessage.wsdl

<?xml version="1.0" ?>
<!--
Copyright (c) 1996-2012, F5 Networks, Inc., Seattle, Washington. All rights reserved.  

F5, F5 Networks, the F5 logo, BIG-IP, 3-DNS, iControl, GLOBAL-SITE, SEE-IT, EDGE-FX, FireGuard, Internet Control Architecture, IP Application Switch, iRules, PACKET VELOCITY, SYN Check, CONTROL YOUR WORLD, OneConnect, ZoneRunner, uRoam, FirePass, and TrafficShield are registered trademarks or trademarks of F5 Networks, Inc., in the U.S. and certain other countries. 

All other trademarks mentioned in this document are the property of their respective owners. F5 Networks' trademarks may not be used in connection with any product or service except as permitted in writing by F5.

-->
<definitions name="WebAccelerator.ProxyMessage"
	targetNamespace="urn:iControl"
	xmlns:tns="urn:iControl"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns="http://schemas.xmlsoap.org/wsdl/">

<!-- types -->

<types>
	<xsd:schema targetNamespace='urn:iControl'
		xmlns='http://www.w3.org/2001/XMLSchema'
		xmlns:SOAP-ENC='http://schemas.xmlsoap.org/soap/encoding/'
		xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>
		<xsd:simpleType name="Common.OctetSequence">
			<xsd:restriction base="xsd:base64Binary"/>
		</xsd:simpleType>
	</xsd:schema>
</types>

<!-- message -->

<message name="WebAccelerator.ProxyMessage.invalidate_contentRequest">
	<part name="invalidation_message" type="tns:Common.OctetSequence"/>
</message>
<message name="WebAccelerator.ProxyMessage.invalidate_contentResponse">
</message>

<message name="WebAccelerator.ProxyMessage.esi_invalidate_contentRequest">
	<part name="invalidation_message" type="tns:Common.OctetSequence"/>
</message>
<message name="WebAccelerator.ProxyMessage.esi_invalidate_contentResponse">
</message>

<message name="WebAccelerator.ProxyMessage.get_versionRequest">
</message>
<message name="WebAccelerator.ProxyMessage.get_versionResponse">
	<part name="return" type="xsd:string"/>
</message>

<!-- portType -->

<portType name="WebAccelerator.ProxyMessagePortType">
	<operation name="invalidate_content">
     	<documentation>
 Invalidates the content on the peer pvac after receiving a trigger in a HTTP request.
 
        	</documentation>
		<input message="tns:WebAccelerator.ProxyMessage.invalidate_contentRequest"/>
		<output message="tns:WebAccelerator.ProxyMessage.invalidate_contentResponse"/>
	</operation>
	<operation name="esi_invalidate_content">
	<documentation>
 Invalidates the WA content after receiving an ESI Invaidation.

        	</documentation>
		<input message="tns:WebAccelerator.ProxyMessage.esi_invalidate_contentRequest"/>
		<output message="tns:WebAccelerator.ProxyMessage.esi_invalidate_contentResponse"/>
	</operation>
	<operation name="get_version">
	<documentation>
 Gets the version information for this interface.

        	</documentation>
		<input message="tns:WebAccelerator.ProxyMessage.get_versionRequest"/>
		<output message="tns:WebAccelerator.ProxyMessage.get_versionResponse"/>
	</operation>
</portType>

<!-- binding -->

<binding name="WebAccelerator.ProxyMessageBinding" type="tns:WebAccelerator.ProxyMessagePortType">
	<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
	<operation name="invalidate_content">
	<documentation>
 Invalidates the content on the peer pvac after receiving a trigger in a HTTP request.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:WebAccelerator/ProxyMessage"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:WebAccelerator/ProxyMessage"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:WebAccelerator/ProxyMessage"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="esi_invalidate_content">
	<documentation>
 Invalidates the WA content after receiving an ESI Invaidation.

        	</documentation>
		<soap:operation soapAction="urn:iControl:WebAccelerator/ProxyMessage"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:WebAccelerator/ProxyMessage"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:WebAccelerator/ProxyMessage"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_version">
	<documentation>
 Gets the version information for this interface.

        	</documentation>
		<soap:operation soapAction="urn:iControl:WebAccelerator/ProxyMessage"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:WebAccelerator/ProxyMessage"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:WebAccelerator/ProxyMessage"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>
</binding>

<!-- service -->

<service name="WebAccelerator.ProxyMessage">
	<documentation>
 The ProxyMessage interface enables you to send Invalidations to the WAM on the other Active BIG-IP to invalidate content.

 This interface does not support transactions.

        	</documentation>
	<port name="WebAccelerator.ProxyMessagePort" binding="tns:WebAccelerator.ProxyMessageBinding">
		<soap:address location="https://url_to_service"/>
	</port>
</service>
</definitions>
